<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <form [formGroup]="form">
        <theme-form-input [id]="'searchInnovation'" controlName="search" label="Search all innovations" [pageUniqueField]="false" placeholder="Search" width="one-third">
          <ng-container append>
            <button type="button" (click)="onSearchClick()" class="nhsuk-search__submit form-input-appended-button-search" id="search-btn">
              <theme-svg-icon type="search" />
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </ng-container>
        </theme-form-input>
      </form>

      <a class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-0" routerLink="advanced-search">More search options</a>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-3" />
    </div>
  </div>

  <div class="app-tabs nhsuk-u-margin-bottom-0">
    <ul class="app-tabs__list" role="tablist" aria-label="Tabs">
      <li *ngFor="let item of tabs" class="app-tabs__item" [routerLinkActive]="'selected'">
        <div class="d-flex">
          <a
            id="tab-{{ item.key }}"
            [routerLink]="item.link"
            [queryParams]="item.queryParams"
            role="tab"
            class="nhsuk-u-padding-right-1"
            attr.aria-controls="content-{{ item.key }}"
            attr.aria-selected="{{ currentTab.key === item.key ? 'true' : 'false' }}"
          >
            {{ item.title }}
          </a>
          <theme-notification-tag [label]="item.notifications"></theme-notification-tag>
        </div>
      </li>
    </ul>
  </div>

  <div class="nhsuk-grid-row">
    <div id="content-{{ currentTab.key }}" role="tabpanel" attr.aria-labelledby="tab-{{ currentTab.key }}" class="nhsuk-grid-column-full">
      <div class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        <p class="nhsuk-u-margin-bottom-0">{{ currentTab.mainDescription }}</p>
        <p class="nhsuk-hint nhsuk-u-margin-bottom-0">{{ currentTab.secondaryDescription }}</p>
      </div>
      <form [formGroup]="form" class="nhsuk-u-margin-bottom-1">
        <div formGroupName="tabsFilters">
          <theme-form-checkbox *ngIf="currentTab.showAssignedToMeFilter" controlName="assignedToMe" label="Only show innovations assigned to me" size="small"></theme-form-checkbox>
          <theme-form-checkbox
            *ngIf="currentTab.showSuggestedOnlyFilter"
            controlName="suggestedOnly"
            label="Only show suggested innovations for my organisation"
            size="small"
          ></theme-form-checkbox>
          <theme-form-checkbox
            *ngIf="currentTab.showClosedByMyOrganisationFilter"
            controlName="closedByMyOrganisation"
            label="Only show innovations closed by my organisation"
            size="small"
          ></theme-form-checkbox>
        </div>
      </form>
      <p class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3" aria-live="polite">{{ innovationsList.getTotalRowsNumber() }} innovations</p>

      <hr class="nhsuk-section-break nhsuk-section-break--visible" />

      <p *ngIf="innovationsList.getTotalRowsNumber() === 0" class="nhsuk-u-padding-top-3">There are no innovations to display.</p>

      <ng-container *ngIf="innovationsList.getTotalRowsNumber() > 0">
        <table class="nhsuk-table-responsive app-sortable-table nhsuk-u-margin-top-3">
          <caption class="nhsuk-table__caption">
            <span *ngIf="innovationsList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="">
              <th *ngFor="let item of innovationsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of innovationsList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <div class="d-flex">
                  <div class="nhsuk-u-padding-right-1">
                    <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("name") }} </span>
                    <ng-container *ngIf="(item.support?.status !== 'ENGAGING' && !item.assessment?.id) || item.support?.closeReason?.value === 'STOP_SHARE'; else hasLink">
                      <span> {{ item.name }} </span>
                    </ng-container>
                    <ng-template #hasLink>
                      <a
                        *ngIf="item.support?.status !== 'ENGAGING' && item.assessment?.finishedAt && item.assessment?.id; else noAssessment"
                        routerLink="/accessor/innovations/{{ item.id }}/assessments/{{ item.assessment?.id }}"
                        attr.aria-label="View {{ item.name }} innovation assessment details"
                      >
                        {{ item.name }}
                      </a>
                      <ng-template #noAssessment>
                        <a routerLink="/accessor/innovations/{{ item.id }}" attr.aria-label="View {{ item.name }} innovation">
                          {{ item.name }}
                        </a>
                      </ng-template>
                    </ng-template>
                  </div>
                  <theme-notification-tag *ngIf="item.notifications" [label]="item.notifications"></theme-notification-tag>
                </div>
              </td>

              <td *ngIf="innovationsList.getColumnLabel('submittedAt')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("submittedAt") }} </span>
                {{ item.submittedAt | date: ("app.date_formats.long_date" | translate) }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('updatedAt')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("updatedAt") }} </span>
                {{ item.updatedAt | date: ("app.date_formats.long_date" | translate) }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('support.updatedAt')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("supportUpdatedAt") }} </span>
                {{ item.support?.updatedAt | date: ("app.date_formats.long_date" | translate) }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('suggestion.suggestedOn')" class="nhsuk-table__cell text-nowrap-only-desktop">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("suggestion.suggestedOn") }} </span>
                {{ item.suggestion?.suggestedOn | date: ("app.date_formats.long_date" | translate) }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('suggestion.suggestedBy')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("suggestion.suggestedBy") }} </span>
                {{ item.suggestion?.suggestedBy ?? [] | joinArray }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('mainCategory')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("mainCategory") }}</span>
                {{ item.mainCategory }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('countryName')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("countryName") }}</span>
                {{ item.countryName }}{{ item.postCode ? ", " + item.postCode : "" }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('accessors')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("accessors") }}</span>
                {{ item.accessors.length === 0 ? "" : item.accessors[0] + "" + (item.accessors.length > 1 ? " +" + ((item.accessors.length || 0) - 1) : "") }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('support.status')" class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("supportStatus") }}</span>
                <theme-tag
                  type="{{ 'shared.catalog.innovation.support_status.' + item.support?.status + '.cssColorClass' | translate }}"
                  label="{{ 'shared.catalog.innovation.support_status.' + item.support?.status + '.name' | translate }}"
                ></theme-tag>
              </td>

              <td *ngIf="innovationsList.getColumnLabel('support.updatedBy')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("updatedBy") }} </span>
                {{ item.support?.updatedBy }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('support.closeReason')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("closeReason") }} </span>
                {{ item.support?.closeReason?.label }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('engagingOrganisations')" class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel("engagingOrganisations") }}</span>
                <ng-container *ngFor="let org of item.engagingOrganisations; let i = index">
                  <ng-container *ngIf="i < 2">
                    <strong class="nhsuk-tag nhsuk-tag--white nhsuk-u-margin-left-1">{{ org }}</strong>
                  </ng-container>
                  <ng-container *ngIf="i === 2 && item.engagingOrganisations.length > 2">
                    <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-1">+ {{ item.engagingOrganisations.length - 2 }}</strong>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination
            [currentPage]="innovationsList.page"
            [pageSize]="innovationsList.pageSize"
            [totalRows]="innovationsList.getTotalRowsNumber()"
            (updatePageEvent)="onPageChange($event)"
          ></theme-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
