<section class="bg-color-white">
  <div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-5">

    <h1 class="nhsuk-heading-l"> Innovations </h1>

    <nav class="app-tabs" aria-label="Tabs">
      <ol class="app-tabs__list">
        <li *ngFor="let item of tabs" class="app-tabs__item" [routerLinkActive]="'selected'">
          <div class="side-menu-flex">
            <div><a class="app-tabs__link" [routerLink]="item.link" [queryParams]="item.queryParams">{{ item.title }}</a></div>
            <div>
              <notification-tag *ngIf="item.notifications && item.notifications > 0" [count]="item.notifications"></notification-tag>
            </div>
          </div>
        </li>
      </ol>
    </nav>

    <p class="nhsuk-u-margin-bottom-0">{{ currentTab.mainDescription }}</p>
    <p class="nhsuk-hint">{{ currentTab.secondaryDescription }}</p>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <p class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">{{ innovationsList.getTotalRowsNumber() }} innovations</p>

        <form *ngIf="currentTab.showAssignedToMe" [formGroup]="form" class="nhsuk-u-margin-bottom-1">
          <theme-form-checkbox controlName="assignedToMe" label="Only show innovations assigned to me" size="small"></theme-form-checkbox>
        </form>

        <hr class="nhsuk-section-break nhsuk-section-break--visible" />

        <table class="nhsuk-table-responsive app-sortable-table" aria-describedby="Innovations list">
          <thead class="nhsuk-table__head">
            <tr class="">
              <th *ngFor="let item of innovationsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">{{ item.label }}</button>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of innovationsList.getRecords()" class="nhsuk-table__row">

              <td class="nhsuk-table__cell">
                <div class="side-menu-flex">
                  <div>
                    <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('name') }} </span>
                    <a *ngIf="currentTab.key !== 'ENGAGING' && item.assessment?.id" routerLink="/accessor/innovations/{{ item.id }}/assessments/{{ item.assessment?.id }}">{{ item.name }}</a>
                    <span *ngIf="currentTab.key !== 'ENGAGING' && !item.assessment?.id">{{ item.name }}</span>
                    <a *ngIf="currentTab.key === 'ENGAGING'" routerLink="/accessor/innovations/{{ item.id }}">{{ item.name }}</a>
                  </div>
                  <div>
                    <notification-tag *ngIf="item.notifications && item.notifications.count > 0 && !item.notifications.hasNew" [count]="item.notifications.count"></notification-tag>
                    <notification-tag *ngIf="item.notifications && item.notifications.count > 0 && item.notifications.hasNew" [isNew]="true"></notification-tag>
                  </div>
                </div>
              </td>

              <td *ngIf="innovationsList.getColumnLabel('submittedAt')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('submittedAt') }} </span>
                {{ item.submittedAt | date: ('app.date_formats.long_date' | translate) }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('updatedAt')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('updatedAt') }} </span>
                {{ item.support.updatedAt | date: ('app.date_formats.long_date' | translate) }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('mainCategory')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('mainCategory') }}</span>
                {{ item.mainCategory }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('countryName')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('countryName') }}</span>
                {{ item.countryName }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('accessors')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('accessors') }}</span>
                {{ item.support.accessors[0]?.name }} {{ item.support.accessors.length > 1 ? '+ ' + (item.support.accessors.length - 1) : '' }}
              </td>

              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('engagingOrganisations') }}</span>
                <ng-container *ngFor="let acronym of item.organisations; let i = index">
                  <ng-container *ngIf="i < 2">
                    <strong class="nhsuk-tag nhsuk-tag--white nhsuk-u-margin-left-1">{{ acronym }}</strong>
                  </ng-container>
                  <ng-container *ngIf="i === 2 && item.organisations.length > 2">
                    <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-1">+ {{ item.organisations.length - 2 }}</strong>
                  </ng-container>
                </ng-container>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</section>
