<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds font-color-secondary">
      @if (ctx.user.isInnovator()) {
        <p>These organisations are either currently supporting your innovation, have been suggested or are waiting to support, or have supported you in the past.</p>
      } @else {
        <p>
          You can select other organisations that are either currently supporting this innovation, have been suggested or are waiting to support, or have supported this innovation
          in the past.
        </p>
      }
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="isSubmitStep ? onSubmitStep() : onNextStep()">
    <theme-form-checkbox-array arrayName="organisationUnits" [items]="formOrganisationUnitsItems" [pageUniqueField]="false"></theme-form-checkbox-array>
    <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3">{{ isSubmitStep ? "Add recipients" : "Continue" }}</button>
  </form>
</theme-content-wrapper>
