<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
        <h1 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            You cannot start a new message thread
          </span>
        </h1>
        <p>
          Currently, there are no organisations actively providing support to your innovation. When an organisation starts engaging with your innovation, you will be able to
          message them.
        </p>
      </div>

      <h2>What you can do</h2>

      <p><a href="javascript:void()" (click)="onCancelStep()">Return to messages</a> and add to an existing thread.</p>
    </div>
  </div>
</theme-content-wrapper>
