<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <ng-container *ngIf="isInnovatorType && !isArchived">
        <app-organisation-suggestions-card [suggestions]="organisationSuggestions" [shares]="shares"></app-organisation-suggestions-card>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>Sharing your data with an organisation means that they can view your innovation and initiate contact. It doesn't guarantee a response.</p>
        </div>
      </ng-container>

      <ng-container *ngIf="(isAssessmentType || isAccessorType) && !innovation.owner?.isActive">
        <div *ngIf="innovation.owner && !innovation.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
          <div class="nhsuk-heading-m nhsuk-warning-callout__label">
            <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
          </div>
          <p>Please note that the innovator {{ innovation.owner.name }} is currently locked.</p>
        </div>

        <!--TODO: Banner for owner with account delete (new US)-->
      </ng-container>

      <p *ngIf="isQualifyingAccessorRole" class="nhsuk-u-margin-bottom-6">
        You can suggest organisations to help support this innovation. You cannot suggest your own organisation, or an organisation that is already engaging with this innovation.
      </p>

      <p class="d-flex nhsuk-u-margin-0">
        <ng-container *ngTemplateOutlet="icon; context: { shared: true }"></ng-container>
        Organisations that have access to the innovation because they have been invited to support it or the innovator has shared their data with them.
      </p>
      <p class="d-flex">
        <ng-container *ngTemplateOutlet="icon; context: { shared: false }"></ng-container>
        Organisations that do not have access to the innovation.
      </p>

      <ul *ngIf="!isQualifyingAccessorRole" class="nhsuk-list">
        <li class="nhsuk-u-margin-bottom-4">
          <a href="{{ CONSTANTS.URLS.WHO_WE_ARE }}" target="_blank" rel="noopener noreferrer">What does each organisation do? (opens in a new window)</a>
        </li>
        <li class="nhsuk-u-margin-bottom-4">
          <a routerLink="../everyone" target="_blank" rel="noopener noreferrer">View a list of everyone who is working with this innovation (opens in a new window).</a>
        </li>
      </ul>

      <div class="nhsuk-u-padding-bottom-5">
        <div class="d-flex nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
          <div>Organisation</div>
          <div class="ml-auto">
            <div class="nhsuk-u-text-align-right">Support status</div>
            <a
              class="nhsuk-u-font-weight-normal"
              routerLink="/{{ stores.authentication.userUrlBasePath() }}/innovations/{{ innovationId }}/support/statuses"
              arial-label="View support status keys information"
            >
              Support status key
            </a>
          </div>
        </div>

        <dl class="nhsuk-u-margin-0">
          <ng-container *ngFor="let organisation of organisations">
            <div
              class="d-flex nhsuk-body-m nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3"
              [ngClass]="{ 'bottom-border-separator': organisation.showHideStatus !== 'opened' }"
            >
              <dt class="d-flex nhsuk-u-font-weight-normal">
                <ng-container>
                  <ng-container *ngTemplateOutlet="icon; context: { shared: organisation.shared }"></ng-container>
                </ng-container>

                <div class="d-flex flex-direction-column">
                  <div>{{ organisation.info.name }}</div>
                  <div
                    *ngIf="isAccessorType && organisation.info.suggestedByPhrase && organisation.info.organisationUnits.length === 0"
                    class="nhsuk-u-margin-top-2 font-color-secondary"
                  >
                    {{ organisation.info.suggestedByPhrase }}
                  </div>
                </div>
              </dt>
              <dd class="ml-auto">
                <span *ngIf="!organisation.shared">Not shared</span>

                <ng-container *ngIf="organisation.shared !== false">
                  <a *ngIf="!organisation.info.status" href="javascript:void(0)" (click)="onShowHideClicked(organisation.info.id)">
                    {{ organisation.showHideText }} <span class="nhsuk-u-visually-hidden"> {{ organisation.showHideDescription }} </span>
                  </a>

                  <theme-tag
                    *ngIf="organisation.info.status"
                    type="{{ 'shared.catalog.innovation.support_status.' + organisation.info.status + '.cssColorClass' | translate }}"
                    label="{{ 'shared.catalog.innovation.support_status.' + organisation.info.status + '.name' | translate }}"
                  />

                  <span *ngIf="organisation.info.status" class="nhsuk-u-visually-hidden"
                    >Organisation unit with support status {{ "shared.catalog.innovation.support_status." + organisation.info.status + ".name" | translate }}</span
                  >
                </ng-container>
              </dd>
            </div>

            <ng-container *ngIf="organisation.showHideStatus === 'opened'">
              <dl class="nhsuk-u-margin-0">
                <div
                  *ngFor="let organisationUnit of organisation.info.organisationUnits; let i = index"
                  class="nhsuk-body-m nhsuk-u-padding-left-4 nhsuk-u-margin-0 border-left-inset-neutral"
                >
                  <div class="d-flex bottom-border-separator nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3" [ngClass]="{ 'top-border-separator': i === 0 }">
                    <dt>
                      <div class="d-flex flex-direction-column">
                        <div>{{ organisationUnit.name }}</div>
                        <div *ngIf="isAccessorType && organisationUnit.suggestedByPhrase" class="nhsuk-u-margin-top-2 font-color-secondary">
                          {{ organisationUnit.suggestedByPhrase }}
                        </div>
                      </div>
                    </dt>
                    <dd class="ml-auto">
                      <theme-tag
                        class="ml-auto"
                        type="{{ 'shared.catalog.innovation.support_status.' + organisationUnit.status + '.cssColorClass' | translate }}"
                        label="{{ 'shared.catalog.innovation.support_status.' + organisationUnit.status + '.name' | translate }}"
                      />

                      <span class="nhsuk-u-visually-hidden"
                        >Organisation unit with support status {{ "shared.catalog.innovation.support_status." + organisationUnit.status + ".name" | translate | lowercase }}</span
                      >
                    </dd>
                  </div>
                </div>
              </dl>
            </ng-container>
          </ng-container>
        </dl>
      </div>

      <ng-container *ngIf="!isArchived">
        <button
          *ngIf="userType === 'INNOVATOR'"
          routerLink="/innovator/innovations/{{ innovationId }}/support/edit"
          class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3"
        >
          Change preferences
        </button>

        <div *ngIf="isQualifyingAccessorRole && innovation.status.includes('ASSESSMENT')" class="nhsuk-inset-text nhsuk-u-margin-top-0">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>{{ "features.accessor.cant_do_while_in_assessment" | translate }}</p>
        </div>

        <div *ngIf="isQualifyingAccessorRole && showSuggestOrganisationsToSupportLink" class="nhsuk-action-link nhsuk-u-padding-top-5">
          <a routerLink="/accessor/innovations/{{ innovationId }}/support/suggest" class="nhsuk-action-link__link">
            <theme-svg-icon type="arrow-right-circle" />
            <span class="nhsuk-action-link__text">Suggest other organisations to support this innovation</span>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #icon let-shared="shared">
  <theme-svg-icon *ngIf="!shared" type="error" class="nhsuk-u-margin-right-2" style="height: 25px"></theme-svg-icon>
  <theme-svg-icon *ngIf="shared" type="success" class="nhsuk-u-margin-right-2" style="height: 25px"></theme-svg-icon>
</ng-template>
