<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Everyone who is currently working with this innovation</h1>
      

      <h2 class="nhsuk-heading-l">Innovators</h2>

      <h2 class="nhsuk-heading-l">Supporting organisations</h2>
      <p>
        See the accessors from the organisations supporting this innovation. Your messages and innovation record can be seen by everyone who has access to this innovation. 
      <p>
      <a routerLink="../support"> 
        View a list of this innovation's data sharing preferences (opens in new window). 
      </a>
      <br> 
      <a routerLink="/about-the-service/who-we-are"> 
        What does each organisation do? (opens in new window)
      </a>
         
      
      <h2 class="nhsuk-heading-l">Needs assessors</h2>

      <p>
        Needs assessors will only be actively working on the innovation during the needs assessment process. 
      </p>

    </div>
  </div>

</theme-content-wrapper>