.app-notification-badge {
  // display: inline-block;
  padding: 0.25em 0.45em;
  font-size: 12px;
  color: white;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background: var(--error-color);
}
