<theme-content-wrapper [status]="pageStatus">

  <div class="d-flex align-items-center justify-content-space-between">
    <h2 class="nhsuk-heading-m">Innovation status</h2>
    <a routerLink="/innovator/innovation-statuses" class="float-r nhsuk-u-margin-bottom-4" arial-label="View innovation status information">What does this status mean?</a>
  </div>


  <div class="d-flex align-items-center justify-content-space-between">
    <theme-tag type="{{ 'shared.catalog.innovation.grouped_status.' + innovation.groupedStatus + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.grouped_status.' + innovation.groupedStatus + '.name' | translate }}"></theme-tag>
    <ng-container *ngIf="innovation.organisationsStatusDescription">
      <div class="mr-auto nhsuk-u-font-size-16 nhsuk-u-padding-left-2">
        Organisations: {{ innovation.organisationsStatusDescription }}
      </div>
    </ng-container>
    <a routerLink="/innovator/innovation-statuses" class="float-r nhsuk-u-margin-bottom-4" arial-label="View innovation support status information">View support status</a>
  </div>


  <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--m" />

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a routerLink="{{ statisticsSectionsCard.link }}" class="nhsuk-card__link">
                <span class="nhsuk-u-visually-hidden"> Go to </span> {{ statisticsSectionsCard.title }}
              </a>
            </h2>
            <ng-container *ngIf="statisticsSectionsCard.count!== 0; else noSectionsToSubmit">
              <p class="d-flex nhsuk-u-font-size-18 nhsuk-u-font-weight-bold align-items-baseline">
                <span class="nhsuk-u-font-size-48">{{ statisticsSectionsCard.count }}</span>
                <ng-container *ngIf="statisticsSectionsCard.total">
                  <span class="nhsuk-u-padding-1">of</span>
                  <span class="mr-auto">{{ statisticsSectionsCard.total }}</span>
                </ng-container>
                <span class="nhsuk-u-font-size-16 nhsuk-u-font-weight-normal align-self-self-end nhsuk-u-padding-left-4">
                  {{ statisticsSectionsCard.label }}
                </span>
              </p>
            </ng-container>
            <ng-container *ngIf="statisticsSectionsCard.date">
              <p class="nhsuk-u-font-size-16 font-color-secondary">
                {{ statisticsSectionsCard.footer }} on {{ statisticsSectionsCard.date | date: ('app.date_formats.medium_date' | translate) }}
              </p>
            </ng-container>
            <ng-template #noSectionsToSubmit>
              <p class="nhsuk-u-font-weight-normal">
                You haven't submitted any section of your innovation record yet.
              </p>
            </ng-template>
          </div>
        </div>
    </li>
    <ng-container *ngIf="innovation.groupedStatus !== 'RECORD_NOT_SHARED'">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a routerLink="{{ statisticsActionsCard.link }}" class="nhsuk-card__link">
                <span class="nhsuk-u-visually-hidden"> Go to </span> {{ statisticsActionsCard.title }}
              </a>
            </h2>
            <ng-container *ngIf="statisticsActionsCard.count!== 0; else noActionsToSubmit">
              <p class="d-flex nhsuk-u-font-size-18 nhsuk-u-font-weight-bold align-items-baseline">
                <span class="nhsuk-u-font-size-48">{{ statisticsActionsCard.count }}</span>
                <span class="nhsuk-u-font-size-16 nhsuk-u-font-weight-normal align-self-center nhsuk-u-padding-left-4">
                  {{ statisticsActionsCard.count | i18nPlural: actionLabelMapping }}
                </span>
              </p>
            </ng-container>
            <ng-container *ngIf="statisticsActionsCard.date">
              <p class="nhsuk-u-font-size-16 font-color-secondary">
                {{ statisticsActionsCard.footer }} on {{ statisticsActionsCard.date | date: ('app.date_formats.long_date' | translate) }}
              </p>
            </ng-container>
            <ng-template #noActionsToSubmit>
              <p class="nhsuk-u-font-weight-bold">
                No action requests yet.
              </p>
              <span class="nhsuk-u-font-weight-normal">
                We might send a request to add more information to your innovation record here.
              </span>
            </ng-template>
          </div>
        </div>
      </li>
    </ng-container>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a routerLink="{{ statisticsMessagesCard.link }}" class="nhsuk-card__link">
              <span class="nhsuk-u-visually-hidden"> Go to </span> {{ statisticsMessagesCard.title }}
            </a>
          </h2>
          <ng-container *ngIf="statisticsMessagesCard.count!== 0; else noUnreadMessages">
            <p class="d-flex nhsuk-u-font-size-18 nhsuk-u-font-weight-bold align-items-baseline">
              <span class="nhsuk-u-font-size-48">{{ statisticsMessagesCard.count }}</span>
              <span class="nhsuk-u-font-size-16 nhsuk-u-font-weight-normal align-self-self-end nhsuk-u-padding-left-4">
                {{ statisticsMessagesCard.count | i18nPlural: messageLabelMapping }} }}
              </span>
            </p>
          </ng-container>
          <ng-container *ngIf="statisticsMessagesCard.date">
            <p class="nhsuk-u-font-size-16 font-color-secondary">
              {{ statisticsMessagesCard.footer }} on {{ statisticsMessagesCard.date | date: ('app.date_formats.long_date' | translate) }}
            </p>
          </ng-container>
          <ng-template #noUnreadMessages>
            <p class="nhsuk-u-font-weight-normal">
              No messages yet
            </p>
          </ng-template>
        </div>
      </div>
    </li>
  </ul>

  <!-- <ng-container *ngIf="!isSubmittedForAssessment()">
    <div class="nhsuk-card nhsuk-u-margin-top-2">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m"> Your next steps </h2>
        <ol class="nhsuk-list nhsuk-u-padding-0">
          <li class="d-flex">
            <ng-container *ngTemplateOutlet="icon; context: { completed: allSectionsSubmitted()}"></ng-container>
            <div class="nhsuk-u-margin-left-2">
              Submit all sections of your <a routerLink="/innovator/innovations/{{ innovationId }}/record"> innovation record </a>
            </div>
          </li>
          <li class="d-flex">
            <ng-container *ngTemplateOutlet="icon; context: { completed: false }"></ng-container>
            <div class="nhsuk-u-margin-left-2">
              Share the record for the needs assessment
            </div>
          </li>
        </ol>
      </div>
    </div>
  </ng-container> -->

</theme-content-wrapper>
