<theme-content-wrapper [status]="pageStatus()">  <ng-container *ngIf="innovation?.status === 'IN_PROGRESS' && innovation?.lastEndSupportAt">
    <div class="nhsuk-do-dont-list nhsuk-u-margin-top-0">
      <h3 class="nhsuk-do-dont-list__label"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span> There is no active support for your innovation</h3>
      <ul class="nhsuk-list" role="list">
        <li><p>There are no organisations currently providing support to your innovation.</p></li>
        <li>Find out what options are available to you and <a routerLink="/innovator/innovations/{{ innovationId }}/how-to-proceed">decide what to do next.</a></li>
      </ul>
    </div>
  </ng-container>

  <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Innovation status</dt>
      <dd class="nhsuk-summary-list__value">
        <theme-tag
          type="{{ 'shared.catalog.innovation.grouped_status.' + innovation?.groupedStatus + '.cssColorClass' | translate }}"
          label="{{ 'shared.catalog.innovation.grouped_status.' + innovation?.groupedStatus + '.name' | translate }}"
        ></theme-tag>
        <p class="font-color-secondary nhsuk-body-s nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0" *ngIf="innovation?.status === 'ARCHIVED'">
          Archived on {{ innovation?.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}.
        </p>
        <ng-container *ngIf="innovation?.engagingOrganisationsCount">
          <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-14 font-color-secondary">
            {{ innovation?.engagingOrganisationsCount }} engaging {{ "dictionary.organisation" | pluralTranslate: innovation?.engagingOrganisationsCount | translate }}.
          </div>
          <div class="nhsuk-u-font-size-14">
            <a
              *ngIf="innovation?.groupedStatus === 'RECEIVING_SUPPORT'"
              routerLink="/innovator/innovations/{{ innovationId }}/support-summary"
              arial-label="View innovation support summary information"
              >View support summary</a
            >
          </div>
        </ng-container>
      </dd>
      <dd class="nhsuk-summary-list__actions width-30 nhsuk-u-font-size-16">
        <a routerLink="/innovator/innovation-statuses" arial-label="View innovation status information">What does this status mean?</a>
      </dd>
    </div>
  </dl>

  <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--s" />

  <dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Owner</dt>
      <dd class="nhsuk-summary-list__value">{{ innovation?.owner?.name }}</dd>
      <dd class="nhsuk-summary-list__actions width-30"></dd>
    </div>
    <div *ngIf="(innovation?.collaborators ?? []).length > 0" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Collaborators</dt>
      <dd class="nhsuk-summary-list__value">
        <ul class="nhsuk-list">
          <li *ngFor="let item of innovation?.collaborators">{{ item.nameOrEmail }}</li>
        </ul>
      </dd>
      <dd class="nhsuk-summary-list__actions width-30 nhsuk-u-font-size-16">
        <a *ngIf="innovation?.loggedUser?.isOwner" routerLink="../manage/innovation/collaborators">Manage collaborators</a>
      </dd>
    </div>
  </dl>

  <app-statistics-cards [cardsList]="cardsList" [gridClass]="'nhsuk-grid-column-one-half'"></app-statistics-cards>

  <ng-container *ngIf="showBanner">
    <div class="nhsuk-card nhsuk-u-margin-top-2">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m">Your next steps</h2>
        <ul class="nhsuk-list" [ngClass]="{ 'nhsuk-list--bullet': isArchived, 'nhsuk-u-margin-left-2': isArchived }">
          <li [ngClass]="{ 'd-flex': !isArchived }">
            <ng-container *ngIf="!isArchived">
              <ng-container *ngTemplateOutlet="icon; context: { completed: isSubmitted?.submittedAllSections }"></ng-container>
            </ng-container>
            <div [ngClass]="{ 'nhsuk-u-margin-left-2': !isArchived }">
              Submit all sections of your <a routerLink="/innovator/innovations/{{ innovationId }}/record"> innovation record </a>
            </div>
          </li>
          <li [ngClass]="{ 'd-flex': !isArchived }">
            <ng-container *ngIf="!isArchived">
              <ng-container *ngTemplateOutlet="icon; context: { completed: isSubmitted?.submittedForNeedsAssessment }"></ng-container>
            </ng-container>
            <div [ngClass]="{ 'nhsuk-u-margin-left-2': !isArchived }">Share the record for the needs assessment</div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</theme-content-wrapper>

<ng-template #icon let-completed="completed">
  <theme-svg-icon *ngIf="!completed" type="error"></theme-svg-icon>
  <theme-svg-icon *ngIf="completed" type="success"></theme-svg-icon>
</ng-template>
