<theme-content-wrapper [status]="pageStatus">

  <div class="d-flex align-items-center justify-content-space-between">
    <h2 class="nhsuk-heading-m">Innovation status</h2>
    <a routerLink="/innovator/innovation-statuses" class="float-r nhsuk-u-margin-bottom-4" arial-label="View innovation status information">What does this status mean?</a>
  </div>


  <div class="d-flex align-items-center justify-content-space-between">
    <theme-tag type="{{ 'shared.catalog.innovation.grouped_status.' + innovation.groupedStatus + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.grouped_status.' + innovation.groupedStatus + '.name' | translate }}"></theme-tag>
    <ng-container *ngIf="innovation.organisationsStatusDescription">
      <div class="mr-auto nhsuk-u-font-size-16 nhsuk-u-padding-left-2">
        Organisations: {{ innovation.organisationsStatusDescription }}
      </div>
    </ng-container>
    <a routerLink="/innovator/innovations/{{ innovationId }}/support" class="float-r nhsuk-u-margin-bottom-4" arial-label="View innovation support status information">View support status</a>
  </div>


  <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--m" />
  
  <app-statistics-cards [cardsList]="cardsList" [gridClass]="'nhsuk-grid-column-one-half'"></app-statistics-cards>

  <ng-container *ngIf="showBanner">
    <div class="nhsuk-card nhsuk-u-margin-top-2">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m"> Your next steps </h2>
        <ol class="nhsuk-list nhsuk-u-padding-0">
          <li class="d-flex">
            <ng-container *ngTemplateOutlet="icon; context: { completed: isSubmitted?.submittedAllSections}"></ng-container>
            <div class="nhsuk-u-margin-left-2">
              Submit all sections of your <a routerLink="/innovator/innovations/{{ innovationId }}/record"> innovation record </a>
            </div>
          </li>
          <li class="d-flex">
            <ng-container *ngTemplateOutlet="icon; context: { completed: isSubmitted?.submittedForNeedsAssessment }"></ng-container>
            <div class="nhsuk-u-margin-left-2">
              Share the record for the needs assessment
            </div>
          </li>
        </ol>
      </div>
    </div>
  </ng-container>

</theme-content-wrapper>

<ng-template #icon let-completed="completed">
  <theme-svg-icon *ngIf="!completed" type="error"></theme-svg-icon>
  <theme-svg-icon *ngIf="completed" type="success"></theme-svg-icon>
</ng-template>
