<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div *ngIf="!assessmentHasBeenSubmitted" class="full-width-section nhsuk-u-margin-bottom-5">
        <div class="nhsuk-inset-text nhsuk-u-margin-0">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>This document is autosaved every minute.</p>
        </div>
      </div>

      <p *ngIf="assessment?.minorVersion" class="font-color-secondary nhsuk-u-margin-bottom-5">
        While you are editing a needs {{ isReassessment ? "reassessment" : "assessment" }}, organisations will not be able to support this innovation or send messages or tasks.
      </p>

      <div *ngIf="stepId === 1 && showAssessmentDetails" class="full-width-section margin-bottom-5">
        <shared-innovation-assessment-details [assessment]="assessment" />
      </div>

      <ng-container *ngFor="let section of form.sections; let i = index">
        <div class="full-width-section" [ngClass]="{ 'bg-color-white': i % 2 }">
          <h2 *ngIf="section.title" class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ section.title }}</h2>
          <theme-form-engine formId="assessmentForm" [parameters]="section.parameters" [values]="form.data" (formChanges)="onFormChange()"></theme-form-engine>
        </div>
      </ng-container>

      <div class="full-width-section bg-color-white">
        <div *ngIf="stepId === 2 && !assessmentHasBeenSubmitted" class="nhsuk-inset-text nhsuk-u-margin-0">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>When you submit, the innovation, along with your needs assessment, will become visible to all organisations that the innovator has chosen to share their data with.</p>
        </div>

        <ng-container *ngIf="stepId === 1">
          <button [disabled]="this.saveButton.disabled" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3" (click)="onSubmit('saveAsDraft')">
            {{ saveButton.label }}
          </button>
        </ng-container>

        <ng-container *ngIf="stepId > 1">
          <button class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3" (click)="onSubmit('submit')">
            {{ assessmentHasBeenSubmitted ? "Update" : "Submit" }} needs {{ isReassessment ? "reassessment" : "assessment" }}
          </button>
          <button
            *ngIf="!assessmentHasBeenSubmitted"
            [disabled]="this.saveButton.disabled"
            class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-5"
            (click)="onSubmit('saveAsDraft')"
          >
            {{ saveButton.label }}
          </button>
        </ng-container>

        <p *ngIf="!assessmentHasBeenSubmitted">This document is autosaved every minute.</p>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li *ngIf="stepId === 2" class="nhsuk-pagination-item--previous">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev cursor-pointer" (click)="onSubmit('saveAsDraftSecondSection')" href="javascript:void(0)">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">1 of 2</span>
                <theme-svg-icon type="arrow-left" />
              </a>
            </li>
            <li *ngIf="stepId === 1" class="nhsuk-pagination-item--next">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next cursor-pointer" (click)="onSubmit('saveAsDraftFirstSection')" href="javascript:void(0)">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">2 of 2</span>
                <theme-svg-icon type="arrow-right" />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</theme-content-wrapper>
