
// Based on: https://github.com/alphagov/govuk_publishing_components/blob/master/app/assets/stylesheets/govuk_publishing_components/components/_print-link.scss

$print-link-background-width: 16px;
$print-link-background-height: 18px;

// .print-link {
//   display: none;
// }

// .print-link.print-link--show-without-js {
//   display: block;
// }

// .js-enabled {
//   .print-link {
//     display: block;
//   }
// }

.print-link__link,
.print-link__button {
  display: inline-block;
  background: url("/assets/images/icon-print.png") no-repeat 10px 50%;
  background-color: white;
  background-size: $print-link-background-width $print-link-background-height;
  padding: 10px 10px 10px 36px;

  // @include govuk-device-pixel-ratio($ratio: 2) {
  //   background-image: image-url("assets/images/icon-print-2x.png");
  // }

  // &:hover {
  //   background-color: govuk-colour("light-grey");
  // }
}

.print-link__link {
  box-shadow: inset 0 0 0 1px var(--primary-color);
  text-decoration: none;

  &:focus {
    border: 0;
    box-shadow: 0 3px govuk-colour("black");
  }
}

// .print-link__button {
//   @extend %govuk-body-s;
//   border: 1px solid var(--primary-color);
//   color: var(--primary-color);
//   cursor: pointer;
//   margin: govuk-spacing(0);

//   &:focus {
//     @include govuk-focused-text;
//     background-color: $govuk-focus-colour;
//     border-color: transparent;
//   }
// }