<form [formGroup]="form" [id]="formId" method="post" [action]="action" enctype="application/json" novalidate="" *ngIf="contentReady">
  <input type="hidden" name="_csrf" [value]="csrfToken" />

  <ng-container *ngFor="let p of parameters; let i = index">
    <ng-container *ngIf="p.isVisible">
      <ng-container [ngSwitch]="p.dataType">
        <div *ngSwitchCase="'hidden'">
          <theme-form-input type="hidden" [controlName]="p.id" [label]="p.label" [description]="p.description" [pageUniqueField]="onlyOneField"></theme-form-input>
        </div>

        <div *ngSwitchCase="'number'">
          <theme-form-input type="number" [controlName]="p.id" [label]="p.label" [description]="p.description" [pageUniqueField]="onlyOneField"></theme-form-input>
        </div>

        <div *ngSwitchCase="'password'">
          <theme-form-input type="password" [controlName]="p.id" [label]="p.label" [description]="p.description" [pageUniqueField]="onlyOneField"></theme-form-input>
        </div>

        <div *ngSwitchCase="'autocomplete-array'">
          <theme-form-input-autocomplete-array
            [arrayName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [items]="p.items"
            [pageUniqueField]="onlyOneField"
          ></theme-form-input-autocomplete-array>
        </div>

        <div *ngSwitchCase="'radio-group'">
          <theme-form-radio-group
            [id]="p.id"
            [controlName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [items]="p.items"
            [additional]="p.additional"
            [pageUniqueField]="onlyOneField"
          ></theme-form-radio-group>
        </div>

        <div *ngSwitchCase="'checkbox-group'">
          <theme-form-checkbox-group
            [groupName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [items]="p.items"
            [pageUniqueField]="onlyOneField"
          ></theme-form-checkbox-group>
        </div>

        <div *ngSwitchCase="'checkbox-array'">
          <theme-form-checkbox-array
            [id]="p.id"
            [arrayName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [items]="p.items"
            [pageUniqueField]="onlyOneField"
          ></theme-form-checkbox-array>
        </div>

        <div *ngSwitchCase="'grouped-checkbox-array'">
          <theme-form-grouped-checkbox-array
            [arrayName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [groupedItems]="p.groupedItems"
            [pageUniqueField]="onlyOneField"
          ></theme-form-grouped-checkbox-array>
        </div>

        <div *ngSwitchCase="'textarea'">
          <theme-form-textarea
            [id]="p.id"
            [controlName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [pageUniqueField]="onlyOneField"
            [lengthLimit]="p.lengthLimit"
          ></theme-form-textarea>
        </div>

        <div *ngSwitchCase="'file-upload'">
          <theme-form-file-upload
            [groupName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [config]="p.fileUploadConfig"
            [pageUniqueField]="onlyOneField"
          ></theme-form-file-upload>
        </div>

        <div *ngSwitchCase="'file-upload-array'">
          <theme-form-file-upload-array
            [arrayName]="p.id"
            [label]="p.label"
            [description]="p.description"
            [config]="p.fileUploadConfig"
            [pageUniqueField]="onlyOneField"
          ></theme-form-file-upload-array>
        </div>

        <div *ngSwitchCase="'ir-selectable-filters'" [formArrayName]="p.id" [formGroupName]="p.id">
          <theme-form-ir-selectable-filters-component
            [parameterValues]="values && values[p.id]"
            [id]="p.id"
            [parentFormGroup]="form"
            [arrayName]="p.id"
            [label]="p.label"
            [description]="p.description"
          />
        </div>

        <div *ngSwitchCase="'fields-group'" [formArrayName]="p.id" class="nhsuk-u-margin-bottom-5">
          <fieldset class="nhsuk-fieldset" attr.aria-describedby="{{ p.id }}-hint">
            <legend *ngIf="p.label" class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <ng-container *ngIf="onlyOneField">
                <h1 class="nhsuk-fieldset__heading">{{ p.label }}</h1>
              </ng-container>
              <ng-container *ngIf="!onlyOneField"> {{ p.label }} </ng-container>
            </legend>

            <ng-container *ngIf="p.description">
              <div class="nhsuk-hint" id="{{ p.id }}-hint" [innerHTML]="p.description"></div>
            </ng-container>

            <div *ngFor="let item of form.get(p.id)?.value; let i = index; trackBy: trackFieldGroupRowsChanges" class="nhsuk-grid-row">
              <div *ngFor="let f of p.fieldsGroupConfig?.fields" [formGroupName]="i" class="nhsuk-grid-column-full">
                <ng-container *ngIf="f.isVisible">
                  <div [ngSwitch]="f.dataType">
                    <div *ngSwitchDefault>
                      <theme-form-input [controlName]="f.id" label="{{ f.label }} {{ i + 1 }}" [description]="f.description" [pageUniqueField]="false">
                        <ng-container append>
                          <button type="button" class="nhsuk-button nhsuk-button--secondary form-input-appended-button" (click)="removeFieldGroupRow(p.id, i)">Remove</button>
                        </ng-container>
                      </theme-form-input>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <a href="javascript:void(0)" (click)="addFieldGroupRow(p)"> {{ p.fieldsGroupConfig?.addNewLabel || "Add new" }} </a>
          </fieldset>
        </div>

        <div *ngSwitchCase="'select-component'">
          <theme-form-select
            [controlName]="p.id"
            [id]="p.id"
            [label]="p.label"
            [description]="p.description"
            [pageUniqueField]="onlyOneField"
            [selectItems]="p.selectItems ?? { selectList: [] }"
          />
        </div>

        <div *ngSwitchCase="'date-input'">
          <theme-form-date-input [groupName]="p.id" [id]="p.id" [label]="p.label" [description]="p.description" [pageUniqueField]="onlyOneField" />
        </div>

        <div *ngSwitchDefault>
          <theme-form-input [controlName]="p.id" [label]="p.label" [description]="p.description" [pageUniqueField]="onlyOneField"></theme-form-input>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
