<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <shared-filters-wrapper-component title="Filters" [form]="form" [model]="filtersModel" />
    </div>

    <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
      <theme-spinner *ngIf="pageStatus === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

      <ng-container *ngIf="pageStatus === 'READY'" aria-live="polite">
        <div class="d-flex align-items-center justify-content-space-between nhsuk-u-margin-bottom-2">
          <h2 role="alert" class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-0">{{ activitiesList.getTotalRowsNumber() }} activities found</h2>
          <div class="d-flex">
            <a
              *ngIf="currentDateOrderBy === 'ascending'"
              href="javascript:void(0)"
              (click)="onDateOrderBy('descending')"
              class="nhsuk-body-s nhsuk-u-margin-bottom-0 right-border-separator nhsuk-u-padding-right-3"
              aria-label="Sort activities by newest first"
            >
              Newest first
            </a>
            <span *ngIf="currentDateOrderBy === 'descending'" class="nhsuk-body-s nhsuk-u-margin-bottom-0 right-border-separator nhsuk-u-padding-right-3">
              <span class="nhsuk-u-visually-hidden"> Activities are sorted by </span> Newest first
            </span>
            <a
              *ngIf="currentDateOrderBy === 'descending'"
              href="javascript:void(0)"
              (click)="onDateOrderBy('ascending')"
              class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3"
              aria-label="Sort activities by oldest first"
            >
              Oldest first
            </a>
            <span *ngIf="currentDateOrderBy === 'ascending'" class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3">
              <span class="nhsuk-u-visually-hidden"> Activities are sorted by </span> Oldest first
            </span>
          </div>
        </div>

        <shared-filters-selection-wrapper-component [model]="filtersModel" />

        <hr class="nhsuk-section-break nhsuk-section-break--visible" />

        <ng-container *ngIf="pageStatus === 'READY' && activitiesList.getTotalRowsNumber() === 0">
          <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
        </ng-container>

        <ng-container *ngIf="pageStatus === 'READY' && activitiesList.getTotalRowsNumber() > 0">
          <div *ngFor="let item of activitiesList.getRecords()">
            <div
              class="d-flex align-items-center nhsuk-body-s nhsuk-u-margin-0 nhsuk-u-padding-top-3"
              [ngClass]="{ 'bottom-border-separator nhsuk-u-padding-bottom-3': item.showHideStatus === 'closed' }"
            >
              <div>
                <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">{{ item.date | date: ("app.date_formats.full_date_time" | translate) }}</p>
                <p class="nhsuk-body-s nhsuk-u-margin-0">{{ "shared.catalog.innovation.activity_log_items." + item.activity + ".message" | translate: item.params }}</p>
              </div>
              <div class="ml-auto d-flex flex-direction-column text-align-right">
                <div>
                  <a *ngIf="item.link" [routerLink]="item.link.url">{{ item.link.label }}</a>
                </div>
                <div>
                  <a *ngIf="ACTIVITY_LOG_ITEMS[item.activity].details" href="javascript:void(0)" (click)="onShowHideClicked(item)">
                    {{ item.showHideText }}
                    <span class="nhsuk-u-visually-hidden"> of {{ "shared.catalog.innovation.activity_log_items." + item.activity + ".title" | translate }} activity </span>
                  </a>
                </div>
              </div>
            </div>

            <ng-container *ngIf="item.showHideStatus === 'opened'">
              <ng-container [ngSwitch]="ACTIVITY_LOG_ITEMS[item.activity].details">
                <ng-container *ngSwitchCase="'ORGANISATIONS_LIST'">
                  <dl class="nhsuk-summary-list nhsuk-u-margin-0 nhsuk-u-padding-top-2">
                    <dt class="nhsuk-summary-list__key nhsuk-body-s">Organisations</dt>
                    <dd class="nhsuk-summary-list__value">
                      <ul class="nhsuk-list nhsuk-body-s">
                        <li *ngFor="let organisation of item.params.organisations || []" class="nhsuk-u-margin-0">{{ organisation }}</li>
                      </ul>
                    </dd>
                  </dl>
                </ng-container>
                <ng-container *ngSwitchCase="'SUPPORT_STATUS_UPDATE'">
                  <dl class="nhsuk-summary-list nhsuk-u-margin-0 nhsuk-u-padding-top-2">
                    <dt class="nhsuk-summary-list__key nhsuk-body-s">Support status</dt>
                    <dd class="nhsuk-summary-list__value nhsuk-body-s">
                      <theme-tag
                        type="{{ 'shared.catalog.innovation.support_status.' + item.params.innovationSupportStatus + '.cssColorClass' | translate }}"
                        label="{{ 'shared.catalog.innovation.support_status.' + item.params.innovationSupportStatus + '.name' | translate }}"
                      >
                      </theme-tag>
                      <p class="nhsuk-body-s nhsuk-u-padding-top-2 text-pre-wrap">{{ item.params.comment?.value }}</p>
                    </dd>
                  </dl>
                </ng-container>
                <ng-container *ngSwitchCase="'COMMENT'">
                  <dl class="nhsuk-summary-list nhsuk-u-margin-0 nhsuk-u-padding-top-2">
                    <dt class="nhsuk-summary-list__key nhsuk-body-s">Comment</dt>
                    <dd class="nhsuk-summary-list__value nhsuk-body-s text-pre-wrap">{{ item.params.comment?.value || "" }}</dd>
                  </dl>
                </ng-container>

                <ng-container *ngSwitchCase="'MESSAGE'">
                  <dl class="nhsuk-summary-list nhsuk-u-margin-0 nhsuk-u-padding-top-2">
                    <dt class="nhsuk-summary-list__key nhsuk-body-s">Message</dt>
                    <dd class="nhsuk-summary-list__value nhsuk-body-s text-pre-wrap">{{ item.params.message || "" }}</dd>
                  </dl>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="nhsuk-u-padding-bottom-4">
            <theme-pagination
              [currentPage]="activitiesList.page"
              [pageSize]="activitiesList.pageSize"
              [totalRows]="activitiesList.getTotalRowsNumber()"
              (updatePageEvent)="onPageChange($event)"
            >
            </theme-pagination>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #filterIcon let-showHideStatus="showHideStatus">
  <theme-svg-icon *ngIf="showHideStatus === 'closed'" type="plus" />
  <theme-svg-icon *ngIf="showHideStatus === 'opened'" type="minus" />
</ng-template>

<ng-template #closeIcon>
  <theme-svg-icon type="close" />
</ng-template>
