
<theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
  <p> {{ alert.message }} </p>
</theme-alert>
<theme-spinner *ngIf="pageStatus === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

<theme-page-title [title]="pageTitle"></theme-page-title>

<div aria-live="polite" *ngIf="pageStatus === 'READY'">
  <p>This is the initial page.</p>
  <p>It can have just a simple message for now, some cards with metrics, ...</p>
  <p>Regarding the available options on the header, only the "Service users" shows a user jorney draft.</p>
</div>