<div *ngFor="let suggestion of suggestions" class="nhsuk-do-dont-list nhsuk-u-margin-top-0">
  <h3 class="nhsuk-do-dont-list__label"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span> New suggestion</h3>
  <ul class="nhsuk-list" role="list">
    <h3 class="nhsuk-heading-m">{{ suggestion.suggestorUnit }} has suggested your organisation to support this innovation</h3>
    <li>
      <p class="nhsuk-u-margin-bottom-0">They added this comment:</p>
      <p nhsuk-u-font-size-19>
        {{ suggestion.thread.message }}
      </p>
    </li>
    <ng-container *ngIf="innovationStatus !== 'ARCHIVED'">
      <li>
        <p><a routerLink="/{{ ctx.user.userUrlBasePath() }}/innovations/{{ innovationId }}/threads/{{ suggestion.thread.id }}">Send a reply in messages</a></p>
      </li>
      <div class="nhsuk-body-m nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-padding-left-3 nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0 border-left-inset-neutral">
        <p class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-0">
          For transparency reasons, all messages can be seen and replied to by everyone who has access to this innovation, including the innovator.
        </p>
      </div>
    </ng-container>
  </ul>
</div>
