<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <fieldset class="nhsuk-fieldset" [attr.aria-describedby]="parameter.id + '-hint'">
    <legend *ngIf="parameter.label" class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <ng-container *ngIf="onlyOneField">
        <h1 class="nhsuk-fieldset__heading">{{ parameter.label }}</h1>
      </ng-container>

      <ng-container *ngIf="!onlyOneField">
        {{ parameter.label }}
      </ng-container>
    </legend>

    <div *ngIf="parameter.description" class="nhsuk-hint" [id]="parameter.id + '-hint'" [innerHTML]="parameter.description"></div>

    <span *ngIf="hasError" [id]="'error-' + parameter.id" class="nhsuk-error-message" role="alert">
      <span class="nhsuk-u-visually-hidden">Error:</span>
      {{ error.message | translate: error.params }}
    </span>

    <div *ngFor="let group of fieldArrayControl.controls; let i = index; trackBy: trackFieldGroupRowsChanges" class="nhsuk-grid-row">
      <div [formGroup]="asFormGroup(group)" class="nhsuk-grid-column-full nhsuk-u-margin-bottom-4">
        <theme-form-input *ngIf="parameter.field" [controlName]="parameter.field.id" [label]="parameter.field.label + ' ' + (i + 1)" [pageUniqueField]="false">
          <ng-container append>
            <button type="button" class="nhsuk-button nhsuk-button--secondary form-input-appended-button" (click)="removeFieldGroupRow(i)">Remove</button>
          </ng-container>
        </theme-form-input>
      </div>
    </div>

    <a href="javascript:void(0)" (click)="addFieldGroupRow()">
      {{ addNewLabel || "Add new" }}
    </a>
  </fieldset>
</div>
