<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <ng-container *ngIf="label && pageUniqueField">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} </label>
    </h1>
  </ng-container>
  <ng-container *ngIf="label && !pageUniqueField">
    <label class="nhsuk-label" [for]="id"> {{ label }} </label>
  </ng-container>

  <ng-container *ngIf="description">
    <div id="hint-{{ id }}" class="nhsuk-hint" [innerHTML]="description"></div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert"> <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }} </span>
  </ng-container>

  <ng-container *ngIf="!fieldControl[0].value || !fieldControl[0].valid">
    <input
      [id]="id"
      [name]="inputsNames[0]"
      type="file"
      [accept]="inputFileConfig.acceptedFiles"
      aria-label="Choose file"
      [attr.aria-invalid]="hasError ? 'true' : null"
      [attr.aria-describedby]="ariaDescribedBy"
      class="nhsuk-label nhsuk-u-margin-bottom-3"
      (change)="onChange($event)"
    />
  </ng-container>

  <ng-container *ngIf="fieldControl[0].value && fieldControl[0].valid">
    <hr class="nhsuk-section-break nhsuk-section-break--visible" />

    <div id="file-uploaded" class="nhsuk-label nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0" aria-label="File uploaded" role="heading" aria-level="2" tabindex="0">
      Uploaded file
    </div>

    <div class="d-flex align-items-center justify-content-space-between">
      <a href="javascript:void(0)" class="nhsuk-u-font-size-19" (click)="downloadFile(fieldControl[0].value)"> {{ fieldControl[0].value.name }} </a>
      <a href="javascript:void(0)" class="nhsuk-u-font-size-19" (click)="removeUploadedFile()"
        >Remove <span class="nhsuk-u-visually-hidden">{{ fieldControl[0].value.name }}</span></a
      >
    </div>

    <div class="nhsuk-details__text nhsuk-u-margin-0">
      <theme-form-input
        [controlName]="inputsNames[1]"
        label="This document will be added to your innovation's document library."
        description="Enter a descriptive name for this document"
        lengthLimit="xs"
        [pageUniqueField]="false"
      ></theme-form-input>
    </div>

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-5" />
  </ng-container>
</div>
