:host {
  background-color: var(--color_nhsuk-grey-5);
  min-width: 200px !important;
  max-width: 200px !important;

  ngx-dropzone-remove-badge {
    background-color: var(--error-color);
  }

  ngx-dropzone-label {
    word-break: break-word;
  }
}
