<ng-container *ngIf="label && pageUniqueField">
  <h1 class="nhsuk-label-wrapper">
    <div class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" aria-hidden="true" tabindex="-1"> {{ label }} {{ files.length > 0 ? '(' + files.length + ' file(s) uploaded)' : '' }} </div>
  </h1>
</ng-container>
<ng-container *ngIf="label && !pageUniqueField">
  <label class="nhsuk-label" [for]="id"> {{ label }} </label>
</ng-container>

<ng-container *ngIf="description">
  <div class="nhsuk-hint" id="{{ id }}-hint" [innerHTML]="description"></div>
</ng-container>

<ng-container *ngIf="previousUploadedFiles.length > 0">
  <div class="nhsuk-heading-s nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0"> Previously added files </div>
  <dl class="nhsuk-summary-list">
    <div *ngFor="let item of previousUploadedFiles" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__value"><a href="{{ item.url }}"> {{ item.name }} </a></dt>
      <dd class="nhsuk-summary-list__actions">
        <a href="javascript:void(0)" (click)="onRemovePreviousUploadedFile(item.id)"> Delete <span class="nhsuk-u-visually-hidden"> {{ item.name }} </span></a>
      </dd>
    </div>
  </dl>
</ng-container>

<span class="nhsuk-u-visually-hidden" id="aux-upload-message"></span>

<ng-container *ngIf="files.length > 0">
  <a id="open-add-file-dialog-btn" href="javascript:void(0)" (click)="openAddFileDialog()"> Add new file </a>
</ng-container>

<ngx-dropzone
  id="{{ id }}"
  [multiple]="dzConfig.multiple"
  [accept]="dzConfig.acceptedFiles"
  [maxFileSize]="dzConfig.maxFileSize"
  (change)="onChange($event)"
  >
  <ngx-dropzone-label>
    <label for="{{ id }}">Click or drop your file here</label>
  </ngx-dropzone-label>

  <file-upload-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f.id)" (keypress)="onRemove(f.id)" attr.aria-label="Delete {{f.file.name}}" role="button">
    <ngx-dropzone-label class="font-color-text">{{ f.file.name.length > 50 ? (f.file.name | slice:0:50) + '...' : f.file.name }}</ngx-dropzone-label>
  </file-upload-preview>
</ngx-dropzone>
