<div class="nhsuk-form-group" [ngClass]="{'nhsuk-form-group--error': hasError}">

  <ng-container *ngIf="label && pageUniqueField">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} </label>
    </h1>
  </ng-container>
  <ng-container *ngIf="label && !pageUniqueField">
    <label class="nhsuk-label" [for]="id"> {{ label }} </label>
  </ng-container>

  <ng-container *ngIf="description">
    <div class="nhsuk-hint" id="{{ id }}-hint" [innerHTML]="description"></div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert">
      <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }}
    </span>
  </ng-container>

  <ng-container *ngIf="!uploadedFile">
    <input [id]="id" [name]="name" type="file" [accept]="inputFileConfig.acceptedFiles" [attr.aria-invalid]="hasError ? 'true' : null" [attr.aria-describedby]="ariaDescribedBy"  class="nhsuk-label nhsuk-u-margin-bottom-3" (change)="onChange($event)" />
  </ng-container>

  <ng-container *ngIf="uploadedFile">
    <hr class="nhsuk-section-break nhsuk-section-break--visible">
    <div class="nhsuk-label nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0" aria-label="File uploaded" tabindex="-1">Uploaded file</div>
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-0">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__value"><a href="javascript:void(0)" (click)="downloadFile(uploadedFile.file)"> {{ uploadedFile.file.name }} </a></dt>
        <dd class="nhsuk-summary-list__actions">
          <a href="javascript:void(0)" (click)="removeUploadedFile()">Remove <span class="nhsuk-u-visually-hidden">{{ uploadedFile.file.name }}</span></a>
        </dd>
      </div>
    </dl>
  </ng-container>

  <span class="nhsuk-u-visually-hidden" id="aux-upload-message"></span>

</div>
