<div class="nhsuk-form-group" [ngClass]="{'nhsuk-form-group--error': hasError}">
  
  <fieldset class="nhsuk-fieldset" [attr.aria-describedby]="ariaDescribedBy">

    <legend *ngIf="label" class="nhsuk-fieldset__legend" [ngClass]="{ 'nhsuk-fieldset__legend--l': pageUniqueField }">

      <ng-container *ngIf="pageUniqueField">
        <h1 class="nhsuk-fieldset__heading"> {{ label }} </h1>
      </ng-container>
      <ng-container *ngIf="!pageUniqueField"> {{ label }} </ng-container>

      <ng-container *ngIf="hasError"> <!-- Add error to legend for accessibility purposes -->
        <div class="nhsuk-u-visually-hidden">Error: {{ errorMessage | translate }} </div>
      </ng-container>

    </legend>

    <ng-container *ngIf="description">
      <div id="hint-{{ id }}" class="nhsuk-hint" [innerHTML]="description"></div>
    </ng-container>

    <ng-container *ngIf="hasError">
      <span id="error-{{ id }}" class="nhsuk-error-message">
        <span class="nhsuk-u-visually-hidden">Error:</span> {{ errorMessage | translate }}
      </span>
    </ng-container>

    <div class="nhsuk-checkboxes">

      <ng-container *ngFor="let fgi of filteredGI; let i = index;">

        <div class="nhsuk-checkboxes__item">
          <input id="{{ id }}{{ fgi.gItem.value }}" type="checkbox" [value]="fgi.gItem.value" [checked]="isChecked(fgi.gItem.value) || fgi.selectedChildren > 0"
            [disabled]="fgi.gItem.isEditable !== undefined && fgi.gItem.isEditable === false" (change)="onChanged($event)" class="nhsuk-checkboxes__input" />
          <label for="{{ id }}{{ fgi.gItem.value }}" class="nhsuk-label nhsuk-checkboxes__label d-flex" [ngClass]="{'undertermined-checkbox': fgi.selectedChildren > 0 && fgi.selectedChildren < fgi.gItem.items.length }">
            <div> {{ fgi.gItem.label }}</div>
            <a href="javascript:void(0)" (click)="onShowHideClicked(fgi.gItem.value)" class="ml-auto">
              {{ fgi.showHideText }} <span class="nhsuk-u-visually-hidden"> {{ fgi.showHideDescription }} </span>
            </a>
          </label>
          <div *ngIf="fgi.gItem.description" class="nhsuk-hint nhsuk-checkboxes__hint">{{ fgi.gItem.description }}</div>
        </div>

        <div class="nhsuk-u-margin-left-3 nhsuk-u-padding-left-4 border-left-inset-neutral" [ngClass]="{'nhsuk-u-visually-hidden': fgi.showHideStatus !== 'opened'}">
          <ng-container *ngFor="let item of fgi.gItem.items; let j = index;">
            <div class="nhsuk-checkboxes__item">
              <input id="{{ id }}{{ item.value }}" type="checkbox" [value]="item.value" [checked]="isChecked(item.value)" [disabled]="item.isEditable !== undefined && item.isEditable === false"
                (change)="onChanged($event)" class="nhsuk-checkboxes__input" />
              <label for="{{ id }}{{ item.value }}" class="nhsuk-label nhsuk-checkboxes__label">{{ item.label }}</label>
              <div *ngIf="item.description" class="nhsuk-hint nhsuk-checkboxes__hint">{{ item.description }}</div>
            </div>
          </ng-container>
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3" />

      </ng-container>

    </div>

  </fieldset>

</div>
