<div class="{{ divCssOverride }}">
  <ng-container *ngIf="label && pageUniqueField">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id">
        {{ label }}
      </label>
    </h1>
  </ng-container>
  <ng-container *ngIf="label && !pageUniqueField">
    <label class="nhsuk-label" [for]="id">
      {{ label }}
    </label>
  </ng-container>

  <ng-container *ngIf="description">
    <div id="hint-{{ id }}" class="nhsuk-hint nhsuk-u-margin-bottom-5" [innerHTML]="description"></div>
  </ng-container>

  <ng-container *ngFor="let item of items; trackBy: trackByItem">
    <div *ngIf="item.itemConditionOptions && shouldShowItem(item.itemConditionOptions)" class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError(item.id) }">
      <ng-container *ngIf="item.label">
        <span>{{ item.label }}</span><span *ngIf="isItemOptional(item.itemConditionOptions)"> (Optional)</span>
      </ng-container>
      <ng-container *ngIf="item.description">
        <div [id]="'hint-' + item.id" class="nhsuk-hint" [innerHTML]="item.description">
          <span>For example...</span>
        </div>
      </ng-container>
      <span class="nhsuk-hint"> For example...</span>

      <ng-container *ngIf="hasError(item.id)">
        <span [id]="'error-' + item.id" class="nhsuk-error-message" role="alert">
          <span class="nhsuk-u-visually-hidden">Error:</span>
          {{ getError(item.id).message | translate: getError(item.id).params }}
        </span>
      </ng-container>

      <div class="d-flex" *ngIf="getItemControl(item.id) as control">
        <input
          [formControl]="control"
          [id]="item.id"
          [name]="item.id"
          [type]="item.type || 'text'"
          [placeholder]="placeholder"
          [value]="control.value"
          [readonly]="isEditable === false"
          class="nhsuk-input"
          [ngClass]="inputCssClass"
          [attr.aria-invalid]="hasError(item.id) ? 'true' : null"
          [attr.aria-describedby]="getAriaDescribedBy(item)"
        />

        <ng-content select="[append]"></ng-content>
      </div>
    </div>
  </ng-container>
</div>
