<div class="nhsuk-form-group" [ngClass]="{'nhsuk-form-group--error': hasError}">

  <ng-container *ngIf="label">
    <label class="nhsuk-label" [for]="id">{{ label }}</label>
  </ng-container>

  <ng-container *ngIf="description">
    <div class="nhsuk-hint" id="{{ id }}-hint">{{ description }}</div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span class="nhsuk-error-message">
      <span class="nhsuk-u-visually-hidden">Error:</span> {{ errorMessage | translate }}
    </span>
  </ng-container>

  <input [formControl]="fieldControl" [id]="id" [name]="formControlName" [type]="type" [placeholder]="placeholder" [value]="fieldControl.value" class="nhsuk-input nhsuk-u-width-two-thirds" />

</div>
