<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <ng-container *ngIf="label && pageUniqueField">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} </label>
    </h1>
  </ng-container>
  <ng-container *ngIf="label && !pageUniqueField">
    <label class="nhsuk-label" [for]="id"> {{ label }} </label>
  </ng-container>

  <ng-container *ngIf="description">
    <div id="hint-{{ id }}" class="nhsuk-hint" [innerHTML]="description"></div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert"> <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }} </span>
  </ng-container>

  <ng-container *ngIf="chosenItems.length > 0">
    <div class="nhsuk-heading-s nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">
      You have chosen {{ chosenItems.length }} {{ chosenItems.length | i18nPlural: { "=1": "item", other: "items" } }}
    </div>
    <dl class="nhsuk-summary-list">
      <div *ngFor="let item of chosenItems" class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__value">{{ item.label }}</dt>
        <dd class="nhsuk-summary-list__actions">
          <a href="javascript:void(0)" (click)="onRemoveItem(item.id)">
            Delete <span class="nhsuk-u-visually-hidden"> {{ item.label }} </span></a
          >
        </dd>
      </div>
    </dl>
  </ng-container>

  <input
    type="text"
    matInput
    [formControl]="searchFieldControl"
    [id]="id"
    name="search"
    type="text"
    [value]="searchFieldControl.value"
    class="nhsuk-input"
    [matAutocomplete]="auto"
    (keydown.enter)="$event.preventDefault()"
  />

  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="onAddItem($event)">
    <ng-container *ngIf="filteredItems$ | async as filteredItems">
      <mat-option *ngIf="filteredItems.length === 0 && (searchFieldControl.value?.length ?? 0) > 1" disabled class="mat-option--no-results">
        No result matches your search. Please, refine your search.
      </mat-option>
      <mat-option *ngFor="let item of filteredItems" [value]="item.label"> {{ item.label }} </mat-option>
    </ng-container>
  </mat-autocomplete>
</div>
