<div class="nhsuk-form-group {{ divCssOverride }}" [ngClass]="{'nhsuk-form-group--error': hasError}">

  <ng-container *ngIf="label && pageUniqueField">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} </label>
    </h1>
  </ng-container>
  <ng-container *ngIf="label && !pageUniqueField">
    <label class="nhsuk-label" [for]="id"> {{ label }} </label>
  </ng-container>

  <ng-container *ngIf="description">
    <div id="hint-{{ id }}-hint" class="nhsuk-hint" [innerHTML]="description"></div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert">
      <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }}
    </span>
  </ng-container>

  <input [formControl]="fieldControl" [id]="id" [name]="controlName" [type]="type" [placeholder]="placeholder" [value]="fieldControl.value" class="nhsuk-input" [ngClass]="inputCssClass"
    [attr.aria-invalid]="hasError ? 'true' : null"
    [attr.aria-describedby]="ariaDescribedBy" />

  <ng-content select="[append]"></ng-content>

</div>
