// Improve left bar colors on conditional fields errors.
.nhsuk-radios__conditional {
  &.error {
    border-left-color: var(--error-color);
  }

  .nhsuk-form-group--error {
    border-left: unset;
    padding-left: unset;
  }
}
