<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <ng-container *ngIf="label && pageUniqueField">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id">
        {{ label }}
      </label>
    </h1>
  </ng-container>
  <ng-container *ngIf="label && !pageUniqueField">
    <label class="nhsuk-label" [for]="id">
      {{ label }}
    </label>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert"> <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }} </span>
  </ng-container>

  <ng-container *ngIf="description">
    <div id="hint-{{ id }}" class="nhsuk-hint" [innerHTML]="description"></div>
  </ng-container>

  <select
    #select
    class="nhsuk-select width-100"
    [ngClass]="{ 'nhsuk-select--error': hasError }"
    id="{{ id }}"
    [(ngModel)]="selectedField"
    (change)="this.onChangeSelect()"
    [attr.aria-label]="ariaLabel ?? label ?? 'select'"
    (click)="this.onClick()"
    (blur)="onBlur()"
    (focus)="onFocus()"
  >
    <option *ngFor="let item of localSelectList" [disabled]="item.disabled" [ngValue]="item.key" selected="selectedField">
      <span>{{ item.text }}</span>
    </option>
  </select>
</div>
