<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <ng-container *ngIf="label">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} <span class="nhsuk-u-visually-hidden"> </span> </label>
    </h1>
  </ng-container>

  <ng-container *ngIf="description">
    <div class="nhsuk-hint" id="hint-{{ id }}" [innerHTML]="description"></div>
  </ng-container>

  <div class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p class="nhsuk-u-margin-bottom-4">You must add a document to support this evidence.</p>
    <p>You can leave this page and come back later. Your progress will be saved automatically.</p>
  </div>
  <!-- 
  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert"> <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }} </span>
  </ng-container>

  <p *ngIf="!supportingDocumentsList || supportingDocumentsList.length === 0">There are no documents uploaded to this evidence.</p>
  <dl *ngIf="supportingDocumentsList && supportingDocumentsList.length > 0" class="nhsuk-summary-list">
    <div *ngFor="let document of supportingDocumentsList; let i = index" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Document {{ i + 1 }}</dt>
      <dd class="nhsuk-summary-list__value text-pre-wrap">
        <span
          >{{ document.name }} <span *ngIf="document.file && document.file.extension">({{ document.file.extension | uppercase }}</span></span
        >
        <span *ngIf="document.file && document.file.size">{{ document.file.size ? ", " + (document.file.size | bytesPrettyPrint) : "" }})</span>
        <p *ngIf="document.description" class="nhsuk-body-s">{{ document.description }}</p>
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a *ngIf="document.id" routerLink="/{{ baseUrl }}/documents/{{ document.id }}" attr.aria-label="View {{ document.name }} details">More details</a>
      </dd>
    </div>
  </dl> -->

  <button type="button" class="nhsuk-button nhsuk-button" [routerLink]="[baseUrl, 'documents', 'new']" [queryParams]="{ entrypoint: 'EVIDENCE_OF_EFFECTIVENESS' }">
    Add document
  </button>
</div>
