<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <ng-container *ngIf="label">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} <span class="nhsuk-u-visually-hidden"> </span> </label>
    </h1>
  </ng-container>

  <ng-container *ngIf="description">
    <div class="nhsuk-hint" id="hint-{{ id }}" [innerHTML]="description"></div>
  </ng-container>

  <div class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p class="nhsuk-u-margin-bottom-4">You must add a document to support this evidence.</p>
    <p>You can leave this page and come back later. Your progress will be saved automatically.</p>
  </div>

  <button type="button" class="nhsuk-button nhsuk-button" [routerLink]="[baseUrl, 'documents', 'new']" [queryParams]="{ entrypoint: 'EVIDENCE_OF_EFFECTIVENESS' }">
    Add document
  </button>
</div>
