<div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': hasError }">
  <ng-container *ngIf="label">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-3" [for]="id"> {{ label }} <span class="nhsuk-u-visually-hidden"> </span> </label>
    </h1>
  </ng-container>

  <ng-container *ngIf="description">
    <div class="nhsuk-hint" id="hint-{{ id }}" [innerHTML]="description"></div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <span id="error-{{ id }}" class="nhsuk-error-message" role="alert"> <span class="nhsuk-u-visually-hidden">Error:</span> {{ error.message | translate: error.params }} </span>
  </ng-container>

  <p *ngIf="!supportingDocumentsList || supportingDocumentsList.length === 0">There are no documents uploaded to this evidence.</p>
  <dl *ngIf="supportingDocumentsList && supportingDocumentsList.length > 0" class="nhsuk-summary-list">
    <div *ngFor="let document of supportingDocumentsList; let i = index" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Document {{ i + 1 }}</dt>
      <dd class="nhsuk-summary-list__value text-pre-wrap">
        <a href="javascript:void(0)" attr.aria-label="Download {{ document.name }} file"
          ><span>{{ document.name }} <span *ngIf="document.file && document.file.extension">({{ document.file.extension | uppercase }}</span></span> <span *ngIf="document.file && document.file.size">{{ document.file.size ? ", " + (document.file.size | bytesPrettyPrint) : "" }})</span></a
        >
        <p *ngIf="document.description" class="nhsuk-body-s">{{ document.description }}</p>
      </dd>
      <dd class="nhsuk-summary-list__actions">
            <a *ngIf="document.id" routerLink="/{{ baseUrl }}/documents/{{ document.id }}" attr.aria-label="View {{ document.name }} details">More details</a>
          </dd>
    </div>
  </dl>

  <div *ngIf="!supportingDocumentsList || supportingDocumentsList.length === 0">
    <a class="nhsuk-action-link__link" routerLink="/{{ baseUrl }}/documents/new" [queryParams]="{ entrypoint: 'EVIDENCE_OF_EFFECTIVENESS' }">
      <theme-svg-icon type="arrow-right-circle" />
      <span class="nhsuk-action-link__text">Add document</span>
    </a>
  </div>
</div>
