<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <table class="nhsuk-table-responsive app-sortable-table nhsuk-u-padding-bottom-9">
        <caption class="nhsuk-table__caption"> Support status keys list </caption>
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" class="app-th-min-width-140">Status</th>
            <th scope="col">Definition</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr *ngFor="let status of visibleStatus" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status</span>
              <strong class="nhsuk-tag" [ngClass]="innovationSupportStatus[status].cssClass">{{ innovationSupportStatus[status].label }}</strong>
            </td>
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Definition</span>
              {{ innovationSupportStatus[status].innovatorDescription }}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</theme-content-wrapper>
