<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <table class="nhsuk-table-responsive app-sortable-table nhsuk-u-padding-bottom-9">
        <caption class="nhsuk-u-visually-hidden">
          Support status definition list
        </caption>
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" style="min-width: 140px">Status</th>
            <th scope="col">Definition</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr *ngFor="let status of visibleStatus" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Status</span>
              <theme-tag
                type="{{ 'shared.catalog.innovation.support_status.' + status + '.cssColorClass' | translate }}"
                label="{{ 'shared.catalog.innovation.support_status.' + status + '.name' | translate }}"
              ></theme-tag>
            </td>
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Definition</span>
              {{ "shared.catalog.innovation.support_status." + status + ".description" | translate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</theme-content-wrapper>
