<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you want to stop sharing your innovation with an organisation, <a href="{{ CONSTANTS.URLS.TOU_SUPPORT_ORGANISATION }}" target="_blank" rel="noopener noreferrer">update your data sharing preferences</a>.</p>
      </div>

      <ng-container *ngFor="let sectionItem of sectionsList; let sectionIndex = index;">
        <ng-container *ngIf="sectionItem.unitsList.length">

          <h2>{{ sectionItem.title }}</h2>

          <dl class="nhsuk-u-margin-0">

            <ng-container *ngFor="let unitItem of sectionItem.unitsList; let unitIndex = index">

              <dt class="" [ngClass]="{ 'bottom-border-separator nhsuk-u-margin-bottom-5': !unitItem.isOpened }">
                <div class="d-flex">
                  <svg *ngIf="!unitItem.isOpened" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="25" width="25">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
                  </svg>
                  <svg *ngIf="unitItem.isOpened" class="nhsuk-icon nhsuk-icon__minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="25" width="25">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M8 12h8"></path>
                  </svg>
                  <button id="engaging-button-{{ unitItem.id }}" (click)="onOpenCloseUnit(sectionIndex, unitIndex)" class="button-as-link with-collapsible-icon nhsuk-u-font-size-22 nhsuk-u-font-weight-bold" attr.aria-expanded="{{ unitItem.isOpened ? 'true' : 'false' }}"
                    attr.aria-controls="engaging-section-{{ unitItem.id }}">
                    {{ unitItem.name }}
                  </button>
                </div>
                <div class="nhsuk-u-font-size-14 nhsuk-u-padding-left-6 nhsuk-u-margin-bottom-3">
                  <span *ngIf="unitItem.temporalDescription" class="nhsuk-u-margin-right-4">{{ unitItem.temporalDescription }}</span>
                  <span>Status: <theme-tag type="{{ 'shared.catalog.innovation.support_status.' + unitItem.support.status + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.support_status.' + unitItem.support.status + '.name' | translate }}"></theme-tag></span>
                </div>
              </dt>

              <dd *ngIf="unitItem.isOpened" id="engaging-section-{{ unitItem.id }}" class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-5" attr.aria-labelledby="engaging-button-{{ unitItem.id }}">

                <div *ngIf="unitItem.isLoading" class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">
                    <theme-spinner cssClass="nhsuk-u-margin-9"></theme-spinner>
                  </div>
                </div>

                <ul *ngIf="!unitItem.isLoading" class="list-vertical-line" style="margin-left: 12px">

                  <li *ngFor="let historyItem of unitItem.historyList; let historyIndex = index; let historyIsLast = last">

                    <ng-container [ngSwitch]="historyItem.type">

                      <ng-container *ngSwitchCase="'SUPPORT_UPDATE'">
                        <p>
                          <span class="nhsuk-u-font-weight-bold">Updated support status</span>
                          <span class="nhsuk-hint nhsuk-u-font-size-14">
                            {{ historyItem.createdAt | date: ('app.date_formats.medium_date' | translate) }}
                            by {{ historyItem.createdBy.name }}{{ historyItem.createdBy.displayRole ? ' (' + historyItem.createdBy.displayRole + ')' : '' }}
                          </span>
                        </p>
                        <theme-tag type="{{ 'shared.catalog.innovation.support_status.' + historyItem.params.supportStatus + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.support_status.' + historyItem.params.supportStatus + '.name' | translate }}"></theme-tag>
                        <p *ngIf="historyItem.params.message">
                          <span class="nhsuk-u-font-weight-bold">Comment</span>
                          <span class="nhsuk-body-s">{{ historyItem.params.message }}</span>
                        </p>
                      </ng-container>

                      <ng-container *ngSwitchCase="'SUGGESTED_ORGANISATION'">
                        <p>
                          <span class="nhsuk-u-font-weight-bold">Organisation suggested</span>
                          <span class="nhsuk-hint nhsuk-u-font-size-14">
                            {{ historyItem.createdAt | date: ('app.date_formats.medium_date' | translate) }}
                            by {{ historyItem.createdBy.name }}{{ historyItem.createdBy.displayRole ? ' (' + historyItem.createdBy.displayRole + ')' : '' }}
                          </span>
                        </p>
                        <p class="nhsuk-u-font-weight-bold">{{ historyItem.params.suggestedByName }}</p>
                        <p *ngIf="historyItem.params.message">
                          <span class="nhsuk-u-font-weight-bold">Comment</span>
                          <span class="nhsuk-body-s">{{ historyItem.params.message }}</span>
                        </p>
                      </ng-container>

                      <ng-container *ngSwitchCase="'PROGRESS_UPDATE'">
                        <p>
                          <span class="nhsuk-u-font-weight-bold">{{ historyItem.params.title }}</span>
                          <span class="nhsuk-hint nhsuk-u-font-size-14">
                            {{ historyItem.createdAt | date: ('app.date_formats.medium_date' | translate) }}
                            by {{ historyItem.createdBy.name }}{{ historyItem.createdBy.displayRole ? ' (' + historyItem.createdBy.displayRole + ')' : '' }}
                          </span>
                        </p>
                        <p>
                          <span class="nhsuk-u-font-weight-bold">{{ historyItem.params.title }}</span>
                          <span class="nhsuk-hint nhsuk-u-font-size-14">{{ historyItem.params.message }}</span>
                        </p>
                      </ng-container>

                    </ng-container>

                    <hr *ngIf="!historyIsLast" class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-3" />

                  </li>
                </ul>

                <a href="javascript:void()" (click)="goToFragment('engaging-button-' + unitItem.id)" class="nhsuk-u-font-size-14">Back to top</a>

                <hr class="nhsuk-section-break nhsuk-section-break--visible  nhsuk-u-margin-top-3" />

              </dd>


            </ng-container>


          </dl>

        </ng-container>
      </ng-container>

      <ng-container *ngIf="innovation.assessment">
        <h2>Needs assessment</h2>
        <!-- <div class="nhsuk-u-margin-bottom-3"> -->
        <a routerLink="../assessments/{{ innovation.assessment.id }}" class="nhsuk-u-font-size-22">Needs assessment complete</a>
        <div class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-3">
          Completed at {{ innovation.assessment.finishedAt | date: 'MMMM y' }}
        </div>
        <!-- </div> -->
      </ng-container>

    </div>
  </div>

</theme-content-wrapper>
