<theme-content-wrapper [status]="pageStatus">

  <div *ngIf="emailNotificationPreferencesLink" class="text-align-right nhsuk-u-padding-bottom-3">
    <a [routerLink]="emailNotificationPreferencesLink">Change your email notifications preferences</a>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">

      <form [formGroup]="form">
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-0">Filters</h2>

        <ng-container *ngFor="let filter of filters">
          <a href="javascript:void(0)" (click)="onOpenCloseFilter(filter.key)" class="d-flex align-items-center nhsuk-u-font-size-19 text-decoration-none nhsuk-u-margin-bottom-0" [attr.aria-expanded]="filter.showHideStatus === 'opened' ? 'true' : 'false'">
            <ng-container *ngTemplateOutlet="filterIcon; context: { showHideStatus: filter.showHideStatus }"></ng-container>
            <span class="nhsuk-u-padding-left-2"> {{ filter.title }} <span class="nhsuk-u-visually-hidden"> filter section </span></span>
          </a>
          <div class="nhsuk-u-padding-left-1" [ngClass]="{'nhsuk-u-visually-hidden': filter.showHideStatus !== 'opened'}">
            <div class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-bottom-1 nhsuk-u-padding-left-6">{{ (form.get(filter.key)?.value || []).length }} selected</div>
            <theme-form-checkbox-array [arrayName]="filter.key" [items]="datasets[filter.key]" size="small" [pageUniqueField]="false"> </theme-form-checkbox-array>
          </div>
          <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3" />
        </ng-container>

        <theme-form-checkbox controlName="unreadOnly" label="Show only unread notifications" size="small"></theme-form-checkbox>

      </form>

    </div>

    <div class="nhsuk-grid-column-three-quarters">

      <dl class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1 nhsuk-u-padding-2 bg-color-grey">

        <dt *ngIf="!anyFilterSelected" class="nhsuk-u-font-size-16"> No filter has been selected </dt>

        <div *ngFor="let filter of selectedFilters" class="d-flex align-items-center">
          <dt class="width-15 nhsuk-u-font-size-16">{{ filter.title }}</dt>
          <dd class="width-75">
            <span *ngFor="let selected of filter.selected" class="d-inline-block bordered-item nhsuk-u-margin-1">
              <a href="javascript:void(0)" (click)="onRemoveFilter(filter.key, selected.value)" attr.aria-label="Remove {{ selected.label }} from {{ filter.title }} filter">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" aria-hidden="true" focusable="false" height="20" width="20">
                  <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
              </a>
              <span class="nhsuk-u-font-size-14">{{ selected.label }}</span>
            </span>
          </dd>
        </div>

        <dt *ngIf="anyFilterSelected && form.get('unreadOnly')?.value" class="nhsuk-u-font-size-16 nhsuk-u-margin-top-2">
          Viewing only unread notifications
        </dt>

      </dl>

      <div class="d-flex align-items-center justify-content-space-between  nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
        <div class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-0"> {{ notificationsList.getTotalRowsNumber() }} notifications found </div>
        <a href="javascript:void(0)" (click)="onMarkAsReadAllNotifications()" class="nhsuk-body-s nhsuk-u-margin-bottom-0">
          Mark all as read
        </a>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--visible" />


      <ng-container *ngIf="pageStatus === 'READY' && notificationsList.getTotalRowsNumber() === 0">
        <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
      </ng-container>

      <ng-container *ngIf="pageStatus === 'READY' && notificationsList.getTotalRowsNumber() > 0">

        <table *ngIf="pageStatus === 'READY' && notificationsList.getTotalRowsNumber() > 0" class="nhsuk-table-responsive app-sortable-table">
          <caption class="nhsuk-u-visually-hidden">
            Notifications list
            <span *ngIf="notificationsList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of notificationsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of notificationsList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-body-s">
                <span class="nhsuk-table-responsive__heading">{{ notificationsList.getColumnLabel('notification') }}</span>

                <!-- <ng-container *ngIf="!item.link">
                  <span *ngIf="item.readAt !== null" class="nhsuk-table-responsive__text">
                    {{ 'shared.catalog.innovation.notification_context_details.' + item.contextDetail + '.title' | translate: item.params }}
                  </span>

                  <a *ngIf="item.readAt === null" href="javascript:void(0)" (click)="onNotificationClick($event, item.id, null)">
                    {{ 'shared.catalog.innovation.notification_context_details.' + item.contextDetail + '.title' | translate: item.params }}
                    <span class="nhsuk-u-visually-hidden">Click to mark as read</span>
                  </a>
                </ng-container> -->

                <ng-container *ngIf="item.link">
                  {{ 'shared.catalog.innovation.notification_context_details.' + item.contextDetail + '.title' | translate: item.params }} 
                  <a href="/transactional{{ item.link.url }}" (click)="onNotificationClick($event, item.id, item.link.url, item.link.queryParams)">
                    {{ 'shared.catalog.innovation.notification_context_details.' + item.contextDetail + '.link' | translate: item.params }}
                    <span class="nhsuk-u-visually-hidden"> {{ item.link.label }} </span>
                  </a>
                </ng-container>
                <ng-container *ngIf="!item.link && item.readAt === null">
                  <a href="javascript:void(0)" (click)="onNotificationClick($event, item.id, null)">
                    {{ 'Mark as read' }} 
                    <span class="nhsuk-u-visually-hidden">Click to mark as read</span>
                  </a>
                </ng-container>



                <theme-notification-tag label="dot" *ngIf="item.readAt === null"></theme-notification-tag>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ notificationsList.getColumnLabel('createdAt') }}</span>
                {{ item.createdAt | date: ('app.date_formats.long_date' | translate) }}
              </td>
              <td class="nhsuk-table__cell nhsuk-body-s text-align-right">
                <span class="nhsuk-table-responsive__heading">Action</span>
                <a href="javascript:void(0)" (click)="onDeleteNotification(item.id)">
                  Clear <span class="nhsuk-u-visually-hidden"> notification {{ 'shared.catalog.innovation.notification_context_details.' + item.contextDetail + '.title' | translate: item.params }} </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination [currentPage]="notificationsList.page" [pageSize]="notificationsList.pageSize" [totalRows]="notificationsList.getTotalRowsNumber()" (updatePageEvent)="onPageChange($event)"></theme-pagination>
        </div>

      </ng-container>

    </div>

  </div>

</theme-content-wrapper>


<ng-template #filterIcon let-showHideStatus="showHideStatus">
  <svg *ngIf="showHideStatus === 'closed'" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="25" width="25">
    <circle cx="12" cy="12" r="10"></circle>
    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
  </svg>
  <svg *ngIf="showHideStatus === 'opened'" class="nhsuk-icon nhsuk-icon__minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="25" width="25">
    <circle cx="12" cy="12" r="10"></circle>
    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M8 12h8"></path>
  </svg>
</ng-template>
