<theme-content-wrapper [status]="pageStatus">
  <div *ngIf="emailNotificationPreferencesLink" class="text-align-right nhsuk-u-padding-bottom-2">
    <a [routerLink]="emailNotificationPreferencesLink">Change your email preferences</a>
  </div>
  <div *ngIf="customNotificationPreferencesLink && isAccessorType" class="text-align-right nhsuk-u-padding-bottom-3">
    <a [routerLink]="customNotificationPreferencesLink">Manage your custom notifications</a>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <shared-filters-wrapper-component title="Filters" [form]="form" [model]="filtersModel" />
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <shared-filters-selection-wrapper-component [model]="filtersModel" />

      <div class="d-flex align-items-center justify-content-space-between nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
        <h2 role="alert" class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-0">{{ notificationsList.getTotalRowsNumber() }} notifications found</h2>
        <a href="javascript:void(0)" (click)="onMarkAsReadAllNotifications()" class="nhsuk-body-s nhsuk-u-margin-bottom-0"> Mark all as read </a>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--visible" />

      <ng-container *ngIf="pageStatus === 'READY' && notificationsList.getTotalRowsNumber() === 0">
        <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
      </ng-container>

      <ng-container *ngIf="pageStatus === 'READY' && notificationsList.getTotalRowsNumber() > 0">
        <table *ngIf="pageStatus === 'READY' && notificationsList.getTotalRowsNumber() > 0" class="nhsuk-table-responsive app-sortable-table">
          <caption class="nhsuk-u-visually-hidden">
            Notifications list
            <span *ngIf="notificationsList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of notificationsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of notificationsList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-body-s">
                <span class="nhsuk-table-responsive__heading">{{ notificationsList.getColumnLabel("notification") }}</span>

                <ng-container *ngIf="!item.link">
                  {{ "shared.catalog.innovation.notification_context_details." + item.contextDetail + ".title" | translate: item.params }}
                  <a *ngIf="item.readAt === null" href="javascript:void(0)" (click)="onNotificationClick($event, item.id, null)">
                    Mark as read.
                    <span class="nhsuk-u-visually-hidden">Click to mark as read</span>
                  </a>
                </ng-container>

                <ng-container *ngIf="item.link">
                  {{ "shared.catalog.innovation.notification_context_details." + item.contextDetail + ".title" | translate: item.params }}
                  <a href="/transactional{{ item.link.url }}" (click)="onNotificationClick($event, item.id, item.link.url, item.link.queryParams)">
                    {{ "shared.catalog.innovation.notification_context_details." + item.contextDetail + ".link" | translate: item.params }}
                    <span class="nhsuk-u-visually-hidden"> {{ item.link.label }} </span>
                  </a>
                </ng-container>

                <theme-notification-tag label="dot" *ngIf="item.readAt === null"></theme-notification-tag>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ notificationsList.getColumnLabel("createdAt") }}</span>
                {{ item.createdAt | date: ("app.date_formats.long_date" | translate) }}
              </td>
              <td class="nhsuk-table__cell nhsuk-body-s text-align-right">
                <span class="nhsuk-table-responsive__heading">Action</span>
                <a href="javascript:void(0)" (click)="onDeleteNotification(item.id)">
                  Clear
                  <span class="nhsuk-u-visually-hidden">
                    notification {{ "shared.catalog.innovation.notification_context_details." + item.contextDetail + ".title" | translate: item.params }}
                  </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination
            [currentPage]="notificationsList.page"
            [pageSize]="notificationsList.pageSize"
            [totalRows]="notificationsList.getTotalRowsNumber()"
            (updatePageEvent)="onPageChange($event)"
          ></theme-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #filterIcon let-showHideStatus="showHideStatus">
  <theme-svg-icon *ngIf="showHideStatus === 'closed'" type="plus" />
  <theme-svg-icon *ngIf="showHideStatus === 'opened'" type="minus" />
</ng-template>
