<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form [formGroup]="form">
        <theme-form-radio-group controlName="section" label="Which section of the innovation record is this action for?" [items]="sectionItems" [pageUniqueField]="false"></theme-form-radio-group>
        <theme-form-textarea controlName="description" label="Please describe what information you want the innovator to provide" [pageUniqueField]="false" lengthLimit="medium"></theme-form-textarea>
        <button class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" (click)="onSubmit()">Request action</button>
        <div class="nhsuk-u-padding-bottom-5">
          <a routerLink="/accessor/innovations/{{ innovationId }}/action-tracker"> Cancel </a>
        </div>
      </form>

    </div>
  </div>

</theme-content-wrapper>
