<div class="nhsuk-grid-row nhsuk-u-padding-bottom-3 d-flex align-items-center">
  <div class="nhsuk-grid-column-one-half">
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ innovation.name }}</h1>
  </div>
  <div *ngIf="innovation.assessment.id" class="nhsuk-grid-column-one-half text-align-right">
    <a routerLink="/accessor/innovations/{{ innovationId }}/assessments/{{ innovation.assessment.id }}">View needs assessment</a>
  </div>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-3" />

<h2 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">Action tracker</h2>

<a *ngIf="innovation.support.status === 'ENGAGING'" routerLink="/accessor/innovations/{{ innovationId }}/action-tracker/new" class="nhsuk-button nhsuk-u-margin-bottom-7"> Create new action </a>


<h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Open actions</h2>
<table class="nhsuk-table-responsive app-sortable-table" aria-describedby="Open actions list">
  <thead class="nhsuk-table__head">
    <tr class="">
      <th *ngFor="let item of openedActionsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
        <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
        <button *ngIf="item.orderable" type="button">{{ item.label }}</button>
        <ng-container *ngIf="item.key === 'status'">
          <br />
          <a routerLink="statuses" class="nhsuk-body-s nhsuk-u-margin-bottom-0">Status key</a>
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr *ngFor="let item of openedActionsList.getRecords()" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">{{ openedActionsList.getColumnLabel('id') }}</span>
        <span>{{ item.displayId }}</span>
      </td>
      <td class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">{{ openedActionsList.getColumnLabel('name') }}</span>
        <a routerLink="/accessor/innovations/{{ innovationId }}/action-tracker/{{ item.id }}">{{ item.name }}</a>
        <span *ngIf="item.notifications.count > 0"> (New) </span>
      </td>
      <td class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">{{ openedActionsList.getColumnLabel('createdAt') }}</span>
        {{ item.createdAt | date: ('app.date_formats.long_date' | translate) }}
      </td>
      <td class="nhsuk-table__cell text-align-right">
        <span class="nhsuk-table-responsive__heading">{{ openedActionsList.getColumnLabel('status') }}</span>
        <strong class="nhsuk-tag" [ngClass]="innovationSectionActionStatus[item.status]?.cssClass || ''">{{ innovationSectionActionStatus[item.status]?.label || '' }}</strong>
      </td>
    </tr>
  </tbody>
</table>


<h2 class="nhsuk-heading-l nhsuk-u-padding-top-5 nhsuk-u-margin-bottom-3">Closed actions</h2>
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      All closed actions
    </span>
  </summary>
  <div class="nhsuk-details__text">

    <table class="nhsuk-table-responsive app-sortable-table" aria-describedby="Open actions list">
      <thead class="nhsuk-table__head">
        <tr class="">
          <th *ngFor="let item of closedActionsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
            <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
            <button *ngIf="item.orderable" type="button">{{ item.label }}</button>
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr *ngFor="let item of closedActionsList.getRecords()" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">{{ closedActionsList.getColumnLabel('id') }} </span>
            <span>{{ item.displayId }}</span>
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">{{ closedActionsList.getColumnLabel('name') }} </span>
            <a routerLink="/accessor/innovations/{{ innovationId }}/action-tracker/{{ item.id }}">{{ item.name }}</a>
            <span *ngIf="item.notifications.count > 0"> (New) </span>
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">{{ closedActionsList.getColumnLabel('createdAt') }} </span>
            {{ item.createdAt | date: ('app.date_formats.long_date' | translate) }}
          </td>
          <td class="nhsuk-table__cell text-align-right">
            <span class="nhsuk-table-responsive__heading">{{ closedActionsList.getColumnLabel('status') }} </span>
            <strong class="nhsuk-tag" [ngClass]="innovationSectionActionStatus[item.status]?.cssClass || ''">{{ innovationSectionActionStatus[item.status]?.label || '' }}</strong>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</details>
