<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form [formGroup]="form" (ngSubmit)="onNextStep()">
        <theme-form-file-upload
          groupName="documentFile"
          [label]="title"
          description="Files must be CSV, XLSX, DOCX or PDF, and can be up to 20MB each."
          [config]="fileUploadConfig"
        ></theme-form-file-upload>

        <button type="submit" class="nhsuk-button">Continue</button>
      </form>
    </div>
  </div>
</theme-content-wrapper>
