<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-3">{{ title }}</h1>

      <p class="nhsuk-hint nhsuk-u-margin-bottom-5">
        For example, an assessment has started, a key meeting has been scheduled, or the innovation has moved to the next phase of a selection process.
      </p>

      <form [formGroup]="form" (ngSubmit)="onNextStep()">
        <theme-form-input
          controlName="title"
          label="Start by adding a title to your progress update"
          description="Enter a title with a maximum of 100 characters"
        ></theme-form-input>

        <button type="submit" class="nhsuk-button">Continue</button>
      </form>
    </div>
  </div>
</theme-content-wrapper>
