<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>Everyone who is currently working with this innovation</h1>

      <h2 class="nhsuk-heading-l">Innovators</h2>

      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">User</th>
            <th role="columnheader" class="" scope="col">Role</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <ng-container *ngFor="let innovator of innovationParticipants.innovators">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ innovator.name }}</td>
              <td class="nhsuk-table__cell">{{ innovator.role }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <h2 class="nhsuk-heading-l">Supporting organisations</h2>
      <p class="nhsuk-body-m">
        See the accessors from the organisations supporting this innovation. Your messages and innovation record can be seen by everyone who has access to this innovation.
        <a routerLink="../support" target="_blank" rel="noopener noreferrer"> View a list of this innovation's data sharing preferences (opens in a new window). </a>
      </p>

      <p>
        <a href="{{ CONSTANTS.URLS.WHO_WE_ARE }}" target="_blank" rel="noopener noreferrer"> What does each organisation do? (opens in a new window) </a>
      </p>

      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">User</th>
            <th role="columnheader" class="" scope="col">Organisation/unit</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <ng-container *ngFor="let accessor of innovationParticipants.accessors">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ accessor.name }}</td>
              <td class="nhsuk-table__cell" *ngIf="accessor.organisation.name === accessor.organisation.unit.name; else notShadow">
                {{ accessor.organisation.name }} ({{ accessor.organisation.acronym }})
              </td>
              <ng-template #notShadow>
                <td class="nhsuk-table__cell">{{ accessor.organisation.name }} / {{ accessor.organisation.unit.acronym }}</td>
              </ng-template>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <h2 class="nhsuk-heading-l">Needs assessors</h2>

      <p>Needs assessors will only be actively working on the innovation during the needs assessment process.</p>

      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">User</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <ng-container *ngFor="let assessor of innovationParticipants.assessmentUsers">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ assessor.name }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</theme-content-wrapper>
