<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <ng-container *ngIf="isQuestionStep()">

        <!-- <h1 *ngIf="wizard.currentStep().label" class="nhsuk-heading-l">{{ wizard.currentStep().label }}</h1>
        <div *ngIf="wizard.currentStep().description" id="page-parameter-hint" class="nhsuk-hint nhsuk-u-margin-bottom-0">{{ wizard.currentStep().description }}</div> -->

        <theme-form-engine formId="sectionForm" [parameters]="wizard.currentStepParameters()" [values]="wizard.getAnswers()"></theme-form-engine>
        <button type="submit" form="sectionForm" class="nhsuk-button" (click)="onSubmitStep('next', $event)">Continue</button>

      </ng-container>


      <ng-container *ngIf="isSummaryStep()">

        <h1 class="nhsuk-heading-l">Check your answers</h1>

        <dl class="nhsuk-summary-list">
          <div *ngFor="let item of summaryList" class="nhsuk-summary-list__row">
            <ng-container *ngIf="item.editStepNumber">
              <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
              <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
              <dd class="nhsuk-summary-list__actions">
                <a [routerLink]="getStepUrl(item.editStepNumber)"> Change <span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a>
              </dd>
            </ng-container>
          </div>
        </dl>

        <button class="nhsuk-button" (click)="onSubmitWizard()"> Save </button>

      </ng-container>

    </div>
  </div>

</theme-content-wrapper>
