<theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
  <p> {{ alert.message }} </p>
</theme-alert>

<theme-page-title [title]="pageTitle" [titleHint]="user.name"></theme-page-title>

<theme-spinner *ngIf="pageStatus === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>


<div *ngIf="pageStatus === 'READY'" aria-live="polite">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <table class="nhsuk-table">
        <caption>All conditions must be valid to be able to lock {{ user.name }}</caption>
        <thead class="nhsuk-table__head nhsuk-u-visually-hidden">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col"> Condition </th>
            <th class="nhsuk-table__header" scope="col"> Is valid </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr *ngFor="let item of rulesList" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              {{ 'shared.catalog.user.lock_user_validations.' + item.key + '.label' | translate }}
              <div *ngIf="!item.valid && translationExists('shared.catalog.user.lock_user_validations.' + item.key + '.description')" class="nhsuk-hint nhsuk-u-margin-0">
                {{ 'shared.catalog.user.lock_user_validations.' + item.key + '.description' | pluralTranslate:item.meta?.supports.innovations.length | translate: item.meta }}
              </div>
            </td>
            <td class="nhsuk-table__cell text-align-right">
              <strong class="nhsuk-tag" [ngClass]="{'nhsuk-tag--green': item.valid, 'nhsuk-tag--red': !item.valid}">{{ item.valid ? 'Valid' : 'Invalid' }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <ng-container *ngIf="pageStep === 'CODE_REQUEST'">
          <theme-form-input controlName="code" label="Enter the confirmation code" [pageUniqueField]="false"></theme-form-input>
        </ng-container>

        <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3">Lock user</button>

      </form>

    </div>
  </div>

</div>
