<theme-alert type="ERROR" title="This is an error message" [setFocus]="true">
  <p> When any operation is successful or generate an error, this is the place where those messages will appear, with all the necessary detail. </p>
</theme-alert>

<theme-page-title [title]="pageTitle" titleHint="Morgan Freeman"></theme-page-title>

<p>Disclaimer: This page is mocked!</p>
<p>Are you sure you want to delete Morgan Freeman? Is such a good actor...</p>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <table class="nhsuk-table">
      <caption>All conditions must be valid to be able to delete Morgan Freeman</caption>
      <thead class="nhsuk-table__head nhsuk-u-visually-hidden">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col"> Condition </th>
          <th class="nhsuk-table__header" scope="col"> Is valid </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Accessor cannot be assigned to any innovation</td>
          <td class="nhsuk-table__cell">
            <strong class="nhsuk-tag nhsuk-tag--green">Valid</strong>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            Accessor cannot be the only one on one organisation unit
            <div class="nhsuk-hint nhsuk-u-margin-0">Is the only one on NICE</div>
          </td>
          <td class="nhsuk-table__cell">
            <strong class="nhsuk-tag nhsuk-tag--red">Invalid</strong>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Should have log on the past week</td>
          <td class="nhsuk-table__cell">
            <strong class="nhsuk-tag nhsuk-tag--red">Invalid</strong>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
