<theme-page-title [title]="pageTitle" titleHint="Morgan Freeman" [actions]="titleActions"></theme-page-title>

<p>Disclaimer: This page is mocked!</p>

<p>This can show different information per user type</p>

<h2>Innovator</h2>
<ul>
  <li> Basic information </li>
  <li> Innovations list (with link to the details) </li>
</ul>

<h2>Needs assessment</h2>
<ul>
  <li> Basic information </li>
</ul>

<h2>Qualifying accessors / Accessors</h2>
<ul>
  <li> Basic information </li>
  <li> Organisation / Unit </li>
  <li> Innovations currently assigned? </li>
</ul>
