<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">{{ section.title }}</h1>

    <ng-container *ngIf="summaryAlert.type">
      <div class="nhsuk-error-summary" [ngClass]="{'border-color-warning': summaryAlert.type === 'warning'}" aria-labelledby="alert-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="alert-summary-title">{{ summaryAlert.title }}</h2>
        <div class="nhsuk-error-summary__body" [innerHTML]="summaryAlert.message"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="!section.isNotStarted">

      <h2 class="nhsuk-heading-m">{{ module === 'innovator' ? 'Submitted' : 'Your' }} answers</h2>
      <dl class="nhsuk-summary-list">
        <div *ngFor="let item of summaryList" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
          <dd class="nhsuk-summary-list__value text-pre-wrap" [innerHTML]="item.value"></dd>
          <dd class="nhsuk-summary-list__actions">
            <a *ngIf="module === 'innovator' && item.editStepNumber" routerLink="edit/{{ item.editStepNumber }}"> Change <span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a>
            <a *ngIf="item.evidenceId" routerLink="evidence/{{ item.evidenceId }}"> View <span class="nhsuk-u-visually-hidden"> evidence detail </span></a>
          </dd>
        </div>
      </dl>

    </ng-container>

    <ng-container *ngIf="module === 'innovator'">
      <button *ngIf="section.isNotStarted" type="button" routerLink="edit" class="nhsuk-button nhsuk-u-margin-right-3">Start now</button>
      <button *ngIf="section.showSubmitButton" (click)="onSubmitSection()" class="nhsuk-button nhsuk-u-margin-right-3"> Submit </button>
      <button *ngIf="section.hasEvidences" routerLink="evidence/new" class="nhsuk-button nhsuk-button--secondary"> Add evidence </button>
    </ng-container>

    <ng-container *ngIf="module === 'accessor'">
      <button routerLink="/accessor/innovations/{{ innovationId }}/action-tracker/new" [queryParams]="{ section: sectionId }" class="nhsuk-button"> Create action for this section </button>
    </ng-container>

  </div>
</div>
