.app-round-corners {
  border-radius: 8px;
  background-color: #d4351c;
  width: 22px;
  height: 17px;
  color: white;
  text-align: center;
  font-size: small;
}

.app-plus-99 {
  width: 30px;
}

.app-new {
  width: 40px;
}

// TODO:
// border-radius: 15px;
// background-color: #d4351c;
// width: 25px;
// height: 25px;
// color: white;
// text-align: center;
// font-size: small;
// /* top: 11px; */
// padding-top: 3px