<ng-container *ngIf="params">
  <ng-container>
    <div class="nhsuk-card nhsuk-u-margin-top-2 nhsuk-u-padding-5 nhsuk-u-font-size-19">
      <div class="d-flex nhsuk-u-margin-bottom-1">
        <div class="width-85 nhsuk-u-font-size-19">
          <p class="nhsuk-u-font-weight-bold">{{ params.title }}</p>
        </div>
        <div *ngIf="!isLoginAnnouncementPage" class="width-15 nhsuk-u-font-size-19 text-align-right">
          <a href="javascript:void(0)" (click)="clearAnnouncement()">Clear</a>
        </div>
      </div>
      <p *ngIf="params.relatedInnovations && !isOverviewPage" class="font-color-secondary">
        <span
          >{{ "Re:" }}
          <ng-container *ngFor="let innovation of params.relatedInnovations; let first = first; let last = last">
            <span *ngIf="!first && !last">{{ ", " }}</span>
            <span *ngIf="last">{{ " and " }}</span>
            <span>{{ innovation.name }}</span>
          </ng-container>
        </span>
      </p>
      <p>{{ params.content }}</p>
      <a *ngIf="params.link" [href]="params.link.url">{{ params.link.label }}</a>
    </div>
  </ng-container>
</ng-container>
