<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Find innovation support</h1>
      <p>Help us guide you towards the right level of information and support.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>Use this service to get relevant information about developing your healthcare innovation.</p>
      </div>

      <a [href]="signInUrl" class="nhsuk-button">Start now</a>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-padding-top-9">
      <div class="nhsuk-card x-card-top-border">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">Information guides for innovators</h2>
          <ul class="nhsuk-list">
            <li><a href="{{ CONSTANTS.URLS.INNOVATION_GUIDES_STARTER_GUIDE }}">Starter Innovation Guide</a></li>
            <li><a href="{{ CONSTANTS.URLS.INNOVATION_GUIDES_ADVANCED_GUIDE }}">Advanced Innovation Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</theme-content-wrapper>
