<theme-content-wrapper [status]="pageStatus">

  <div *ngIf="!innovation?.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p> Please note that the innovator {{ innovation?.owner?.name }} is currently locked. </p>
  </div>

  <ng-container [ngSwitch]="innovation?.status">
    <ng-container *ngSwitchCase="'WAITING_NEEDS_ASSESSMENT'">
      <div class="nhsuk-action-link">
        <a *ngIf="!innovation?.assessment?.id" class="nhsuk-action-link__link" routerLink="/assessment/innovations/{{ innovation?.id || '' }}/assessments/new">
          <theme-svg-icon type="action"></theme-svg-icon>
          <span class="nhsuk-action-link__text"> Start the needs assessment process </span>
        </a>
        <a *ngIf="innovation?.assessment?.id" routerLink="/assessment/innovations/{{ innovation?.id }}/assessments/{{ innovation?.assessment?.id }}/edit" class="nhsuk-button"> Continue needs assessment </a>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'NEEDS_ASSESSMENT'">
      <div class="d-flex">
        <theme-svg-icon type="edit"></theme-svg-icon>
        <span class="nhsuk-u-margin-right-2"></span>
        <h2 class="nhsuk-heading-m">Needs assessment in progress</h2>
      </div>
      <hr class="nhsuk-section-break nhsuk-section-break--visible" />
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Assigned assessor</dt>
          <dd class="nhsuk-summary-list__value">{{ innovation?.assessment?.assignedTo?.name }}</dd>
          <dd *ngIf="innovation?.assessment?.id" class="nhsuk-summary-list__value">
            <a routerLink="/assessment/innovations/{{ innovation?.id }}/change-assessor"> Change assessor </a>
          </dd>
        </div>
      </dl>
      <a routerLink="/assessment/innovations/{{ innovation?.id }}/assessments/{{ innovation?.assessment?.id }}/edit" class="nhsuk-button"> Continue needs assessment </a>
    </ng-container>
    <ng-container *ngSwitchCase="'IN_PROGRESS'">
      <div class="d-flex">
        <theme-svg-icon type="success"></theme-svg-icon>
        <span class="nhsuk-u-margin-right-2"></span>
        <h2 class="nhsuk-heading-m">Needs assessment complete</h2>
      </div>
      <hr class="nhsuk-section-break nhsuk-section-break--visible" />
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Assessor</dt>
          <dd class="nhsuk-summary-list__value">{{ innovation?.assessment?.assignedTo?.name }}</dd>
        </div>
      </dl>
    </ng-container>
  </ng-container>

  
  <ng-container *ngIf="innovation?.status && innovation?.status !== 'WAITING_NEEDS_ASSESSMENT'">    
    <app-statistics-cards [cardsList]="cardsList" [gridClass]="'nhsuk-grid-column-one-half'"></app-statistics-cards>
  </ng-container>

  <h2 class="nhsuk-heading-m">Innovation summary</h2>
  <dl class="nhsuk-summary-list">
    <div *ngFor="let item of innovationSummary" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
      <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
    </div>
  </dl>

  <h2 class="nhsuk-heading-m">Innovator contact details</h2>
  <dl class="nhsuk-summary-list">
    <div *ngFor="let item of innovatorSummary" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
      <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
    </div>
  </dl>

</theme-content-wrapper>
