<div class="nhsuk-grid-row nhsuk-u-padding-bottom-3 d-flex align-items-center">
  <div class="nhsuk-grid-column-one-half">
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ innovation?.summary?.name }}</h1>
  </div>
  <div *ngIf="innovation?.assessment?.id && innovation?.summary?.status === 'COMPLETE'" class="nhsuk-grid-column-one-half text-align-right">
    <a routerLink="/assessment/innovations/{{ innovation?.summary?.id || '' }}/assessment/{{ innovation?.assessment?.id || '' }}">View needs assessment</a>
  </div>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4" />

<ng-container [ngSwitch]="innovation?.summary?.status">
  <ng-container *ngSwitchCase="'WAITING_NEEDS_ASSESSMENT'">
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" routerLink="/assessment/innovations/{{ innovation?.summary?.id || '' }}/assessments/new">
        <theme-svg-icon type="action"></theme-svg-icon>
        <span class="nhsuk-action-link__text">Start the needs assessment process</span>
      </a>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'NEEDS_ASSESSMENT'">
    <div class="d-flex">
      <theme-svg-icon type="edit"></theme-svg-icon>
      <span class="nhsuk-u-margin-right-2"></span>
      <h2 class="nhsuk-heading-m">Needs assessment in progress</h2>
    </div>
    <hr class="nhsuk-section-break nhsuk-section-break--visible" />
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Assigned assessor</dt>
        <dd class="nhsuk-summary-list__value">{{ innovation?.assessment?.assignToName }}</dd>
      </div>
    </dl>
    <a routerLink="/assessment/innovations/{{ innovation?.summary?.id }}/assessments/{{ innovation?.assessment?.id }}/edit" class="nhsuk-button"> Continue needs assessment </a>
  </ng-container>
  <ng-container *ngSwitchCase="'COMPLETE'">
    <div class="d-flex">
      <theme-svg-icon type="success"></theme-svg-icon>
      <span class="nhsuk-u-margin-right-2"></span>
      <h2 class="nhsuk-heading-m">Needs assessment complete</h2>
    </div>
    <hr class="nhsuk-section-break nhsuk-section-break--visible" />
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Assessor</dt>
        <dd class="nhsuk-summary-list__value">{{ innovation?.assessment?.assignToName }}</dd>
      </div>
    </dl>
  </ng-container>
</ng-container>

<h2 class="nhsuk-heading-m">Innovation summary</h2>
<dl class="nhsuk-summary-list">
  <div *ngFor="let item of innovationSummary" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
    <dd class="nhsuk-summary-list__value text-pre-wrap" [innerHTML]="item.value"></dd>
  </div>
</dl>

<h2 class="nhsuk-heading-m">Innovator contact details</h2>
<dl class="nhsuk-summary-list">
  <div *ngFor="let item of innovatorSummary" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
    <dd class="nhsuk-summary-list__value text-pre-wrap" [innerHTML]="item.value"></dd>
  </div>
</dl>
