<div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-5">

  <theme-spinner *ngIf="pageStatus === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

  <ng-container *ngIf="pageStatus === 'READY'">

    <div class=" nhsuk-back-link">
      <a routerLink="{{ notificationListLink }}" class="nhsuk-back-link__link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
      </a>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
          <p> {{ alert.message }} </p>
        </theme-alert>

        <form [formGroup]="form">
          <theme-form-radio-group controlName="notificationPreference" [label]="notificationPreferences.question" [items]="notificationPreferences.items"></theme-form-radio-group>
          <button class="nhsuk-button nhsuk-u-margin-top-3" (click)="onSubmit()">Change preferences</button>
        </form>

      </div>
    </div>

  </ng-container>

</div>
