<div class="nhsuk-grid-row nhsuk-u-padding-top-3">
  <div class="nhsuk-grid-column-full">

    <theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
      <p> {{ alert.message }} </p>
    </theme-alert>

    <h1 class="nhsuk-heading-xl"> {{ pageTitle }} </h1>

    <dl class="nhsuk-summary-list">
      <div *ngFor="let item of notificationTypeList" class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key"> {{ item.value }} </dt>
        <ng-container *ngIf="item.isSubscribed; else unsubscribedBlock">
          <dd class="nhsuk-summary-list__value text-pre-wrap">You get instant updates</dd>
          <dd class="nhsuk-summary-list__actions">
            <a [routerLink]="updatePreference(item.id, false)"> Unsubscribe <span class="nhsuk-u-visually-hidden"> {{ item.value | lowercase }} </span></a>
          </dd>
        </ng-container>

        <ng-template #unsubscribedBlock>
          <dd class="nhsuk-summary-list__value text-pre-wrap">You do not get updates</dd>
          <dd class="nhsuk-summary-list__actions">
            <a [routerLink]="updatePreference(item.id, true)"> Get updates <span class="nhsuk-u-visually-hidden"> {{ item.value | lowercase }} </span></a>
          </dd>
        </ng-template>

      </div>
    </dl>

    <p class="nhsuk-u-margin-0 nhsuk-u-padding-bottom-5"><a routerLink=""> Unsubscribe from everything </a></p>

  </div>
</div>