<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <dl class="nhsuk-summary-list">
        <div *ngFor="let innovation of data.selectedNotificationsPerInnovation" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">{{ innovation.name }}</dt>

          <dd class="nhsuk-summary-list__value">
            <ng-container *ngFor="let subscription of innovation.subscriptions; last as lastItem">
              <div [ngClass]="{ 'nhsuk-u-margin-bottom-4': !lastItem }">
                <p *ngIf="subscription.eventType !== 'REMINDER'">
                  {{ subscription.displayTitle }}
                </p>
                <ng-container *ngIf="subscription.displayOrganisations?.length">
                  <p>{{ "features.accessor.custom_notifications.cards.organisations_selected" | pluralTranslate: subscription.displayOrganisations?.length | translate }}:</p>
                  <ul class="nhsuk-list">
                    <li *ngFor="let orgName of subscription.displayOrganisations" class="nhsuk-u-margin-0">
                      {{ orgName }}
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ngIf="subscription.displaySections?.length">
                  <p>{{ getInnovationRecordSelectedSectionLabel(subscription) }}:</p>
                  <ul class="nhsuk-list">
                    <li *ngFor="let section of subscription.displaySections" class="nhsuk-u-margin-0">
                      {{ section }}
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ngIf="subscription.displayReminder">
                  <p>{{ subscription.displayReminder }}</p>
                </ng-container>
              </div>
            </ng-container>
          </dd>
        </div>
      </dl>

      <button type="button" class="nhsuk-button" (click)="onSubmit()">Delete notifications</button>
    </div>
  </div>
</theme-content-wrapper>
