.card-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #d8dde0;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.5rem;
}

ul {
  list-style: unset;
  padding-left: 30px;
}
