<ng-container *ngIf="showAccessors || showAssessments">
  <div class="card-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">Consider updating your data sharing preferences</h3>
        <p>
          Some organisations that have been suggested to support your innovation, but you are not currently sharing your data with them. Update your data sharing preferences to
          improve your chances of receiving support.
        </p>

        <ng-container *ngIf="showAssessments">
          <div class="d-flex">
            <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3 nhsuk-u-padding-right-2">Suggested organisations by the need assessment team:</p>
          </div>
          <ul class="nhsuk-list">
            <li *ngFor="let item of assessments.organisations">{{ item }}</li>
          </ul>
        </ng-container>

        <ng-container *ngIf="showAccessors">
          <ng-container *ngFor="let suggestion of accessors">
            <div class="d-flex">
              <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3 nhsuk-u-padding-right-2">Suggested organisations by {{ suggestion.organisation.name }}:</p>
            </div>
            <ul class="nhsuk-list">
              <li *ngFor="let suggestedOrg of suggestion.suggestedOrganisations">{{ suggestedOrg.name }}</li>
            </ul>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
