  <div *ngIf="type" class="nhsuk-grid-row">
    <div [class]="widthCSS">

      <div class="nhsuk-error-summary nhsuk-u-margin-bottom-4" [ngClass]="borderColorCSS" role="alert" tabindex="-1" attr.aria-labelledby="summary-title-{{ id }}">
        <h2 id="summary-title-{{ id }}" class="nhsuk-error-summary__title"> {{ title }} </h2>
        <div class="nhsuk-error-summary__body">

          <ng-content></ng-content>

          <ul *ngIf="(itemsList || []).length > 0" class="nhsuk-list nhsuk-error-summary__list">
            <li *ngFor="let item of itemsList">{{ item.title }}<br />({{ (item.description || '') | translate }})</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
