<div>
  <h2 class="nhsuk-heading-l nhsuk-u-margin-top-9">You can create custom notifications for this innovation</h2>
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-left-2">
    @for (item of links; track $index) {
      <li>
        <p>
          <a href="javascript:void(0)" (click)="onNotify(item.action)">{{ item.label }}</a>
        </p>
      </li>
    }
    <li>
      <a routerLink="/accessor/innovations/{{ this.innovationId }}/custom-notifications"> {{ "Find out more" }}</a>
      {{ " about custom notifications" }}
    </li>
  </ul>
</div>
