<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <p>You can create custom notifications for this innovation to alert you about updates or remind you to review it on a date in future.</p>

      <details [attr.open]="subscriptionsList.length === 0 ? '' : null" class="nhsuk-details nhsuk-u-margin-bottom-7">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">Types of custom notifications you can create</span>
        </summary>
        <div class="nhsuk-details__text">
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0">Notify me when:</p>
          <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-left-2">
            <li>an organisation updates their support status</li>
            <li>an organisation adds a progress update to the support summary</li>
            <li>an innovator updates their innovation record</li>
            <li>a new document is uploaded</li>
          </ul>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0">Remind me:</p>
          <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-left-2">
            <li>about this innovation on a date in future. For example, when a new funding round is released</li>
          </ul>
        </div>
      </details>

      <div class="nhsuk-u-margin-bottom-5">
        <p class="nhsuk-u-font-weight-bold">
          You have {{ subscriptionsList.length }} active {{ "dictionary.notification" | pluralTranslate: subscriptionsList.length | translate }} for this innovation.
        </p>

        <div *ngFor="let subscription of subscriptionsList" class="nhsuk-card nhsuk-u-margin-bottom-5">
          <div class="nhsuk-card__content">
            <div class="d-flex align-items-baseline justify-content-space-between">
              <h4 class="nhsuk-card__heading nhsuk-u-padding-right-6">
                {{ subscription.displayTitle }}
              </h4>
              <a routerLink="{{ subscription.id }}/edit">Edit</a>
            </div>
            <ng-container *ngIf="subscription.displayOrganisations?.length">
              <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"
                >{{ "features.accessor.custom_notifications.cards.organisations_selected" | pluralTranslate: subscription.displayOrganisations?.length | translate }}:</span
              >
              <ul class="nhsuk-list nhsuk-u-font-size-19 nhsuk-u-margin-bottom-1">
                <li *ngFor="let orgName of subscription.displayOrganisations" class="nhsuk-u-margin-0">
                  {{ orgName }}
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="subscription.displaySections?.length">
              <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">{{ getInnovationRecordUpdateSectionsCardLabel(subscription) }}:</span>
              <ul class="nhsuk-list nhsuk-u-font-size-19 nhsuk-u-margin-bottom-1">
                <li *ngFor="let section of subscription.displaySections" class="nhsuk-u-margin-0">
                  {{ section }}
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="subscription.eventType === 'REMINDER'">
              <p class="nhsuk-u-margin-bottom-1">{{ subscription.displayReminder }}</p>
              <p class="nhsuk-u-margin-bottom-1">{{ subscription.customMessage }}</p>
            </ng-container>
            <p class="nhsuk-u-font-size-14 font-color-secondary">Last edited {{ subscription.updatedAt | date: ("app.date_formats.long_date" | translate) }}</p>
          </div>
        </div>

        <button class="nhsuk-button" routerLink="new" type="submit">Create custom notification</button>

        <div *ngIf="subscriptionsList.length > 0" class="nhsuk-u-font-size-19">
          <a routerLink="delete">Delete notifications</a>
        </div>
      </div>
    </div>
  </div>
</theme-content-wrapper>
