<theme-content-wrapper [status]="pageStatus()">  <button routerLink="new" class="nhsuk-button">Create an announcement</button>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <theme-spinner *ngIf="pageStatus() === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

      <div *ngIf="pageStatus() === 'READY'" aria-live="polite">
        <p *ngIf="announcementsList.getTotalRowsNumber() === 0" class="nhsuk-u-padding-top-5">No announcements have been created yet.</p>

        <table *ngIf="announcementsList.getTotalRowsNumber() > 0" class="nhsuk-table-responsive app-sortable-table nhsuk-u-padding-top-5">
          <caption class="nhsuk-u-visually-hidden">
            Announcements list
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Announcements</th>
              <th class="nhsuk-table__header" scope="col">Type</th>
              <th class="nhsuk-table__header text-align-right" scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of announcementsList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Announcements</span>
                <a routerLink="{{ item.id }}" attr.aria-label="View announcement named {{ item.title }}">{{ item.title }}</a>
                <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">
                  Live from {{ item.startsAt | date: ("app.date_formats.long_date" | translate)
                  }}{{ item.expiresAt ? " to " + (item.expiresAt | date: ("app.date_formats.long_date" | translate)) : "" }}
                </p>
              </td>

              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Type</span>
                {{ "shared.catalog.announcements.type." + item.type | translate }}
              </td>

              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">Status</span>
                <theme-tag
                  type="{{ 'shared.catalog.announcements.status.' + item.status + '.cssColorClass' | translate }}"
                  label="{{ 'shared.catalog.announcements.status.' + item.status + '.name' | translate }}"
                ></theme-tag>
              </td>
            </tr>
          </tbody>
        </table>

        <theme-pagination
          [currentPage]="announcementsList.page"
          [pageSize]="announcementsList.pageSize"
          [totalRows]="announcementsList.getTotalRowsNumber()"
          (updatePageEvent)="onPageChange($event)"
        ></theme-pagination>
      </div>
    </div>
  </div>
</theme-content-wrapper>
