<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <ng-container *ngIf="wizard.isQuestionStep()">
        <h1 *ngIf="wizard.currentStep().label" class="nhsuk-heading-l nhsuk-u-margin-bottom-3">{{ wizard.currentStep().label }}</h1>
        <p *ngIf="wizard.currentStep().description" class="nhsuk-hint">{{ wizard.currentStep().description }}</p>
        <theme-form-engine
          formId="questionForm"
          [parameters]="wizard.currentStepParameters()"
          [values]="wizard.getAnswers()"
          [formValidations]="wizard.getFormValidations()"
          [showParamLabelAsTitle]="wizard.currentStep().showParamLabelAsTitle"
        ></theme-form-engine>
        <button type="submit" form="questionForm" class="nhsuk-button" (click)="onSubmitStep('next')">Continue</button>
      </ng-container>

      <ng-container *ngIf="wizard.isSummaryStep()">
        <div *ngFor="let item of summaryData" class="nhsuk-u-margin-bottom-6">
          <div class="d-flex align-items-baseline justify-content-space-between">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4">{{ item.label }}</h2>
            <a
              *ngIf="announcementData.isCreation || (announcementData.status && item.data.canChangeOnStatus && item.data.canChangeOnStatus.includes(announcementData.status))"
              href="javascript:void(0)"
              (click)="onGotoStep(item.editStepNumber)"
              >Change<span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a
            >
          </div>

          <div *ngIf="item.data.type === 'SINGLE_PARAMETER'">
            <span class="nhsuk-u-font-size-19 text-pre-line text-word-break">{{ item.data.answer }}</span>
            <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2" />
          </div>

          <div *ngIf="item.data.type === 'MULTIPLE_PARAMETERS'">
            <dl class="nhsuk-summary-list">
              <div *ngFor="let question of item.data.questions" class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">{{ question.label }}</dt>
                <dd class="nhsuk-summary-list__value text-pre-line text-word-break">{{ question.answer }}</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
            </dl>
          </div>

          <ng-container *ngIf="item.data.type === 'FILTER_PARAMETER'">
            <div *ngFor="let section of item.data.sections; let i = index">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Filter {{ i + 1 }}</h3>
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Section</dt>
                  <dd class="nhsuk-summary-list__value text-pre-line text-word-break">{{ section.section }}</dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Question</dt>
                  <dd class="nhsuk-summary-list__value text-pre-line text-word-break">{{ section.question }}</dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Answer</dt>
                  <dd class="nhsuk-summary-list__value text-pre-line text-word-break">{{ section.answer }}</dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
              </dl>
            </div>
          </ng-container>
        </div>

        <p>Preview of this announcement:</p>

        <theme-announcements-card [announcementCardData]="announcementData.cardData"></theme-announcements-card>

        <button [disabled]="!submitButton.isActive" type="button" class="nhsuk-button" (click)="onSubmitWizard()">{{ submitButton.label }}</button>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
