<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <ng-container *ngIf="wizard.isQuestionStep()">
        <h1 *ngIf="wizard.currentStep().label" class="nhsuk-heading-l nhsuk-u-margin-bottom-3">{{ wizard.currentStep().label }}</h1>
        <p *ngIf="wizard.currentStep().description" class="nhsuk-hint">{{ wizard.currentStep().description }}</p>
        <theme-form-engine
          formId="questionForm"
          [parameters]="wizard.currentStepParameters()"
          [values]="wizard.getAnswers()"
          [formValidations]="wizard.getFormValidations()"
        ></theme-form-engine>
        <button type="submit" form="questionForm" class="nhsuk-button" (click)="onSubmitStep('next')">Continue</button>
      </ng-container>

      <ng-container *ngIf="wizard.isSummaryStep()">
        <div *ngFor="let item of summaryData" class="nhsuk-u-margin-bottom-6">
          <div class="d-flex align-items-baseline justify-content-space-between">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4">{{ item.label }}</h2>
            <a *ngIf="announcementData.isCreation || announcementData.isScheduled" href="javascript:void(0)" (click)="onGotoStep(item.editStepNumber)"
              >Change<span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a
            >
          </div>

          <div *ngFor="let question of item.questions">
            <dl *ngIf="question.label" class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">{{ question.label }}</dt>
                <dd class="nhsuk-summary-list__value text-pre-wrap">{{ question.answer }}</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
            </dl>

            <div *ngIf="!question.label">
              <span class="nhsuk-u-font-size-19 text-pre-wrap">{{ question.answer }}</span>
              <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2" />
            </div>
          </div>
        </div>

        <p>Preview of this announcement:</p>

        <theme-announcements-card [announcementCardData]="announcementData.cardData"></theme-announcements-card>

        <button [disabled]="!submitButton.isActive" type="button" class="nhsuk-button" (click)="onSubmitWizard()">{{ submitButton.label }}</button>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
