<div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
  <fieldset class="nhsuk-fieldset" [attr.aria-describedby]="ariaDescribedBy">
    <legend *ngIf="label" class="nhsuk-fieldset__legend" [ngClass]="{ 'nhsuk-fieldset__legend--l': pageUniqueField }">
      <ng-container *ngIf="hasError">
        <!-- Add error to legend for accessibility purposes -->
        <div class="nhsuk-u-visually-hidden">Error: {{ error.message | translate: error.params }}</div>
      </ng-container>
    </legend>

    <div class="d-flex nhsuk-u-margin-bottom-1">
      <div class="width-75 nhsuk-u-font-size-22 nhsuk-u-font-weight-bold nhsuk-u-font-size-22 nhsuk-u-margin-bottom-3">
        <legend>Filter {{ filterIndex + 1 }}</legend>
      </div>
      <div class="width-25 nhsuk-u-font-size-19 text-align-right">
        <a *ngIf="!(filterIndex === 0 && parentFormArray.controls.length === 1)" href="javascript:void(0)" (click)="removeFilter(filterIndex)">Remove filter</a>
      </div>
    </div>
    <ng-container>
      <div class="nhsuk-u-margin-bottom-4">
        <theme-form-select
          [formControl]="sectionFormControl"
          id="filter-{{ filterIndex }}_section"
          [label]="'Section'"
          [pageUniqueField]="false"
          [selectItems]="getSectionsList()"
          (selectChanged)="onSelectChange($event)"
        />
      </div>

      <div class="nhsuk-u-margin-bottom-4">
        <theme-form-select
          *ngIf="sectionFormControl.value"
          [formControl]="questionFormControl"
          id="filter-{{ filterIndex }}_question"
          [label]="'Question'"
          [pageUniqueField]="false"
          [selectItems]="getQuestionsList(this.sectionFormControl.value)"
          (selectChanged)="onSelectChange($event)"
        />
      </div>

      <ng-container *ngIf="questionFormControl.value">
        <div *ngFor="let answer of answersFormAsFormArray.controls; let i = index" class="nhsuk-u-margin-bottom-4">
          <div class="d-flex nhsuk-u-margin-bottom-1">
            <div class="width-85 nhsuk-u-font-size-19">
              <span>Answer {{ i + 1 }}</span>
            </div>
            <div class="width-15 nhsuk-u-font-size-19 text-align-right">
              <a *ngIf="answersFormAsFormArray.controls.length > 1" href="javascript:void(0)" (click)="removeAnswerField(i)">Remove</a>
            </div>
          </div>
          <div class="width-85">
            <theme-form-select
              [formControl]="answer"
              id="filter-{{ filterIndex }}_answer-{{ i + 1 }}"
              [ariaLabel]="'Answer ' + (i + 1)"
              [pageUniqueField]="false"
              [selectItems]="getAnswersList(questionFormControl.value, i)"
              (selectChanged)="onSelectChange($event)"
              [previouslySelectedItems]="answersFormAsFormArray.value"
            />
          </div>
        </div>
        <a href="javascript:void(0)" *ngIf="canAddAnswerField" (click)="addAnswerField()" class="nhsuk-u-font-size-19"> Add answer </a>
      </ng-container>
    </ng-container>
  </fieldset>
</div>
