<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
      @if (ctx.user.isAssessment()) {
        <p>Tasks assigned by needs assessment team</p>
      } @else {
        <p>Tasks assigned by {{ ctx.user.getAccessorUnitName() }}</p>
      }
    </div>

    <div class="nhsuk-grid-column-one-half" *ngIf="filtersModel && filtersModel.search as search">
      <form [formGroup]="form">
        <theme-form-input [id]="'searchInnovation'" [label]="search.placeholder" [controlName]="search.key" [pageUniqueField]="false">
          <ng-container append>
            <button type="button" (click)="onSearchClick()" class="nhsuk-search__submit form-input-appended-button-search" id="search-btn">
              <theme-svg-icon type="search" />
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </ng-container>
        </theme-form-input>
      </form>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <shared-filters-wrapper-component title="Filters" [form]="form" [model]="filtersModel" />
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0">{{ tasksList.getTotalRowsNumber() }} tasks found</p>

      <shared-filters-selection-wrapper-component [model]="filtersModel" />

      <hr class="nhsuk-section-break nhsuk-section-break--visible" />

      <ng-container *ngIf="tasksList.getTotalRowsNumber() === 0">
        <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
        <p class="nhsuk-u-margin-bottom-2">Improve your search results by:</p>
        <ul>
          <li>removing filters</li>
          <li>double-checking your spelling</li>
          <li>using fewer words</li>
          <li>searching for something less specific</li>
        </ul>
      </ng-container>

      <ng-container *ngIf="tasksList.getTotalRowsNumber() > 0">
        <table class="nhsuk-table-responsive app-sortable-table">
          <caption class="nhsuk-u-visually-hidden">
            Task list
            <span *ngIf="tasksList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of tasksList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
                <ng-container *ngIf="item.key === 'status'">
                  <a
                    routerLink="/{{ userUrlBasePath() }}/tasks/statuses"
                    class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-1"
                    arial-label="View status keys information"
                    >Status key</a
                  >
                </ng-container>
              </th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of tasksList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <div class="d-flex nhsuk-u-padding-right-1">
                  <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("section") }}</span>
                  <a
                    routerLink="/{{ userUrlBasePath() }}/innovations/{{ item.innovation.id }}/tasks/{{ item.id }}"
                    attr.aria-label="View task named {{ item.name }} for innovation {{ item.innovation.name }}"
                  >
                    {{ item.name }}
                  </a>
                  <theme-notification-tag label="dot" *ngIf="item.notifications"></theme-notification-tag>
                </div>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("innovationName") }}</span>
                <a routerLink="/{{ userUrlBasePath() }}/innovations/{{ item.innovation.id }}" attr.aria-label="View innovation {{ item.innovation.name }} details">
                  {{ item.innovation.name }}
                </a>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("updatedAt") }}</span>
                <span>{{ item.updatedAt | date: ("app.date_formats.medium_date" | translate) }}</span>
                <span class="nhsuk-body-s nhsuk-u-margin-bottom-0 font-color-secondary">by {{ item.updatedBy.name }} ({{ item.updatedBy.displayTag }})</span>
              </td>
              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("status") }}</span>
                <theme-tag
                  type="{{ 'shared.catalog.innovation.task_status.' + item.status + '.cssColorClass' | translate }}"
                  label="{{ 'shared.catalog.innovation.task_status.' + item.status + '.name' | translate }}"
                  class="tag-no-wrap"
                ></theme-tag>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination
            [currentPage]="tasksList.page"
            [pageSize]="tasksList.pageSize"
            [totalRows]="tasksList.getTotalRowsNumber()"
            (updatePageEvent)="onPageChange($event)"
          ></theme-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #filterIcon let-showHideStatus="showHideStatus">
  <theme-svg-icon *ngIf="showHideStatus === 'closed'" type="plus" />
  <theme-svg-icon *ngIf="showHideStatus === 'opened'" type="minus" />
</ng-template>
