<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
        <div class="nhsuk-heading-m nhsuk-warning-callout__label">
          <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> Are you sure? </span>
        </div>
        <p>The following {{ "dictionary.role" | pluralTranslate: user.roles.length | translate }} will be changed from {{ currentRole }} to {{ newRole }}:</p>
        <div *ngIf="userHasActiveRoles">
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">Active roles</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <ng-container *ngFor="let role of user.roles; let i = index">
              <li *ngIf="role.isActive">{{ user.rolesDescription[i] }}</li>
            </ng-container>
          </ul>
        </div>
        <div *ngIf="userHasInactiveRoles">
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">Inactive roles</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <ng-container *ngFor="let role of user.roles; let i = index">
              <li *ngIf="!role.isActive">{{ user.rolesDescription[i] }}</li>
            </ng-container>
          </ul>
        </div>
      </div>

      <button type="button" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" [disabled]="!submitButton.isActive" class="nhsuk-button" (click)="onSubmit()">
        {{ submitButton.label }}
      </button>

      <div>
        <a routerLink="/admin/users/{{ user.id }}">{{ "Cancel" }} </a>
      </div>
    </div>
  </div>
</theme-content-wrapper>
