<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
      <p> {{ alert.message }} </p>
    </theme-alert>

    <h1> {{ pageTitle }} </h1>

    <theme-spinner *ngIf="pageStatus === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

  </div>
</div>

<ng-container *ngIf="pageStatus === 'READY'">

  <form [formGroup]="form">

    <ng-container *ngIf="currentStep === 1">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <theme-form-grouped-checkbox-array arrayName="organisationUnits" label="Select the organisations you think would be right to offer support. These organisations will be notified." [groupedItems]="groupedItems"
            [pageUniqueField]="false"></theme-form-grouped-checkbox-array>
          <button class="nhsuk-button nhsuk-u-margin-top-3" (click)="onSubmitStep()"> Continue </button>
          <div class="nhsuk-u-padding-bottom-5">
            <a routerLink="/accessor/innovations/{{ innovation.id }}/support"> Cancel </a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentStep === 2">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0"> You have selected: </p>
          <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-5">
            <li *ngFor="let organisation of chosenUnits.list">
              {{ organisation.organisation }}
              <ul *ngIf="organisation.units.length > 0" class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-0">
                <li *ngFor="let unit of organisation.units" class="nhsuk-u-margin-0"> {{ unit }} </li>
              </ul>
            </li>
          </ul>

          <theme-form-textarea controlName="comment" label="Describe briefly why you selected these organisations" [pageUniqueField]="false" lengthLimit="large"></theme-form-textarea>
          <theme-form-checkbox controlName="confirm" label="I confirm that I understand the support offers of the selected organisations" size="small"></theme-form-checkbox>

          <button [disabled]="!submitButton.isActive" (click)="onSubmit()" class="nhsuk-button nhsuk-u-margin-top-3"> {{ submitButton.label }} </button>

          <div class="nhsuk-u-padding-bottom-5">
            <a routerLink="/accessor/innovations/{{ innovation.id }}/support"> Cancel </a>
          </div>

        </div>
      </div>
    </ng-container>

  </form>

</ng-container>
