<div class="nhsuk-grid-row nhsuk-u-padding-bottom-3 d-flex align-items-center">
  <div class="nhsuk-grid-column-two-thirds">
    <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ innovation.name }}</p>
  </div>
  <div *ngIf="innovation.assessment.id" class="nhsuk-grid-column-one-third text-align-right">
    <a routerLink="/accessor/innovations/{{ innovationId }}/assessments/{{ innovation.assessment.id }}"> View needs assessment </a>
  </div>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4" />

<h1 class="nhsuk-heading-xl"> {{ pageTitle }} </h1>

<ng-container *ngIf="summaryAlert.type">
  <div class="nhsuk-error-summary" [ngClass]="{'border-color-success': summaryAlert.type === 'success'}" aria-labelledby="alert-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="alert-summary-title">{{ summaryAlert.title }}</h2>
    <div class="nhsuk-error-summary__body" [innerHTML]="summaryAlert.message"></div>
  </div>
</ng-container>


<p class="nhsuk-heading-s nhsuk-u-margin-bottom-2">{{ innovationSupport.organisationUnit }}</p>
<hr class="nhsuk-section-break nhsuk-section-break--visible" />
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Support status</dt>
    <dd class="nhsuk-summary-list__value">
      <strong class="nhsuk-tag app-task-list__tag float-l" [ngClass]="innovationSupportStatus[innovation.support.status].cssClass">
        {{ innovationSupportStatus[innovation.support.status].label }}
      </strong>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Assigned accessors</dt>
    <dd class="nhsuk-summary-list__value">{{ innovationSupport.accessors }}</dd>
  </div>
</dl>

<a *ngIf="isQualifyingAccessorRole" routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support.id || 'new' }}" class="nhsuk-button"> Update status </a>

<h2 class="nhsuk-heading-l nhsuk-u-padding-top-5">All organisations</h2>

<p class="nhsuk-u-margin-0"><a routerLink="/accessor/innovations/{{ innovationId }}/support/organisations"> View support status for all organisations </a></p>

<div class="nhsuk-action-link nhsuk-u-padding-top-5">
  <a *ngIf="isQualifyingAccessorRole" routerLink="/accessor/innovations/{{ innovationId }}/support/organisations/suggest" class="nhsuk-action-link__link">
    <theme-svg-icon type="action"></theme-svg-icon>
    <span class="nhsuk-action-link__text"> Suggest organisations for support </span>
  </a>
</div>
