<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div *ngIf="stepNumber === 2" class="nhsuk-grid-column-full">
      <a routerLink="/accessor/accessor-list" target="_blank" rel="noopener noreferrer" class="nhsuk-body-m width-max-content">
        View list of accessors and their supported innovations (opens in a new window)
      </a>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <form [formGroup]="form" class="nhsuk-grid-column-three-quarters nhsuk-u-padding-left-0">
        <ng-container *ngIf="stepNumber === 1">
          <div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': form.get('status')?.invalid && form.get('status')?.touched }">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1>Select a support status</h1>
              </legend>

              <ng-container *ngIf="form.get('status')?.invalid && form.get('status')?.touched">
                <span id="error-field-status" class="nhsuk-error-message" role="alert">
                  <span class="nhsuk-u-visually-hidden">Error:</span> {{ form.get("status")?.errors?.message }}
                </span>
              </ng-container>

              <div class="nhsuk-radios">
                <div *ngFor="let status of availableSupportStatuses; let i = index" class="nhsuk-radios__item nhsuk-u-margin-bottom-4">
                  <input
                    formControlName="status"
                    id="status-{{ i }}"
                    type="radio"
                    name="status"
                    [value]="status"
                    class="nhsuk-radios__input"
                    attr.aria-describedby="status-{{ i }}-hint"
                  />
                  <label for="status-{{ i }}" class="nhsuk-label nhsuk-radios__label nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-2">
                    <theme-tag
                      type="{{ 'shared.catalog.innovation.support_status.' + status + '.cssColorClass' | translate }}"
                      label="{{ 'shared.catalog.innovation.support_status.' + status + '.name' | translate }}"
                    ></theme-tag>
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="status-{{ i }}-hint">{{ "shared.catalog.innovation.support_status." + status + ".description" | translate }}</div>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" (click)="onSubmitStep()">Continue</button>
        </ng-container>

        <ng-container *ngIf="stepNumber === 2">
          <theme-form-checkbox-array
            class="nhsuk-u-margin-bottom-4"
            arrayName="accessors"
            [label]="selectAccessorsStepLabel"
            [items]="formAccessorsList"
            [pageUniqueField]="false"
            [disabledItems]="disabledCheckboxAccessors"
          ></theme-form-checkbox-array>

          <button class="nhsuk-button nhsuk-u-margin-top-3" (click)="onSubmitStep()">Continue</button>
        </ng-container>

        <ng-container *ngIf="stepNumber === 3">
          <div *ngIf="selectedAccessors.length > 0" class="nhsuk-inset-text nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
            <p class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Assigned accessors:</p>
            <ul class="nhsuk-list">
              <li *ngFor="let item of selectedAccessors">
                <p class="nhsuk-u-margin-bottom-2">{{ item.name }}</p>
              </li>
            </ul>
          </div>

          <theme-form-textarea
            controlName="message"
            [cssOverride]=""
            [label]="getMessageLabel()"
            [description]="getMessageDescription()"
            [pageUniqueField]="false"
            lengthLimit="xxl"
          ></theme-form-textarea>

          <div *ngIf="chosenStatus !== 'ENGAGING'" class="nhsuk-inset-text nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0 nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
            <p>Everyone will be able to see this message. It will appear on the innovation's support summary.</p>
          </div>

          <div *ngIf="!supportId">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Upload a document (optional)</h2>

            <theme-form-file-upload-descriptive
              description="You can upload 1 document up to 20MB. The file format must be CSV, XLSX, DOCX or PDF."
              [pageUniqueField]="false"
              [config]="configInputFile"
            ></theme-form-file-upload-descriptive>
          </div>

          <button [disabled]="!submitButton.isActive" (click)="onSubmit()" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3">{{ submitButton.label }}</button>
        </ng-container>

        <ng-container *ngIf="stepNumber === 4">
          <div class="nhsuk-form-group" [ngClass]="{ 'nhsuk-form-group--error': form.get('suggestOrganisations')?.invalid && form.get('suggestOrganisations')?.touched }">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1>Do you want to suggest other organisations?</h1>
              </legend>

              <div id="suggestOrganisations-hint" class="nhsuk-hint">
                <div>
                  <a href="/transactional/accessor/innovations/{{ innovationId }}/support" target="_blank" rel="noopener noreferrer"
                    >Review innovation's support status here (opens in a new window)</a
                  >
                </div>
                {{ formfieldSuggestOrganisations.description }}
              </div>

              <ng-container *ngIf="form.get('suggestOrganisations')?.invalid && form.get('suggestOrganisations')?.touched">
                <span id="error-field-suggestOrganisations" class="nhsuk-error-message" role="alert">
                  <span class="nhsuk-u-visually-hidden">Error:</span> {{ form.get("suggestOrganisations")?.errors?.message }}
                </span>
              </ng-container>

              <div class="nhsuk-radios">
                <div *ngFor="let item of formfieldSuggestOrganisations.items; let i = index" class="nhsuk-radios__item">
                  <input
                    formControlName="suggestOrganisations"
                    id="suggestOrganisations{{ i }}"
                    type="radio"
                    name="suggestOrganisations"
                    [value]="item.value"
                    class="nhsuk-radios__input"
                  />
                  <label for="suggestOrganisations{{ i }}" class="nhsuk-label nhsuk-radios__label nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-2">{{ item.label }}</label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="nhsuk-button nhsuk-u-margin-top-3" (click)="onSubmitRedirect()">Continue</button>
        </ng-container>

        <div>
          <a routerLink="/accessor/innovations/{{ innovationId }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</theme-content-wrapper>
