.nhsuk-radios__label_padding_5 {
  padding: 5px 12px 4px
}

.nhsuk-radios__heading_margin_bottom_5 {
  margin-bottom: 2px;
}

.nhsuk-cancel-wrapper {
  padding-bottom: 20px;
}

.nhsuk-vertical_top {
  vertical-align: top;
}

.nhsuk-padding_left_10 {
  padding-left: 10px;
}
.nhsuk-margin_top_0 {
  margin-top: 0;
}

.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}