<theme-content-wrapper [status]="pageStatus">

  <div *ngIf="!innovation.owner.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p> Please note that the innovator {{ innovation.owner.name }} is currently locked. </p>
  </div>

  <p class="nhsuk-heading-m">{{ innovationSupport.organisationUnit }}</p>

  <dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Support status</dt>
      <dd class="nhsuk-summary-list__value">
        <theme-tag type="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.name' | translate }}"></theme-tag>
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Assigned accessors</dt>
      <dd class="nhsuk-summary-list__value">{{ innovationSupport.accessors }}</dd>
    </div>
  </dl>

  <a *ngIf="isQualifyingAccessorRole; else accessor" routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id || 'new' }}" class="nhsuk-button"> Update status </a>

  <h2 class="nhsuk-heading-l nhsuk-u-padding-top-5">All organisations</h2>

  <p class="nhsuk-u-margin-0"><a routerLink="/accessor/innovations/{{ innovationId }}/support/organisations"> View support status for all organisations </a></p>

  <div class="nhsuk-action-link nhsuk-u-padding-top-5">
    <a *ngIf="isQualifyingAccessorRole" routerLink="/accessor/innovations/{{ innovationId }}/support/organisations/suggest" class="nhsuk-action-link__link">
      <theme-svg-icon type="action"></theme-svg-icon>
      <span class="nhsuk-action-link__text"> Suggest organisations for support </span>
    </a>
  </div>

</theme-content-wrapper>


<ng-template #accessor>
  <ng-container *ngIf="hasAccess">
    <a routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id }}/request-update" class="nhsuk-button nhsuk-u-margin-bottom-3">Request status update</a>
  
    <p class="nhsuk-body-s font-color-secondary">
      Request a status update to the qualifying accessor if you want to change the engaging support status to a more suitable one.
    </p>
  </ng-container>
</ng-template>