.nhsuk-radios__label_padding_5 {
  padding: 5px 12px 4px
}

.nhsuk-radios__heading_margin_bottom_5 {
  margin-bottom: 2px;
}

.nhsuk-cancel-wrapper {
  padding-bottom: 20px;
}
.nhsuk-status_container {
  width: 100%;
  height: 50px;
  margin: auto;
  padding: 10px;
  padding-left: 0;
}

.nhsuk-div_left {
  height: 50px;
  float: left;
  padding-top: 3px;
}
.nhsuk-div_right {
  height: 50px;
  margin-left: 20%;
}

.nhsuk-vertical_top {
  vertical-align: top;
}

.nhsuk-padding_left_10 {
  padding-left: 10px;
}
.nhsuk-margin_top_0 {
  margin-top: 0;
}

.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}