<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="app-panel app-panel--confirmation nhsuk-u-margin-bottom-6">
      <h1 class="app-panel__title">Account created</h1>
      <div class="app-panel__body">You've successfully created an account</div>
    </div>

    <div class="nhsuk-action-link">
      <a [href]="proceedLink" class="nhsuk-action-link__link">
        <theme-svg-icon type="arrow-right-circle" />
        <span class="nhsuk-action-link__text"> Continue to sign in </span>
      </a>
    </div>
  </div>
</div>
