<div class="nhsuk-grid-column-full" *ngIf="params">

  <!-- Inset -->
  <ng-container *ngIf="params.inset">
    <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">{{ params.inset.title }}</p>

      <p *ngIf="params.inset.description" class="nhsuk-u-margin-bottom-1">
        {{ params.inset.description }}
      </p>

      <a *ngIf="params.inset.link" [href]="params.inset.link.url" target="_blank" rel="noopener noreferrer">
        {{ params.inset.link.label }}
      </a>
    </div>
  </ng-container>

  <!-- Description -->
  <ng-container *ngFor="let description of params.description">
    <p>{{ description }}</p>
  </ng-container>

  <!-- Secondary Action -->
  <ng-container *ngIf="params.secondaryAction">
    <a [href]="params.secondaryAction.url" target="_blank" rel="noopener noreferrer">
      {{ params.secondaryAction.label }}
    </a>
  </ng-container>

</div>