<theme-content-wrapper [status]="pageStatus">

  <section class="informational-section">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Admin information</h2>
      </div>
      <div class="nhsuk-grid-column-two-thirds">
        <dl class="nhsuk-summary-list">
          <div *ngFor="let item of sections.userInfo" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key"> {{ item.label }} </dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

</theme-content-wrapper>
