@use "node_modules/nhsuk-frontend/packages/nhsuk.scss" as nhsuk;

@use "node_modules/govuk-frontend/dist/govuk" as govuk;

.app-panel {
  @include nhsuk.nhsuk-font($size: 19);

  & {
    box-sizing: border-box;
    margin-bottom: govuk.govuk-spacing(3);
    padding: govuk.govuk-spacing(7) - govuk.$govuk-border-width;
    border: govuk.$govuk-border-width solid transparent;
    text-align: center;
  }
  @include govuk.govuk-media-query($until: tablet) {
    padding: govuk.govuk-spacing(6) - govuk.$govuk-border-width;
  }

  &.app-panel--confirmation {
    color: var(--white);
    background: var(--primary-color);

    @include govuk.govuk-media-query($media-type: print) {
      border-color: currentColor;
      color: govuk.$govuk-print-text-colour;
      background: none;
    }
  }

  .app-panel__title {
    margin-top: 0;
    margin-bottom: govuk.govuk-spacing(6);

    @include nhsuk.nhsuk-font($size: 48, $weight: bold);
  }

  .app-panel__title:last-child {
    margin-bottom: 0;
  }

  .app-panel__body {
    @include nhsuk.nhsuk-font($size: 32);
  }
}

.triage-questionaire__head {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
