// Based on https://github.com/ministryofjustice/moj-frontend/blob/master/package/moj/components/sortable-table/_sortable-table.scss

@use "node_modules/govuk-frontend/dist/govuk" as govuk;

.app-sortable-table {
  [aria-sort] button,
  [aria-sort] button:hover {
    background-color: transparent;
    border-width: 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    font-size: 1em;
    margin: 0;
  }

  [aria-sort] button:focus {
    background-color: govuk.$govuk-focus-colour;
    color: govuk.$govuk-focus-text-colour;
    box-shadow:
      0 -2px govuk.$govuk-focus-colour,
      0 4px govuk.$govuk-focus-text-colour;
    outline: none;
  }

  [aria-sort]:first-child button {
    right: auto;
  }

  [aria-sort] button span:before {
    content: " \25bc";
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: 0.5em;
  }

  [aria-sort] button span:after {
    content: " \25b2";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.5em;
  }

  [aria-sort="ascending"] button span:before,
  [aria-sort="descending"] button span:before {
    content: none;
  }

  [aria-sort="ascending"] button span:after {
    content: " \25b2";
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }

  [aria-sort="descending"] button span:after {
    content: " \25bc";
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
}
