// Based on https://github.com/alphagov/govuk-prototype-kit/blob/master/app/assets/sass/patterns/_task-list.scss
@use "node_modules/govuk-frontend/dist/govuk" as govuk;

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  // @include govuk-media-query($from: tablet) {
  //   min-width: 550px;
  // }
}

.app-task-list__section {
  display: table;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.app-task-list__section-number {
  display: table-cell;
  width: govuk.govuk-spacing(4);

  @include govuk.govuk-media-query($from: tablet) {
    width: govuk.govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk.govuk-responsive-margin(9, "bottom");
  & {
    font-size: 19px;
    list-style: none;
    padding-left: 0;
  }
  @include govuk.govuk-media-query($from: tablet) {
    padding-left: govuk.govuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid govuk.$govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk.govuk-spacing(2);
  padding-bottom: govuk.govuk-spacing(2);
  @include govuk.govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid govuk.$govuk-border-colour;
}

.app-task-list__task-icon {
  margin-left: -40px;
  display: block;

  svg {
    height: 26px;
  }

  @include govuk.govuk-media-query($until: tablet) {
    display: none;
  }

  @include govuk.govuk-media-query($from: 450px) {
    float: left;
  }
}

.app-task-list__task-name {
  display: block;

  @include govuk.govuk-media-query($from: 450px) {
    float: left;
  }
}

.app-task-list__task-info-submitted {
  float: left;
  clear: left;
  margin: 0;
}

.app-task-list__tag {
  margin-top: govuk.govuk-spacing(2);
  margin-bottom: govuk.govuk-spacing(1);

  @include govuk.govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
