<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds" *ngIf="action">

      <h3>{{ action.name }}</h3>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Status</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">
            <theme-tag
              type="{{ 'shared.catalog.innovation.action_status.' + action.status + '.cssColorClass' | translate }}"
              label="{{ 'shared.catalog.innovation.action_status.' + action.status + '.name' | translate }}"></theme-tag>
            <a routerLink="/{{ stores.authentication.userUrlBasePath() }}/innovations/{{ innovationId }}/action-tracker/statuses"
              class="float-r" arial-label="View actions status keys information"> What does this mean? </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Requested on</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">
            {{ action.createdAt | date: ('app.date_formats.long_date' | translate) }}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Requested by</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">{{ action.createdBy.name }}, {{ action.createdBy.organisationUnit }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Section</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">{{ stores.innovation.getSectionNumber(action.section) }}: {{
            stores.innovation.getSectionTitle(action.section) }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Description</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3 textarea-info-section">{{ action.description }}</dd>
        </div>
      </dl>


      <ng-container *ngIf="stores.authentication.isAccessorType()">

        <a routerLink="/accessor/innovations/{{ innovationId }}/record/sections/{{ action.section }}"
          class="nhsuk-button nhsuk-u-margin-right-3"> Review section </a>
        <a *ngIf="action.status === 'IN_REVIEW'"
          routerLink="/accessor/innovations/{{ innovationId }}/action-tracker/{{ action.id }}/edit"
          class="nhsuk-button nhsuk-button--secondary">
          Update status
        </a>

      </ng-container>

      <ng-container *ngIf="stores.authentication.isInnovatorType()">

        <a routerLink="/innovator/innovations/{{ innovationId }}/record/sections/{{ action.section }}"
          class="nhsuk-button nhsuk-u-margin-right-3"> Go to section </a>
        <a *ngIf="action.status === 'REQUESTED'"
          routerLink="/innovator/innovations/{{ innovationId }}/action-tracker/{{ action.id }}/decline"
          class="nhsuk-button nhsuk-button--secondary">
          Decline action
        </a>

      </ng-container>

      <ng-container *ngIf="sectionId && actionsIds.length > 1">

        <nav class="nhsuk-pagination nhsuk-u-margin-top-3" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous" *ngIf="actionNumber > 0">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev cursor-pointer"
                (click)="handlePagination('previous')">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Requested action</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                  </path>
                </svg>
              </a>
            </li>
            <li class="nhsuk-pagination-item--next" *ngIf="actionNumber < actionsIds.length - 1">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next cursor-pointer"
                (click)="handlePagination('next')">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Requested action</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" width="34" height="34">
                  <path
                    d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </ng-container>


    </div>

    <div class="nhsuk-grid-column-one-third">

      <div class="nhsuk-card x-card-top-border">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">If you have any questions</h2>
          <a routerLink="/innovator/innovations/{{ innovationId }}/threads">
            Go to messages and start a new conversation with your supporting organisations.
          </a>
        </div>
      </div>

    </div>

  </div>

</theme-content-wrapper>
