<a
  href="javascript:void(0)"
  (click)="onOpenCloseFilter()"
  class="d-flex nhsuk-u-font-size-19 text-decoration-none nhsuk-u-margin-bottom-1"
  [attr.aria-expanded]="isOpen() ? 'true' : 'false'"
>
  <ng-container *ngTemplateOutlet="filterIcon"></ng-container>

  <div class="d-flex flex-direction-column">
    <span class="nhsuk-u-padding-left-2"> {{ title }} <span class="nhsuk-u-visually-hidden"> filter section </span></span>
    <span class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-bottom-1 nhsuk-u-padding-left-2" *ngIf="description">{{ description }}</span>
  </div>
</a>

<div class="nhsuk-u-padding-left-1" [ngClass]="{ 'nhsuk-u-visually-hidden': !isOpen() }">
  <ng-content select="[fixedContentContainer]"></ng-content>
  <div [ngClass]="{ 'scrollable-container': scrollable === true }">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #filterIcon>
  <theme-svg-icon *ngIf="isOpen() === false" type="plus" />
  <theme-svg-icon *ngIf="isOpen() === true" type="minus" />
</ng-template>
