<a
  href="javascript:void(0)"
  (click)="onOpenCloseFilter()"
  class="d-flex nhsuk-u-font-size-19 text-decoration-none nhsuk-u-margin-bottom-1"
  [attr.aria-expanded]="isOpen() ? 'true' : 'false'"
>
  <ng-container *ngTemplateOutlet="filterIcon"></ng-container>

  <div class="d-flex flex-direction-column">
    <span class="nhsuk-u-padding-left-2"> {{ title }} <span class="nhsuk-u-visually-hidden"> filter section </span></span>
    <span class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-bottom-1 nhsuk-u-padding-left-2" *ngIf="description">{{ description }}</span>
  </div>
</a>

<div class="nhsuk-u-padding-left-1" [ngClass]="{ 'nhsuk-u-visually-hidden': !isOpen() }">
  <ng-content select="[fixedContentContainer]"></ng-content>
  <div [ngClass]="{ 'scrollable-container': scrollable === true }">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #filterIcon>
  <svg *ngIf="isOpen() === false" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="25" width="25">
    <circle cx="12" cy="12" r="10"></circle>
    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
  </svg>
  <svg *ngIf="isOpen() === true" class="nhsuk-icon nhsuk-icon__minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="25" width="25">
    <circle cx="12" cy="12" r="10"></circle>
    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M8 12h8"></path>
  </svg>
</ng-template>
