<theme-content-wrapper [status]="pageStatus">
  <div *ngIf="innovation.owner && !innovation.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"><span class="nhsuk-u-visually-hidden">Important: </span>User Locked</span>
    </div>
    <p>Please note that the innovator {{ innovation.owner.name }} is currently locked.</p>
  </div>

  <!--TODO: Banner for owner with account delete (new US)-->

  <div class="nhsuk-grid-row">
    <ng-container *ngIf="isInnovatorType">
      <ng-container *ngIf="sections.submitted > 0; else firstTimeBanner">
        <div class="nhsuk-grid-column-full">
          <ng-container *ngIf="isInnovationInCreatedStatus">
            <p>You'll need to complete all 11 sections of your innovation record before you can submit your record for a needs assessment.</p>
            <p>
              If you are unable to answer a question yet, you can still mark the section as complete. This will help us match you with organisations that can support you in these
              areas.
            </p>
          </ng-container>
          <ng-container *ngIf="isInnovationInArchivedStatus && isLoggedUserOwner; else innovationSharedText">
            <p>You archived this innovation on {{ innovation.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}. All support has ended.</p>
          </ng-container>
          <ng-template #innovationSharedText>
            <p>
              This is a live document for you to update as you develop your innovation. You can make changes to your innovation record even after submitting it for a needs
              assessment.
            </p>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>

    <div class="nhsuk-grid-column-full">
      <ul *ngIf="isInnovationInCreatedStatus" class="progressbar progressbar-justified nhsuk-u-padding-bottom-2">
        <li *ngFor="let item of sections.progressBar" class="progressbar-item" [ngClass]="item.substring(2)"></li>
      </ul>

      <p class="d-flex nhsuk-u-margin-0">
        <theme-svg-icon type="success"></theme-svg-icon>
        <span class="nhsuk-u-margin-right-2"></span>
        {{ sections.submitted }} of {{ sections.progressBar.length }} {{ "dictionary.section" | pluralTranslate: sections.progressBar.length | translate }} completed
      </p>
      <p *ngIf="sections.draft > 0" class="d-flex nhsuk-u-margin-0">
        <theme-svg-icon type="edit"></theme-svg-icon>
        <span class="nhsuk-u-margin-right-2"></span>
        {{ sections.draft }} {{ "dictionary.section" | pluralTranslate: sections.draft | translate }} in draft
      </p>
      <p *ngIf="sections.notStarted > 0" class="d-flex">
        <theme-svg-icon type="error" customColor="grey"></theme-svg-icon>
        <span class="nhsuk-u-margin-right-2"></span>
        {{ sections.notStarted }} {{ "dictionary.section" | pluralTranslate: sections.notStarted | translate }} not started
      </p>

      <ng-container *ngIf="isInnovatorType">
        <div *ngIf="sections.withOpenTasksCount > 0" class="nhsuk-inset-text nhsuk-u-margin-top-3">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>
            {{ sections.withOpenTasksCount }} {{ "dictionary.section" | pluralTranslate: sections.withOpenTasksCount | translate }} with
            {{ "dictionary.task" | pluralTranslate: sections.openTasksCount | translate }} to do.
            <a class="nhsuk-link nhsuk-link--no-visited-state" routerLink="/innovator/innovations/{{ innovationId }}/tasks">Go to tasks.</a>
          </p>
        </div>

        <button
          *ngIf="isInnovationInCreatedStatus || (isArchiveBeforeShare && isLoggedUserOwner)"
          routerLink="/innovator/innovations/{{ innovationId }}/record/support"
          [disabled]="!allSectionsSubmitted"
          class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6"
        >
          Submit record for needs assessment
        </button>
        <button
          *ngIf="isInnovationInArchivedStatus && !isArchiveBeforeShare && isLoggedUserOwner"
          routerLink="/innovator/innovations/{{ innovationId }}/how-to-proceed/needs-reassessment-send"
          [disabled]="!allSectionsSubmitted"
          class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6"
        >
          Submit record for needs reassessment
        </button>
      </ng-container>

      <ng-container *ngIf="showInnovatorShareRequestSection && pendingExportRequests">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a routerLink="./export-requests" class="nhsuk-u-font-size-22 nhsuk-u-font-weight-bold nhsuk-action-link__text nhsuk-u-margin-top-2"
                >Requests to use your innovation record data for anything outside our terms of use</a
              >
            </h2>
            <p class="nhsuk-card__description nhsuk-u-margin-bottom-0">
              {{ pendingExportRequests }} pending {{ "dictionary.request" | pluralTranslate: pendingExportRequests | translate }}.
            </p>
          </div>
        </div>
      </ng-container>

      <h2 class="nhsuk-heading-l">All sections</h2>
      <ng-container *ngIf="isInnovatorType">
        <p *ngIf="isInnovationInCreatedStatus">
          This is a live document for you to update as you develop your innovation. You can make changes to your innovation record even after submitting it for a needs assessment.
        </p>
      </ng-container>

      <ol class="app-task-list">
        <li *ngFor="let sectionGroup of innovationSections; let i = index">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">{{ i + 1 }}. </span> {{ sectionGroup.title }}
          </h2>

          <ol class="app-task-list__items">
            <li *ngFor="let section of sectionGroup.sections; let j = index" class="app-task-list__item">
              <span class="app-task-list__task-icon">
                <ng-container *ngTemplateOutlet="icon; context: { status: section.status }"></ng-container>
              </span>

              <span class="app-task-list__task-name">
                {{ i + 1 + "." + (j + 1) }}
                <a routerLink="{{ baseUrl }}/{{ section.id }}"
                  ><span class="nhsuk-u-visually-hidden"> Go to </span>
                  {{ section.title }}
                  <span class="nhsuk-u-visually-hidden" *ngIf="section.status === 'NOT_STARTED'">Section not started</span>
                  <span class="nhsuk-u-visually-hidden" *ngIf="section.status === 'DRAFT'">Section in draft</span>
                  <span class="nhsuk-u-visually-hidden" *ngIf="section.status === 'SUBMITTED'">Section submitted</span>
                </a>
              </span>

              <ng-container *ngIf="isInnovatorType">
                <span *ngIf="section.openTasksCount >= 1" class="float-r">
                  <theme-tag
                    routerLink="{{ baseUrl }}/{{ section.id }}/tasks"
                    class="cursor-pointer"
                    type="{{ 'shared.catalog.innovation.task_status.OPEN.cssColorClass' | translate }}"
                    label="{{ section.openTasksCount + ' ' + ('dictionary.task' | pluralTranslate: section.openTasksCount | translate) + ' to do' }}"
                  >
                  </theme-tag>
                </span>
              </ng-container>

              <ng-container *ngIf="section.submittedAt">
                <span *ngIf="section.status === 'SUBMITTED'" class="app-task-list__task-info-submitted nhsuk-body-s font-color-secondary">
                  Last submitted by {{ section.submittedBy?.name }}
                  <ng-container *ngIf="section.submittedBy?.isOwner !== undefined">({{ section.submittedBy?.isOwner ? "Owner" : "Collaborator" }})</ng-container> on
                  {{ section.submittedAt | date: ("app.date_formats.long_date" | translate) }}
                </span>
                <ng-container *ngIf="!isAccessorType && !isAssessmentType">
                  <span *ngIf="section.status === 'DRAFT'" class="app-task-list__task-info-submitted nhsuk-body-s font-color-secondary">
                    In draft - last submitted by {{ section.submittedBy?.name }}
                    <ng-container *ngIf="section.submittedBy?.isOwner !== undefined">({{ section.submittedBy?.isOwner ? "Owner" : "Collaborator" }})</ng-container> on
                    {{ section.submittedAt | date: ("app.date_formats.long_date" | translate) }}
                  </span>
                </ng-container>
                <ng-container *ngIf="isAccessorType || isAssessmentType">
                  <span *ngIf="section.status === 'DRAFT'" class="app-task-list__task-info-submitted nhsuk-body-s font-color-secondary">
                    This section is in draft. You can view the last version submitted by the innovator.
                  </span>
                </ng-container>
              </ng-container>
            </li>
          </ol>
        </li>
      </ol>

      <ng-container *ngIf="isInnovatorType">
        <ul class="nhsuk-u-margin-bottom-7">
          <li><a [href]="documentUrl">Download all the questions (DOCX)</a> in your innovation record</li>
          <li><app-innovation-record-export [innovationId]="this.innovationId" [fileType]="'pdf'"></app-innovation-record-export></li>
          <li><app-innovation-record-export [innovationId]="this.innovationId" [fileType]="'csv'"></app-innovation-record-export></li>
        </ul>
      </ng-container>

      <ng-container *ngIf="showSupportingTeamsShareRequestSection">
        <a routerLink="./download" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-font-size-19">Download innovation record (PDF or CSV)</a>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p class="nhsuk-body-s">
            If you want to share this innovation record with anyone outside of the service or use it for any other purpose not listed in our
            <a href="{{ CONSTANTS.URLS.TOU_SUPPORT_ORGANISATION }}" target="_blank" rel="noopener noreferrer" class="nhsuk-link nhsuk-link--no-visited-state"
              >terms of use (opens in a new window)</a
            >, you need to request the innovator's permission.
          </p>
          <a routerLink="./export-requests/list" class="nhsuk-link nhsuk-link--no-visited-state">Request permission and view requests</a>
        </div>
      </ng-container>

      <ng-container *ngIf="!isAdminType">
        <div class="nhsuk-action-link nhsuk-u-padding-top-5">
          <a routerLink="{{ baseUrl }}/all" class="nhsuk-action-link__link">
            <theme-svg-icon type="arrow-right-circle" />
            <span class="nhsuk-action-link__text"> View all the questions and answers </span>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #icon let-status="status">
  <theme-svg-icon *ngIf="status === 'NOT_STARTED'" type="error" customColor="grey"></theme-svg-icon>
  <theme-svg-icon *ngIf="status === 'DRAFT'" type="edit"></theme-svg-icon>
  <theme-svg-icon *ngIf="status === 'SUBMITTED'" type="success"></theme-svg-icon>
</ng-template>

<ng-template #firstTimeBanner>
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent nhsuk-u-margin-top-0">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Information: </span>Welcome to your innovation record</span>
        </h2>
      </div>
      <div class="nhsuk-card__content">
        <p>To help us match you with support organisations, you'll need to:</p>
        <ul>
          <li>answer questions across the 11 sections of your innovation record</li>
          <li>mark each section as complete</li>
          <li>submit your record for a needs assessment</li>
        </ul>
        <p>Then, within 1 week, our team:</p>
        <ul>
          <li>will review your innovation record to assess your needs</li>
          <li>notify appropriate support organisations</li>
          <li>contact you with next steps</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
