<theme-content-wrapper [status]="pageStatus()">
  <div *ngIf="innovation.owner && !innovation.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"><span class="nhsuk-u-visually-hidden">Important: </span>User Locked</span>
    </div>
    <p>Please note that the innovator {{ innovation.owner.name }} is currently locked.</p>
  </div>

  <!--TODO: Banner for owner with account delete (new US)-->

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      @if (ctx.user.isInnovator()) {
        @if (isInnovationInCreatedStatus) {
          <p>Your innovation record helps us match you with organisations that can support you in the areas you need.</p>
        }

        @if (isInnovationInArchivedStatus && isLoggedUserOwner) {
          <p>You archived this innovation on {{ innovation.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}. All support has ended.</p>
        } @else {
          <p>
            This is a live document for you to update as you develop your innovation. You can make changes to your innovation record at any time, even after submitting it for a
            needs assessment.
          </p>
        }
      }
    </div>

    <div class="nhsuk-grid-column-full">
      @if (showSubmit) {
        @if (allSectionsSubmitted && !isReassessment) {
          <!-- This is very similar to the content on the innovation submission ready component -->
          <div class="nhsuk-card">
            <div class="nhsuk-card__content nhsuk-u-padding-4">
              <h3 class="nhsuk-card__heading nhsuk-u-margin-bottom-4">Innovation record ready to submit</h3>
              <p>When you submit your innovation record the needs assessment team will:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>review your innovation record to assess your needs.</li>
                <li>notify the appropriate support organisations.</li>
                <li>contact you with next steps.</li>
              </ul>
              <p>This process usually takes 1 week.</p>
              <p>The needs assessment team will get in touch with you if they need any additional information.</p>
              <button type="submit" class="nhsuk-button" routerLink="support">Submit record for needs assessment</button>
            </div>
          </div>
        } @else {
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                @if (sections.incompleteSections > 0) {
                  {{ sections.incompleteSections }} {{ "dictionary.section" | pluralTranslate: sections.incompleteSections | translate }} to complete until you can submit for needs
                  {{ isReassessment ? "reassessment" : "assessment" }}
                } @else {
                  All sections are complete you can submit for needs {{ isReassessment ? "reassessment" : "assessment" }}
                }
              </h2>
              <shared-innovation-record-progress [sections]="innovationSections" [firstSubmission]="!isReassessment" />
              <button type="submit" [routerLink]="submitUrl" [disabled]="!allSectionsSubmitted" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">
                Submit record for needs {{ isReassessment ? "reassessment" : "assessment" }}
              </button>
            </div>
          </div>
        }
      } @else {
        <shared-innovation-record-progress [sections]="innovationSections" class="nhsuk-u-margin-bottom-6" />
      }

      @if (ctx.user.isInnovator() && sections.withOpenTasksCount > 0) {
        <div class="nhsuk-inset-text nhsuk-u-margin-top-3">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>
            {{ sections.withOpenTasksCount }} {{ "dictionary.section" | pluralTranslate: sections.withOpenTasksCount | translate }} with
            {{ "dictionary.task" | pluralTranslate: sections.openTasksCount | translate }} to do.
            <a class="nhsuk-link nhsuk-link--no-visited-state" routerLink="/innovator/innovations/{{ innovationId }}/tasks">Go to tasks.</a>
          </p>
        </div>
      }

      @if (showInnovatorShareRequestSection && pendingExportRequests) {
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a routerLink="./export-requests" class="nhsuk-u-font-size-22 nhsuk-u-font-weight-bold nhsuk-action-link__text nhsuk-u-margin-top-2"
                >Requests to use your innovation record data for anything outside our terms of use</a
              >
            </h2>
            <p class="nhsuk-card__description nhsuk-u-margin-bottom-0">
              {{ pendingExportRequests }} pending {{ "dictionary.request" | pluralTranslate: pendingExportRequests | translate }}.
            </p>
          </div>
        </div>
      }

      <h2 class="nhsuk-heading-l">All sections</h2>

      <ol class="app-task-list">
        <li *ngFor="let sectionGroup of innovationSections; let i = index">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">{{ i + 1 }}. </span> {{ sectionGroup.title }}
          </h2>

          <ol class="app-task-list__items">
            <li *ngFor="let section of sectionGroup.sections; let j = index" class="app-task-list__item">
              <span class="app-task-list__task-icon">
                <ng-container *ngTemplateOutlet="icon; context: { status: section.status }"></ng-container>
              </span>

              <span class="app-task-list__task-name">
                {{ i + 1 + "." + (j + 1) }}
                <a routerLink="{{ baseUrl }}/{{ section.id }}"
                  ><span class="nhsuk-u-visually-hidden"> Go to </span>
                  {{ section.title }}
                  <span class="nhsuk-u-visually-hidden" *ngIf="section.status === 'NOT_STARTED'">Section not started</span>
                  <span class="nhsuk-u-visually-hidden" *ngIf="section.status === 'DRAFT'">Section in draft</span>
                  <span class="nhsuk-u-visually-hidden" *ngIf="section.status === 'SUBMITTED'">Section submitted</span>
                </a>
              </span>

              <ng-container *ngIf="ctx.user.isInnovator()">
                <span *ngIf="section.openTasksCount >= 1" class="float-r">
                  <theme-tag
                    routerLink="{{ baseUrl }}/{{ section.id }}/tasks"
                    class="cursor-pointer"
                    type="{{ 'shared.catalog.innovation.task_status.OPEN.cssColorClass' | translate }}"
                    label="{{ section.openTasksCount + ' ' + ('dictionary.task' | pluralTranslate: section.openTasksCount | translate) + ' to do' }}"
                  >
                  </theme-tag>
                </span>
              </ng-container>

              <ng-container *ngIf="section.submittedAt">
                <span *ngIf="section.status === 'SUBMITTED'" class="app-task-list__task-info-submitted nhsuk-body-s font-color-secondary">
                  Last {{ isInnovationInCreatedStatus ? "completed" : "saved" }} by {{ section.submittedBy?.name }}
                  <ng-container *ngIf="section.submittedBy?.isOwner !== undefined">({{ section.submittedBy?.isOwner ? "Owner" : "Collaborator" }})</ng-container> on
                  {{ section.submittedAt | date: ("app.date_formats.long_date" | translate) }}
                </span>
                <ng-container *ngIf="!ctx.user.isAccessorType() && !ctx.user.isAssessment()">
                  <span *ngIf="section.status === 'DRAFT'" class="app-task-list__task-info-submitted nhsuk-body-s font-color-secondary">
                    In draft - last {{ isInnovationInCreatedStatus ? "completed" : "saved" }} by {{ section.submittedBy?.name }}
                    <ng-container *ngIf="section.submittedBy?.isOwner !== undefined">({{ section.submittedBy?.isOwner ? "Owner" : "Collaborator" }})</ng-container> on
                    {{ section.submittedAt | date: ("app.date_formats.long_date" | translate) }}
                  </span>
                </ng-container>
                <ng-container *ngIf="ctx.user.isAccessorOrAssessment()">
                  <span *ngIf="section.status === 'DRAFT'" class="app-task-list__task-info-submitted nhsuk-body-s font-color-secondary">
                    This section is in draft. You can view the last version saved by the innovator.
                  </span>
                </ng-container>
              </ng-container>
            </li>
          </ol>
        </li>
      </ol>

      @if (ctx.user.isInnovator()) {
        <ul class="nhsuk-u-margin-bottom-7">
          <li><a [href]="documentUrl">Download all the questions (DOCX)</a> in your innovation record</li>
          <li><app-innovation-record-export [innovationId]="this.innovationId" fileType="pdf"/></li>
          <li><app-innovation-record-export [innovationId]="this.innovationId" fileType="csv"/></li>
        </ul>
      } @else if (ctx.user.isAdmin()) {
        <ul class="nhsuk-u-margin-bottom-7">
          <li><app-innovation-record-export [innovationId]="this.innovationId" fileType="pdf" customLabel="Export innovation record"/></li>
          <li><app-innovation-record-export [innovationId]="this.innovationId" fileType="csv" customLabel="Export innovation record"/></li>
        </ul>
      }

      <ng-container *ngIf="showSupportingTeamsShareRequestSection">
        <a routerLink="./download" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-font-size-19">Download innovation record (PDF or CSV)</a>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p class="nhsuk-body-s">
            If you want to share this innovation record with anyone outside of the service or use it for any other purpose not listed in our
            <a href="{{ CONSTANTS.URLS.TOU_SUPPORT_ORGANISATION }}" target="_blank" rel="noopener noreferrer" class="nhsuk-link nhsuk-link--no-visited-state"
              >terms of use (opens in a new window)</a
            >, you need to request the innovator's permission.
          </p>
          <a routerLink="./export-requests/list" class="nhsuk-link nhsuk-link--no-visited-state">Request permission and view requests</a>
        </div>
      </ng-container>

      <ng-container *ngIf="!ctx.user.isAdmin()">
        <div class="nhsuk-action-link nhsuk-u-padding-top-5">
          <a routerLink="{{ baseUrl }}/all" class="nhsuk-action-link__link">
            <theme-svg-icon type="arrow-right-circle" />
            <span class="nhsuk-action-link__text"> View all the questions and answers </span>
          </a>
        </div>
      </ng-container>

      <theme-custom-notifications-entrypoint-component *ngIf="ctx.user.isAccessorType()" [links]="customNotificationLinks" />
    </div>
  </div>
</theme-content-wrapper>

<ng-template #icon let-status="status">
  <theme-svg-icon *ngIf="status === 'NOT_STARTED'" type="not-started" customColor="grey"></theme-svg-icon>
  <theme-svg-icon *ngIf="status === 'DRAFT'" type="edit"></theme-svg-icon>
  <theme-svg-icon *ngIf="status === 'SUBMITTED'" type="success"></theme-svg-icon>
</ng-template>
