@if (showDetailed().length) {
  <ul class="nhsuk-list nhsuk-list--bullet">
    @for (section of showDetailed(); track section.id) {
      <li>
        {{ section.statusLabel }} section
        <a routerLink="sections/{{ section.id }}/"> {{ section.fullTitle }} </a>
      </li>
    }
  </ul>
} @else {
  <p class="d-flex nhsuk-u-margin-0">
    <theme-svg-icon type="success" />
    <span class="nhsuk-u-margin-right-2"></span>
    {{ sectionsComplete() }} of {{ sectionsTotal() }} {{ "dictionary.section" | pluralTranslate: sectionsTotal() | translate }} completed
  </p>
  @if (sectionsDraft() > 0) {
    <p class="d-flex nhsuk-u-margin-0">
      <theme-svg-icon type="edit" />
      <span class="nhsuk-u-margin-right-2"></span>
      {{ sectionsDraft() }} {{ "dictionary.section" | pluralTranslate: sectionsDraft() | translate }} in draft
    </p>
  }
  @if (sectionsNotStarted() > 0) {
    <p class="d-flex">
      <theme-svg-icon type="not-started" customColor="grey" />
      <span class="nhsuk-u-margin-right-2"></span>
      {{ sectionsNotStarted() }} {{ "dictionary.section" | pluralTranslate: sectionsNotStarted() | translate }} not started
    </p>
  }
}
