<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="app-panel app-panel--confirmation nhsuk-u-margin-bottom-6">
        <h1 class="app-panel__title">Submitted successfully</h1>
        <div class="app-panel__body">Find your summary below</div>
      </div>

      <h2>Where you're at</h2>
      <p>
        Based on your answers, it sound like your innovation is at a product stage, bacause you have:
      </p>
      <ul>
        <li>identified the problem your innovation will solve</li>
        <li>done market research so you understand the need for your innovation in th UK</li>
        <li>identified the speciofic benefits your innovation will bring</li>
        <li>identified who will benefit from your innovation</li>
        <li>tested the innovation with a broad range of people who would use it</li>
      </ul>

      <h2>Your next steps</h2>
      <p>
        the next step for you is working towards getting your product market ready by:
      </p>
      <ul>
        <li>meeting all relevant regulatory approvals and standards</li>
        <li>producing externally verified evidence to show that your innovation is safe to use and effective</li>
        <li>producing externally verified evidence on the costs and benefits of your innovation when used in pratice</li>
      </ul>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>We've created a <a href="#" class="nhsuk-link">detailed information pack</a> that we believe can help you get market ready.</p>
        <p>You may also benefit from our <a href="#" class="nhsuk-link">basic information pack</a>.</p>
      </div>

      <p class="nhsuk-u-margin-bottom-7">
        You told us that you're looking for <strong>commercial support and advice</strong>, so we recommend that you create an account to get matched with the right support.
      </p>

      <!-- TODO: NHSAAC-134: https://jupiter.bjss.com/browse/NHSAAC-134 -->
      <div class="nhsuk-action-link">
        <a href="/transactional/signup" class="nhsuk-action-link__link">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">
            Continue to create an account
          </span>
        </a>
      </div>

    </div>

    <div class="nhsuk-grid-column-one-third">
      <!-- <theme-print-link href="#">Print this page</theme-print-link> -->
    </div>



  </div>
</div>
