<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l"> {{ pageTitle }} </h1>
    <p>Answer basic questions about your innovation to help us guide you towards the right level of information and support.</p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information:</span>
      <p>Use this service to get relevant information about developing your healthcare innovation.</p>
      <p>You'll have the option to create an account if you decide that you want further support or guidance.</p>
    </div>

    <p>Answering these questions takes around 5 minutes.</p>
    <a routerLink="/triage-innovator-pack/survey/1" class="nhsuk-button"> Start now </a>

  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-padding-top-9">
    <div class="nhsuk-card x-card-top-border ">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m"> Information packs for innovators </h2>
        <ul class="nhsuk-list">
          <li><a href="/innovation-guides/starter-innovation-guide"> Basic information pack </a></li>
          <li><a href="/innovation-guides/advanced-innovation-guide"> Detailed information pack </a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
