<section class="bg-color-white">
  <div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-5">

    <h1 class="nhsuk-heading-l"> Innovations </h1>

    <nav class="app-tabs" role="tablist" aria-label="Tabs">
      <ol class="app-tabs__list">
        <li *ngFor="let item of tabs" class="app-tabs__item" [routerLinkActive]="'selected'">
          <div class="side-menu-flex">
            <div>
              <a class="app-tabs__link" [routerLink]="item.link" [queryParams]="item.queryParams"> {{ item.title }} </a>
            </div>
            <div>
              <notification-tag *ngIf="item.notifications && item.notifications > 0" [count]="item.notifications"></notification-tag>
            </div>
          </div>
        </li>
      </ol>
    </nav>

    <p>{{ currentTab.description }}</p>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <p class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">{{innovationsList.getTotalRowsNumber() }} innovations</p>
        <p *ngIf="currentTab.innovationsOverdue > 0" class="nhsuk-body-s nhsuk-u-margin-bottom-2 d-flex align-items-center">
          <span class="dot-error nhsuk-u-margin-right-2"></span>
          <span>{{ currentTab.innovationsOverdue }} are overdue</span>
        </p>
        <hr class="nhsuk-section-break nhsuk-section-break--visible" />

        <table class="nhsuk-table-responsive app-sortable-table" aria-describedby="Innovations list">
          <thead class="nhsuk-table__head">
            <tr class="">
              <th *ngFor="let item of innovationsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">{{ item.label }}</button>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of innovationsList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <div class="side-menu-flex">
                  <div>
                    <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('name') }}</span>
                    <a *ngIf="currentTab.status !== 'IN_PROGRESS'" routerLink="/assessment/innovations/{{ item.id }}"> {{ item.name }} </a>
                    <a *ngIf="currentTab.status === 'IN_PROGRESS'" routerLink="/assessment/innovations/{{ item.id }}/assessments/{{item.assessment.id}}"> {{ item.name }} </a>
                  </div>
                  <div>
                    <ng-container *ngIf="item.notifications.isNew !== true">
                      <notification-tag *ngIf="item.notifications && item.notifications.count > 0" [count]="item.notifications.count"></notification-tag>
                    </ng-container>
                    <ng-container *ngIf="item.notifications.isNew === true">
                      <notification-tag *ngIf="item.notifications && item.notifications.count > 0" [isNew]="true"></notification-tag>
                    </ng-container>
                  </div>
                </div>

              </td>

              <td *ngIf="innovationsList.getColumnLabel('submittedAt')" class="nhsuk-table__cell d-flex align-items-center">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('submittedAt') }}</span>
                <span>{{ item.submittedAt | date: ('app.date_formats.long_date' | translate) }}</span>
                <span *ngIf="item.isOverdue" class="dot-error nhsuk-u-margin-left-2"></span>
              </td>
              <td *ngIf="innovationsList.getColumnLabel('location')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('location') }}</span>
                {{ item.countryName }} {{ item.postCode ? ', ' + item.postCode : ''}}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('assessmentStartDate')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('assessmentStartDate') }}</span>
                {{ item.assessment.createdAt | date: ('app.date_formats.long_date' | translate) }}
              </td>
              <td *ngIf="innovationsList.getColumnLabel('assessedBy')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('assessedBy') }}</span>
                {{ item.assessment.assignTo.name }}
              </td>

              <td *ngIf="innovationsList.getColumnLabel('assessmentDate')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('assessmentDate') }}</span>
                {{ item.assessment.finishedAt | date: ('app.date_formats.long_date' | translate) }}
              </td>
              <td *ngIf="innovationsList.getColumnLabel('engagingEntities')" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('engagingEntities') }}</span>
                {{ item.organisations.join(', ') }}
              </td>

              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('mainCategory') }}</span>
                {{ item.mainCategory }}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


  </div>
</section>
