<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>
          Sharing your data with an organisation means that they will be able to view your innovation record and initiate contact, once your needs assessment is complete. It
          doesn't guarantee a response or interaction with the organisation.
        </p>
      </div>

      <p><a [href]="organisationInfoUrl" target="_blank" rel="noopener noreferrer"> What does each organisation do? (opens in a new window) </a></p>

      <form [formGroup]="form">
        <theme-form-checkbox-array
          arrayName="organisations"
          label="Please choose your data sharing preferences"
          [items]="organisationsList"
          [pageUniqueField]="false"
          [disabledItems]="disabledItems"
        ></theme-form-checkbox-array>
      </form>

      <button class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" [disabled]="!submitButton.isActive" (click)="onSubmit()">{{ submitButton.label }}</button>

      <div>
        <a routerLink="/innovator/innovations/{{ innovationId }}/record">Cancel</a>
      </div>
    </div>
  </div>
</theme-content-wrapper>
