<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <ng-container *ngIf="section.openTasksCount > 0">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p class="nhsuk-u-font-weight-bold">You have {{ section.openTasksCount }} outstanding {{ section.openTasksCount === 1 ? "task" : "tasks" }} to do for this section.</p>
        </div>
        <p>
          If you have completed your outstanding tasks, mark them as done in tasks.
          <a routerLink="{{ sectionLink }}/tasks" target="_blank" rel="noopener noreferrer">View tasks (opens in a new window).</a>
        </p>
      </ng-container>

      <ng-container *ngIf="!isArchived">
        <p>
          Message your support organisations to let them know if you've made any significant changes to your innovation record. For example, you have conducted clinical trials.
        </p>

        <div class="nhsuk-action-link">
          <a routerLink="/innovator/innovations/{{ innovation.id }}/threads/new" [queryParams]="{ sectionId: section.id }" class="nhsuk-action-link__link">
            <theme-svg-icon type="arrow-right-circle" />
            <span class="nhsuk-action-link__text">Select organisations to message</span>
          </a>
        </div>
      </ng-container>

      <div>
        <a [routerLink]="sectionLink">Return to section</a>
      </div>
    </div>
  </div>
</theme-content-wrapper>
