<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form [formGroup]="form" (ngSubmit)="onNextStep()">
        <theme-form-checkbox-array
          *ngIf="sectionsItems.length > 0"
          id="innovationRecordSections"
          arrayName="innovationRecordSections"
          label="Select 1 or more sections"
          [items]="sectionsItems"
          [pageUniqueField]="false"
        ></theme-form-checkbox-array>

        <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3">Continue</button>
      </form>
    </div>
  </div>
</theme-content-wrapper>
