<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Notify me</dt>
          <dd class="nhsuk-summary-list__value">{{ data.selectedNotification }}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Organisation</dt>
          <dd class="nhsuk-summary-list__value">
            <div *ngFor="let organisation of data.selectedOrganisations">
              <p class="nhsuk-u-margin-bottom-2">{{ organisation }}</p>
            </div>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="javascript:void(0)" (click)="onGotoStep('organisationsStep')">Change<span class="nhsuk-u-visually-hidden"> organisation </span></a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Support status</dt>
          <dd class="nhsuk-summary-list__value">
            <div *ngFor="let supportStatus of data.selectedSupportStatuses">
              <p class="nhsuk-u-margin-bottom-2">{{ supportStatus }}</p>
            </div>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="javascript:void(0)" (click)="onGotoStep('supportStatusesStep')">Change<span class="nhsuk-u-visually-hidden"> support status </span></a>
          </dd>
        </div>
      </dl>

      <button *ngIf="!data.displayEditMode" type="button" class="nhsuk-button" (click)="onSubmit()">Confirm and save notification</button>

      <div *ngIf="data.displayEditMode" class="nhsuk-u-font-size-19 nhsuk-u-margin-top-6">
        <a routerLink="">Delete this notification</a>
      </div>
    </div>
  </div>
</theme-content-wrapper>
