<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>You can select multiple organisation units.</p>

      <form [formGroup]="form" (ngSubmit)="onNextStep()">
        <theme-form-checkbox-array
          *ngFor="let org of organisationsItems; let i = index"
          [attr.id]="org.id + '-units'"
          [label]="org.name"
          [arrayName]="org.id"
          [items]="org.units"
          [pageUniqueField]="false"
        ></theme-form-checkbox-array>
        <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3">Continue</button>
      </form>
    </div>
  </div>
</theme-content-wrapper>
