<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form [formGroup]="form">

        <ng-container *ngIf="stepNumber === 1">
          <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
            <div class="nhsuk-heading-m nhsuk-warning-callout__label">
              <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> Warning </span>
            </div>
            <p> By deleting your account, you will no longer have access to your innovations. If you want to keep copies, you should download a PDF from each Innovation Record page before proceeding. </p>
          </div>
          <theme-form-textarea controlName="reason" label="What's the reason for deleting your account?" [pageUniqueField]="false" lengthLimit="large"></theme-form-textarea>
          <button class="nhsuk-button nhsuk-u-margin-top-3" (click)="onSubmitStep()"> Continue </button>
        </ng-container>

        <ng-container *ngIf="stepNumber === 2">
          <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
            <div class="nhsuk-heading-m nhsuk-warning-callout__label">
              <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> Are you sure? </span>
            </div>
            <p> By deleting your account, you will no longer have access to your innovations. If you want to keep copies, you should download a PDF from each Innovation Record page before proceeding. </p>
          </div>
          <theme-form-input controlName="email" label="Enter your email" [pageUniqueField]="false"></theme-form-input>
          <theme-form-input controlName="confirmation" label="Are you sure that you want to delete?" description="To confirm, please type the following: delete my account" [pageUniqueField]="false"></theme-form-input>
          <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-3" (click)="onSubmitForm()"> Delete account </button>
        </ng-container>

        <a routerLink="/innovator/account/manage-account" class="d-block">Cancel</a>

      </form>

    </div>
  </div>

</theme-content-wrapper>
