<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form [formGroup]="form">
        <ng-container *ngIf="stepNumber === 1 && innovator.isOwner">
          <div class="nhsuk-u-margin-bottom-6">
            <ng-container *ngIf="!innovator.hasCollaborators">
              <p *ngIf="!innovator.hasPendingTransfer">Your innovations will be archived if you delete your account.</p>
              <p *ngIf="innovator.hasPendingTransfer">If you delete your account, your innovations will be archived, unless they are pending transfer of ownership.</p>
            </ng-container>

            <p *ngIf="innovator.hasCollaborators">If you delete your account, your innovations will be archived and your collaborators will lose access to them.</p>

            <p>All support organisations you have shared your data with, will be able to view an archived version of your innovation.</p>
          </div>
          <div class="d-flex align-items-center justify-content-space-between">
            <h2 class="nhsuk-heading-m">Your innovations</h2>
          </div>

          <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--s" />

          <dl class="nhsuk-summary-list">
            <div *ngFor="let innovation of innovator.ownedInnovations" class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">{{ innovation.name }}</dt>
              <dd class="nhsuk-summary-list__value text-pre-wrap">
                <ng-container *ngIf="innovation.expirationTransferDate === null; else innovationHasPendingTransfer">
                  <p *ngIf="innovation.collaboratorsCount === 0">There are no collaborators working on this innovation.</p>
                  <p *ngIf="innovation.collaboratorsCount > 0">
                    <span>You have {{ innovation.collaboratorsCount }} {{ innovation.collaboratorsCount > 1 ? "collaborators" : "collaborator" }} working on this innovation.</span>
                  </p>
                  <p>If you do not want this innovation to be archived, you can transfer its ownership.</p>
                </ng-container>
                <ng-template #innovationHasPendingTransfer>
                  <p>You have requested to transfer ownership of this innovation.</p>
                  <p>
                    <span
                      >This request is pending. If your request is rejected or has not been accepted within
                      {{ getDeadlineForPendingTransferInDays(innovation.expirationTransferDate!) }}
                      {{ getDeadlineForPendingTransferInDays(innovation.expirationTransferDate!) > 1 ? "days" : "day" }}, your innovation will be archived.
                    </span>
                  </p>
                </ng-template>
              </dd>
              <dd class="nhsuk-summary-list__actions nhsuk-u-font-size-16">
                <a *ngIf="innovation.expirationTransferDate === null" routerLink="/innovator/innovations/{{ innovation.id }}/manage/innovation/transfer">Transfer ownership</a>
              </dd>
            </div>
          </dl>

          <div *ngIf="!innovator.hasOnlyPendingTransfers" class="nhsuk-u-margin-bottom-3">
            <theme-form-checkbox controlName="confirm" size="small" label="I understand that my innovations will be archived, if I delete my account."></theme-form-checkbox>
          </div>

          <div *ngIf="innovator.hasPendingTransfer" class="nhsuk-u-margin-bottom-3">
            <theme-form-checkbox
              controlName="confirmPendingTransfer"
              size="small"
              label="I understand that any innovations that are pending transfer of ownership will be archived, if the new owner does not accept it within 30 days after the transfer was requested."
            ></theme-form-checkbox>
          </div>
        </ng-container>

        <ng-container *ngIf="stepNumber === 2">
          <ng-container *ngFor="let innovation of innovator.ownedInnovations">
            <div *ngIf="innovation.expirationTransferDate" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
              <div class="nhsuk-heading-m nhsuk-warning-callout__label">
                <span role="text">
                  <span class="nhsuk-u-visually-hidden">Important: </span> You have requested to transfer ownership of your {{ innovation.name }} innovation
                </span>
              </div>
              <p>If you delete your account, and the transfer is rejected or expires, your innovation will be archived.</p>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="(stepNumber === 3 || stepNumber === 4) && (innovator.isOwner || innovator.isCollaborator)">
          <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
            <div class="nhsuk-heading-m nhsuk-warning-callout__label">
              <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> When you delete your account </span>
            </div>

            <ul class="nhsuk-list nhsuk-list--bullet">
              <li *ngIf="!innovator.hasPendingTransfer" class="nhsuk-u-margin-bottom-3">all innovations will be archived</li>

              <li *ngIf="innovator.hasPendingTransfer" class="nhsuk-u-margin-bottom-3">
                all innovations will be archived unless you have a pending transfer request and it is accepted within 30 days
              </li>

              <li *ngIf="innovator.hasCollaborators" class="nhsuk-u-margin-bottom-3">all collaborators will lose access to archived innovations</li>

              <li>all support organisations you have shared your data with, will be able to view an archived version of your innovation</li>
            </ul>
          </div>
          <ng-container *ngIf="innovator.isOwner && stepNumber === 3">
            <p>If you want to keep a copy of your innovation record, you should download a PDF version before you delete your account.</p>
            <div *ngFor="let innovation of innovator.ownedInnovations">
              <p>
                <a href="{{ CONSTANTS.APP_URL }}/exports/{{ innovation.id }}/pdf?role={{ innovator.roleId }}">Download {{ innovation.name }} innovation record (PDF)</a>
              </p>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="stepNumber === 3">
          <theme-form-textarea controlName="reason" label="Why have you decided to delete your account?" [pageUniqueField]="false" lengthLimit="xl"></theme-form-textarea>
        </ng-container>

        <ng-container *ngIf="stepNumber === 4">
          <theme-form-input controlName="email" label="Enter your email" [pageUniqueField]="false"></theme-form-input>
          <theme-form-input
            controlName="confirmation"
            label="Are you sure you want to delete your account?"
            description="To confirm type: delete account"
            [pageUniqueField]="false"
          ></theme-form-input>
          <button class="nhsuk-button nhsuk-u-margin-top-3" [disabled]="!submitButton.isActive" (click)="onSubmitForm()">{{ submitButton.label }}</button>
        </ng-container>

        <button
          *ngIf="stepNumber !== 4"
          [disabled]="
            stepNumber === 1 &&
            ((!innovator.hasOnlyPendingTransfers && !form.controls.confirm.value) || (innovator.hasPendingTransfer && !form.controls.confirmPendingTransfer.value))
          "
          class="nhsuk-button nhsuk-u-margin-top-3"
          (click)="onSubmitStep('next')"
        >
          {{ stepNumber === 2 ? "Continue to delete account" : "Continue" }}
        </button>

        <div *ngIf="stepNumber !== 3">
          <a routerLink="/innovator/account/manage-account">{{ stepNumber === 2 ? "Cancel and wait to delete after transfer" : "Cancel" }}</a>
        </div>
      </form>
    </div>
  </div>
</theme-content-wrapper>
