<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
        <div class="nhsuk-heading-m nhsuk-warning-callout__label">
          <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> Warning </span>
        </div>
        <p> You will lose all access to this innovation when you transfer it to someone else. Your access is removed when the new owner accepts your transfer request. </p>
      </div>

      <form [formGroup]="form">

        <ng-container>
          <theme-form-input controlName="email" label="Enter the email of the new owner" [pageUniqueField]="false"></theme-form-input>
          <theme-form-input controlName="confirmation" label="Are you sure that you want to transfer?" description="To confirm, please type the following: transfer my innovation" [pageUniqueField]="false"></theme-form-input>
          <button class="nhsuk-button nhsuk-button--secondary" (click)="onSubmitForm()"> Request transfer of ownership </button>
        </ng-container>

        <div>
          <a routerLink="..">Cancel</a>
        </div>

      </form>

    </div>
  </div>

</theme-content-wrapper>
