<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <ng-container *ngIf="!isAdminType; else assessmentOverview">
        <div class="app-pane">
          <div class="app-pane__side-bar">
            <div *ngIf="isAssessmentType" class="nhsuk-u-padding-top-8">
              <ng-container *ngIf="assessmentHasBeenSubmitted && shouldShowUpdatedAt">
                <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-0">Updated: {{ assessment?.updatedAt | date: ("app.date_formats.long_date" | translate) }}</p>
                <p class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.updatedBy?.name }}</p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-5">Needs assessment team</p>
              </ng-container>

              <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-0">Created: {{ assessment?.finishedAt | date: ("app.date_formats.long_date" | translate) }}</p>
              <p class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.assignTo?.name }}</p>
              <p *ngIf="assessment?.assignTo" class="nhsuk-body-s nhsuk-u-margin-bottom-5">Needs assessment team</p>
            </div>

            <ng-container *ngIf="isAccessorType">
              <p class="nhsuk-heading-xs">{{ assessment?.finishedAt | date: ("app.date_formats.long_date" | translate) }}</p>
              <p class="nhsuk-hint nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.assignTo?.name }}</p>
              <p *ngIf="assessment?.assignTo" class="nhsuk-hint">Needs assessment team</p>
            </ng-container>

            <ng-container *ngIf="isInnovatorType">
              <p class="nhsuk-heading-xs">Updated: {{ assessment?.updatedAt | date: ("app.date_formats.long_date" | translate) }}</p>
              <p class="nhsuk-hint nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.updatedBy?.name }}</p>
              <p *ngIf="assessment?.assignTo" class="nhsuk-hint">Needs assessment team</p>

              <div class="nhsuk-u-padding-top-8">
                <p class="nhsuk-heading-xs">Created: {{ assessment?.finishedAt | date: ("app.date_formats.long_date" | translate) }}</p>
                <p class="nhsuk-hint nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.assignTo?.name }}</p>
                <p *ngIf="assessment?.assignTo" class="nhsuk-hint">Needs assessment team</p>
              </div>
            </ng-container>
          </div>

          <div class="app-pane__main-content">
            <ng-container *ngTemplateOutlet="assessmentOverview"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #assessmentOverview>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <shared-innovation-assessment-details *ngIf="showAssessmentDetails" [assessment]="assessment" />

      <div *ngIf="isAdminType">
        <ng-container *ngIf="assessmentHasBeenSubmitted && shouldShowUpdatedAt">
          <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-0">Updated: {{ assessment?.updatedAt | date: ("app.date_formats.long_date" | translate) }}</p>
          <p class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.updatedBy?.name }}</p>
          <p class="nhsuk-body-s nhsuk-u-margin-bottom-5">Needs assessment team</p>
        </ng-container>

        <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-0">Created: {{ assessment?.finishedAt | date: ("app.date_formats.long_date" | translate) }}</p>
        <p class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">{{ assessment?.assignTo?.name }}</p>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-5">Needs assessment team</p>
      </div>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">The innovation</h2>
      <p class="text-pre-wrap">{{ assessment?.description }}</p>

      <dl class="nhsuk-summary-list">
        <!-- Maturity level item  -->
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal">{{ innovationMaturityLevel.label }}</dt>
          <dd class="nhsuk-summary-list__key width-auto">{{ innovationMaturityLevel.value }}</dd>
          <dd class="nhsuk-summary-list__value text-pre-wrap">
            <ul class="progressbar nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-0">
              <li class="progressbar-item{{ innovationMaturityLevel.levelIndex >= 1 ? ' active' : '' }}" style="width: 10%"></li>
              <li class="progressbar-item{{ innovationMaturityLevel.levelIndex >= 2 ? ' active' : '' }}" style="width: 10%"></li>
              <li class="progressbar-item{{ innovationMaturityLevel.levelIndex === 3 ? ' active' : '' }}" style="width: 10%"></li>
            </ul>
            <p class="nhsuk-body-s font-color-secondary">{{ innovationMaturityLevel.description }}</p>
            <p *ngIf="innovationMaturityLevel.comment" class="nhsuk-u-margin-0">{{ innovationMaturityLevel.comment }}</p>
          </dd>
        </div>

        <div *ngFor="let item of innovationSummary" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal">{{ item.label }}</dt>
          <dd class="nhsuk-summary-list__key width-auto">{{ item.value }}</dd>
          <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.comment }}</dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">The innovator</h2>
      <dl class="nhsuk-summary-list">
        <div *ngFor="let item of innovatorSummary" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal">{{ item.label }}</dt>
          <dd class="nhsuk-summary-list__key width-auto">{{ item.value }}</dd>
          <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.comment }}</dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">Support need summary</h2>
      <p *ngIf="!assessment?.summary">No summary provided.</p>
      <p *ngIf="assessment?.summary" class="text-pre-wrap">{{ assessment?.summary }}</p>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">Suggested organisations</h2>
      <p *ngIf="(assessment?.suggestedOrganisations || []).length === 0">No suggested organisations.</p>

      <ul *ngIf="(assessment?.suggestedOrganisations ?? []).length" class="nhsuk-list nhsuk-u-margin-bottom-0">
        <li *ngFor="let organisation of assessment?.suggestedOrganisations" class="nhsuk-u-margin-bottom-1">
          {{ organisation.name }}
          <ul *ngIf="organisation.units.length > 1" class="nhsuk-list nhsuk-u-margin-left-1 nhsuk-u-margin-bottom-0 border-left-inset-neutral">
            <li *ngFor="let unit of organisation.units" class="d-flex nhsuk-u-margin-0 nhsuk-u-padding-left-3">
              {{ unit.name }}
            </li>
          </ul>
        </li>
      </ul>

      <ng-container *ngIf="isAssessmentType && assessment && assessment.isLatest" [ngSwitch]="innovation.status">
        <ng-container *ngSwitchCase="'NEEDS_ASSESSMENT'">
          <a routerLink="/assessment/innovations/{{ innovationId }}/assessments/{{ assessmentId }}/edit" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">
            {{ assessment.minorVersion ? "Continue editing" : "Continue needs " + assessmentType }}
          </a>
          <a routerLink="/assessment/innovations/{{ innovationId }}" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-button--secondary">Go to innovation</a>
        </ng-container>

        <ng-container *ngSwitchCase="'AWAITING_NEEDS_REASSESSMENT'">
          <a routerLink="/assessment/innovations/{{ innovationId }}/assessments/{{ assessmentId }}/edit" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">
            Start reassessment
          </a>
          <a routerLink="/assessment/innovations/{{ innovationId }}" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-button--secondary">Go to innovation</a>
        </ng-container>

        <ng-container *ngSwitchCase="'IN_PROGRESS'">
          <a routerLink="/assessment/innovations/{{ innovationId }}" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">Go to innovation</a>
          <a routerLink="/assessment/innovations/{{ innovationId }}/assessments/{{ assessmentId }}/edit/reason" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-button--secondary">
            Edit {{ assessmentType }}
          </a>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <a routerLink="/assessment/innovations/{{ innovationId }}" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">Go to innovation</a>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isAccessorType">
        <a routerLink="/accessor/innovations/{{ innovationId }}" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">Go to innovation</a>
        <a
          *ngIf="isInProgress && isQualifyingAccessorRole && assessment?.isLatest"
          routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id || 'new' }}"
          class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-button--secondary"
        >
          Update support status
        </a>
      </ng-container>

      <ng-container *ngIf="isInnovatorType">
        <a routerLink="/innovator/innovations/{{ innovationId }}" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">Go to innovation</a>
      </ng-container>
    </div>
  </div>
</ng-template>
