<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-heading-l">Change your password</h2>
      <div class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-3">
        <p>Last password update was on {{ user.passwordResetAt | date: "dd/MM/yyyy" }}</p>
      </div>
      <a [href]="changePassword"> Change your password </a>
    </div>
  </div>

  <app-account-mfa-list *ngIf="MFAInfo" [MFAInfo]="MFAInfo" />

  <div *ngIf="ctx.user.isInnovator()" class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-heading-l">Delete your account</h2>
      <p>You will need to confirm your email address to delete your account.</p>
      <a routerLink="delete"> Delete your account </a>
    </div>
  </div>
</theme-content-wrapper>
