<theme-content-wrapper [status]="pageStatus">

  <section class="nhsuk-u-padding-bottom-7">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Unit</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">{{ unit.name }} ({{ unit.acronym }})</dd>
            <dd class="nhsuk-summary-list__actions">
              <a routerLink="edit">
                Change 
                <span class="nhsuk-u-visually-hidden"> 
                  {{ unit.name | lowercase }} information
                </span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Status</dt>
            <dd class="nhsuk-summary-list__value">
              <theme-tag type="{{ unit.isActive ? 'SUCCESS' : 'NEUTRAL' }}"
                label="{{ unit.isActive ? 'Active' : 'Inactive' }}"></theme-tag>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a 
                *ngIf="unit.isActive || unit.canActivate" 
                routerLink="{{ unit.isActive ? 'inactivate' : 'activate' }}"> 
                {{ unit.isActive ? 'Inactivate' : 'Activate' }} unit
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

  <section class="nhsuk-u-padding-bottom-7">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Users</h2>
        <p class="nhsuk-body-m">{{ 'features.admin.organisation_unit.users' | pluralTranslate: usersList.getTotalRowsNumber() | translate:  { count: usersList.getTotalRowsNumber() } }}</p>

        <!-- TODO: In another US -->
        <!-- <div class="nhsuk-action-link nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
          <a class="nhsuk-action-link__link" routerLink="">
            <theme-svg-icon type="action"></theme-svg-icon>
            <span class="nhsuk-action-link__text">Create a new user</span>
          </a>
        </div> -->

        <div *ngIf="usersList.getTotalRowsNumber() > 0">
          <table class="nhsuk-table-responsive app-sortable-table">
            <caption class="nhsuk-u-visually-hidden"> Users list </caption>
            <thead class="nhsuk-table__head">
              <tr>
                <th *ngFor="let item of usersList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                  {{ item.label }}
                </th>
              </tr>
            </thead>
            <theme-spinner *ngIf="usersLoading; else users" cssClass="nhsuk-u-margin-9" message="Loading users. Please wait..."></theme-spinner>
          </table>
        </div>
    
        <theme-pagination class="d-flex justify-content-center" [currentPage]="usersList.page" [pageSize]="usersList.pageSize" [totalRows]="usersList.getTotalRowsNumber()" (updatePageEvent)="onUsersPageChange($event)"></theme-pagination>
      </div>
    </div>
  </section>

  <section class="nhsuk-u-padding-bottom-7">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Innovations</h2>
        <p class="nhsuk-body-m">{{ 'features.admin.organisation_unit.innovations' | pluralTranslate: innovationsList.getTotalRowsNumber() | translate:  { count: innovationsList.getTotalRowsNumber() } }}</p>
        
        <div *ngIf="innovationsList.getTotalRowsNumber() > 0">
          <table class="nhsuk-table-responsive app-sortable-table">
            <caption class="nhsuk-u-visually-hidden"> Innovation list </caption>
            <thead class="nhsuk-table__head">
              <tr>
                <th *ngFor="let item of innovationsList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                  {{ item.label }}
                </th>
              </tr>
            </thead>
            <theme-spinner *ngIf="innovationsLoading; else innovations" cssClass="nhsuk-u-margin-9" message="Loading innovations. Please wait..."></theme-spinner>
          </table>
        </div>
    
        <theme-pagination class="d-flex justify-content-center" [currentPage]="innovationsList.page" [pageSize]="innovationsList.pageSize" [totalRows]="innovationsList.getTotalRowsNumber()" (updatePageEvent)="onInnovationsPageChange($event)"></theme-pagination>
      </div>
    </div>
  </section>
</theme-content-wrapper>


<ng-template #users>
  <tbody class="nhsuk-table__body">
    <tr *ngFor="let item of usersList.getRecords()" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">{{ usersList.getColumnLabel('account') }}</span>
        <span>{{item.name}} ({{item.roleDescription}})</span>
        <span class="nhsuk-hint nhsuk-u-margin-bottom-0">{{item.email}}</span>
      </td>
      <td class="nhsuk-table__cell text-align-right">
        <!-- TODO: In another US -->
        <!-- <span class="nhsuk-table-responsive__heading"></span>
        <a routerLink=""> 
          Change 
          <span class="nhsuk-u-visually-hidden"> 
            {{ item.name | lowercase }} information
          </span>
        </a> -->
      </td>
    </tr>
  </tbody>
</ng-template>

<ng-template #innovations>
  <tbody class="nhsuk-table__body">
    <tr *ngFor="let item of innovationsList.getRecords()" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('innovation') }}</span>
        <a routerLink="/admin/innovations/{{ item.id }}" attr.aria-label="View {{ item.name }} innovation"> {{ item.name }}</a>
      </td>
      <td class="nhsuk-table__cell text-align-right">
        <span class="nhsuk-table-responsive__heading">{{ innovationsList.getColumnLabel('status') }}</span>
        <theme-tag type="{{ 'shared.catalog.innovation.support_status.' + item.supports?.[0]?.status + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.support_status.' + item.supports?.[0]?.status + '.name' | translate }}"></theme-tag>
      </td>
    </tr>
  </tbody>
</ng-template>