<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>{{ ctx.layout.pageTitle() }}</h1>

    <p *ngIf="currentRole">You're currently logged in as {{ currentRole.description }}.</p>
    <p *ngIf="user.roles.length > 1">You have more than one profile associated with your account.</p>
    <p>Which profile would you like to use?</p>
  </div>
</div>

<ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-5">
  <li *ngFor="let role of user.roles" class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a href="javascript:void(0)" class="nhsuk-card__link d-flex justify-content-space-between" (click)="onSubmit(role.id)">
            <span class="nhsuk-u-visually-hidden">Go to </span> {{ role.label }}
            <theme-svg-icon type="chevron-right" />
          </a>
        </h2>
      </div>
    </div>
  </li>
</ul>
