<div *ngIf="data.innovation" class="nhsuk-u-padding-top-3">
  <div class="d-flex align-items-center justify-content-space-between nhsuk-u-padding-bottom-3">
    <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ data.innovation.name }}</p>
    <div *ngIf="data.links.length" class="d-flex flex-direction-column text-align-right">
      <a href="javacript:void(0)" class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-2" (click)="ctx.notifications.incrementUnread()">Increment unread</a>
      <a href="javascript:void(0)" class="nhsuk-u-margin-bottom-2" (click)="ctx.notifications.decrementUnread()">Decrement unread</a>
    </div>
  </div>

  <theme-header-archived-banner />

  <hr class="nhsuk-section-break nhsuk-section-break--visible" />
</div>
