<h2 *ngIf="showHeading" class="app-side-nav__heading">{{ navHeading }}</h2>

<ng-container *ngIf="!isAllSectionsDetailsPage">
  <ul class="nhsuk-list app-side-nav__list">

    <li *ngFor="let item of sidebarItems" class="app-side-nav__item" [routerLinkActive]="'app-side-nav__item--current'">

      <a class="app-side-nav__link nhsuk-u-padding-right-1" [routerLink]="item.url">{{ item.label }}</a>

      <ul *ngIf="(item.children ?? []).length > 0" class="app-side-nav__list--nested">
        <li *ngFor="let nestedItem of item.children" [routerLinkActive]="'app-side-nav__item--nested-current'" class="app-side-nav__item">
          <a [routerLink]="nestedItem.url" class="app-side-nav__link--nested nhsuk-u-padding-right-1">{{ nestedItem.label }}</a>
        </li>
      </ul>

    </li>

  </ul>
</ng-container>

<ng-container *ngIf="isAllSectionsDetailsPage">

  <h2 *ngIf="showHeading" class="app-side-nav__heading">All sections</h2>

  <ul class="nhsuk-list app-side-nav__list">
    <li *ngFor="let item of sidebarItems" class="app-side-nav__item app-side-nav__item--all-expanded">

      <span class="app-side-nav__section nhsuk-u-padding-right-1">{{ item.label }}</span>

      <ul *ngIf="(item.children ?? []).length > 0" class="app-side-nav__list--expanded">
        <li *ngFor="let nestedItem of item.children" class="app-side-nav__item">
          <a href="javascript:void(0)" (click)="onScrollToSection(nestedItem.id!, $event)" class="app-side-nav__link--all nhsuk-u-padding-right-1">{{ nestedItem.label }}</a>
        </li>
      </ul>
    </li>
  </ul>

  <theme-go-to-top-link />
  
</ng-container>