<theme-content-wrapper [status]="pageStatus()">  <p>If you are looking for specific task, use the <a routerLink="advanced-filter">tasks advanced search</a>.</p>

  <div class="app-tabs">
    <ul class="app-tabs__list" role="tablist" aria-label="Tabs">
      <li *ngFor="let item of tabs" class="app-tabs__item" [routerLinkActive]="'selected'">
        <a
          id="tab-{{ item.key }}"
          [routerLink]="item.link"
          [queryParams]="item.queryParams"
          role="tab"
          attr.aria-controls="content-{{ item.key }}"
          attr.aria-selected="{{ currentTab.key === item.key ? 'true' : 'false' }}"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>

  <div class="nhsuk-grid-row">
    <div id="content-{{ currentTab.key }}" role="tabpanel" attr.aria-labelledby="tab-{{ currentTab.key }}" class="nhsuk-grid-column-full">
      <theme-spinner *ngIf="pageStatus() === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

      <ng-container *ngIf="pageStatus() === 'READY' && tasksList.getTotalRowsNumber() === 0">
        <p>There are no tasks</p>
      </ng-container>

      <ng-container *ngIf="pageStatus() === 'READY' && tasksList.getTotalRowsNumber() > 0">
        <p class="d-flex align-items-center nhsuk-u-margin-bottom-2">
          <span class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0 mr-auto">{{ currentTab.description }}</span>
          <span><a routerLink="statuses" class="nhsuk-body-s nhsuk-u-margin-bottom-0" arial-label="View status keys information">Status key</a></span>
        </p>
        <hr class="nhsuk-section-break nhsuk-section-break--visible" />

        <table class="nhsuk-table-responsive app-sortable-table nhsuk-u-margin-top-3">
          <caption class="nhsuk-table__caption">
            {{
              currentTab.contentTitle
            }}
            <span *ngIf="tasksList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of tasksList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of tasksList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <div class="d-flex">
                  <div class="nhsuk-u-padding-right-1">
                    <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("section") }}</span>
                    <a
                      routerLink="/accessor/innovations/{{ item.innovation.id }}/tasks/{{ item.id }}"
                      attr.aria-label="View task named {{ item.name }} for innovation {{ item.innovation.name }}"
                    >
                      {{ item.name }}
                    </a>
                  </div>
                  <theme-notification-tag label="dot" *ngIf="item.notifications"></theme-notification-tag>
                </div>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("innovationName") }}</span>
                <a routerLink="/accessor/innovations/{{ item.innovation.id }}" attr.aria-label="View innovation {{ item.innovation.name }} details"> {{ item.innovation.name }} </a>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("createdAt") }}</span>
                {{ item.createdAt | date: ("app.date_formats.long_date" | translate) }}
              </td>
              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ tasksList.getColumnLabel("status") }}</span>
                <theme-tag
                  type="{{ 'shared.catalog.innovation.task_status.' + item.status + '.cssColorClass' | translate }}"
                  label="{{ 'shared.catalog.innovation.task_status.' + item.status + '.name' | translate }}"
                  class="tag-no-wrap"
                ></theme-tag>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination
            [currentPage]="tasksList.page"
            [pageSize]="tasksList.pageSize"
            [totalRows]="tasksList.getTotalRowsNumber()"
            (updatePageEvent)="onPageChange($event)"
          ></theme-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
