nav.pagination {
  display: inline-block;
  padding: 25px 0 0 0;

  ul {
    display: flex;

    li {
      border-radius: 2px;
      font-size: 16px;
      margin: 2px;

      a {
        display: block;
        padding: 8px 16px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background-color: var(--color_nhsuk-grey-5);
          text-decoration: underline;
        }
        &:focus {
          text-decoration: underline;
        }
      }

      span {
        display: block;
        padding: 8px 16px;
      }

      &.active {
        background-color: #0060b8;
        a {
          color: white;
          &:hover {
            color: black;
          }
          &:focus {
            color: black;
          }
        }
      }
    }
  }
}
