<div *ngIf="totalRows > pageSize" class="pagination">

  <a *ngIf="currentPage !== 1" href="javascript:void(0)" (click)="onPreviousPage()">« Prev</a>

  <ng-container *ngIf="getPages().includes(1) === false">
    <a href="javascript:void(0)" (click)="onPageChange(1)">1</a>
    <span>...</span>
  </ng-container>

  <a *ngFor="let page of getPages()" href="javascript:void(0)" (click)="onPageChange(page)" [ngClass]="{ active: currentPage === page }">{{ page }}</a>

  <ng-container *ngIf="getPages().includes(totalPages) === false">
    <span>...</span>
    <a href="javascript:void(0)" (click)="onPageChange(totalPages)">{{ totalPages }}</a>
  </ng-container>

  <a *ngIf="currentPage !== totalPages" href="javascript:void(0)" (click)="onNextPage()">Next »</a>

</div>
