.pagination {
  display: inline-block;
  padding: 25px 0 0 0;

  a,
  span {
    background-color: #eff4f5;
    float: left;
    padding: 8px 16px;
    margin: 2px;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  a.active {
    background-color: #0060b8;
    cursor: pointer;
    color: white;
  }
}
