<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div *ngIf="wizard.isQuestionStep()" class="nhsuk-grid-column-full nhsuk-u-padding-left-0">
        <p>{{ wizard.currentStep().description }}</p>
        <theme-form-engine formId="mfaForm" [parameters]="wizard.currentStepParameters()" [values]="wizard.getAnswers()"></theme-form-engine>
        <button type="submit" form="mfaForm" [disabled]="!formButton.isActive" class="nhsuk-button" (click)="onSubmitStep('next')">{{ formButton.label }}</button>
      </div>
      <a routerLink="/{{ manageAccountPageUrl }}">{{ "Cancel" }} </a>
    </div>
  </div>
</theme-content-wrapper>
