<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div *ngIf="wizard.isQuestionStep()" class="nhsuk-grid-column-full nhsuk-u-padding-left-0">
        <ng-container *ngIf="wizard.currentStep().parameters[0].id === 'confirmationEmail'; else description">
          <p>
            {{ wizard.currentStep().description }}<span class="nhsuk-u-font-weight-bold">{{ this.userEmail }}</span>
          </p>
          <p>Enter {{ ctx.user.isAdmin() ? "the user's" : "your" }} email to confirm</p>
        </ng-container>
        <ng-template #description>
          <p>{{ wizard.currentStep().description }}</p>
        </ng-template>

        <theme-form-engine
          formId="mfaForm"
          [parameters]="wizard.currentStepParameters()"
          [formValidations]="wizard.getFormValidations()"
          [values]="wizard.getAnswers()"
        ></theme-form-engine>
        <button type="submit" form="mfaForm" [disabled]="!formButton.isActive" class="nhsuk-button" (click)="onSubmitStep('next')">{{ formButton.label }}</button>
      </div>
      <a routerLink="/{{ manageAccountPageUrl }}">{{ "Cancel" }} </a>
    </div>
  </div>
</theme-content-wrapper>
