<theme-header [showUserInformation]="true" [leftMenuBarItems]="navigationMenuBar.leftItems" [rightMenuBarItems]="navigationMenuBar.rightItems"></theme-header>
<theme-header-breadcrumbs-bar></theme-header-breadcrumbs-bar>

<div class="nhsuk-width-container-fluid app-width-container-fluid overflow-x-hidden">
  <main id="maincontent" role="main" class="nhsuk-main-wrapper nhsuk-u-padding-top-5 nhsuk-u-padding-bottom-5">
    <div class="nhsuk-width-container app-width-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<theme-footer></theme-footer>
