@if (!isSectionsPage()) {
  <ul class="nhsuk-list app-side-nav__list">
    @for (item of sidebarItems(); track item.url) {
      <li class="app-side-nav__item" [routerLinkActive]="'app-side-nav__item--current'">
        <a class="app-side-nav__link nhsuk-u-padding-right-1" [routerLink]="item.url">{{ item.label }}</a>
      </li>
    }
  </ul>
}

@if (isSectionsPage() && !ctx.innovation.isArchived()) {
  <shared-innovation-record-sidebar-component />
}

@if (isInnovationRecordPage() && ctx.innovation.isArchived()) {
  <theme-go-to-top-link />
}
