<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
      <p> {{ alert.message }} </p>
    </theme-alert>

    <h1 class="nhsuk-u-margin-bottom-3"> {{ pageTitle }} </h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-hint">All comments can be seen by the innovator, needs assessment team, and selected support organisations depending on the innovator's sharing preferences.</p>

    <form [formGroup]="form">
      <theme-form-textarea controlName="comment" label="Enter your comment" [pageUniqueField]="false" lengthLimit="large"></theme-form-textarea>
      <button class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" (click)="onSubmit()">Post comment</button>
    </form>

    <div class="nhsuk-u-padding-bottom-5">
      <a routerLink="/{{ module }}/innovations/{{ innovationId }}/comments"> Cancel </a>
    </div>

  </div>
</div>
