<theme-content-wrapper [status]="pageStatus()">
  <div *ngIf="!ctx.user.isInnovator() && innovation.owner && !innovation.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p>Please note that the innovator {{ innovation.owner.name }} is currently locked.</p>
  </div>

  <ng-container *ngIf="!canCreateThread && !ctx.user.isAdmin() && !ctx.innovation.isArchived()">
    <div *ngIf="innovation.owner; else missingOwner" class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <p>Once you submit your innovation record, and the needs assessment starts, you can use this space to talk about your innovation with those who are supporting you.</p>
      </div>
    </div>
    <ng-template #missingOwner>
      <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
        <div class="nhsuk-heading-m nhsuk-warning-callout__label">
          <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> You cannot start a new message thread </span>
        </div>
        <p>Currently this innovation does not have an active owner and a transfer ownership is pending. As soon as the transfer is accepted, you will be able to start a thread.</p>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="!ctx.user.isAdmin() && ctx.innovation.isArchived()">
    <p class="nhsuk-u-margin-bottom-6">You cannot send or reply to messages about this innovation as it is archived.</p>
  </ng-container>

  <div *ngIf="isInnovationSubmitted" class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <ng-container *ngIf="canCreateThread && !ctx.user.isAdmin() && !ctx.innovation.isArchived()">
        @if (ctx.user.isInnovator()) {
          <p>Messages is your space to ask questions and discuss your innovation with the organisations that are supporting you.</p>
        } @else {
          <p>Use messages to talk to the innovator and other organisations supporting this innovation.</p>
        }
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>
            For transparency reasons, all messages can be seen and replied by everyone who has access to this innovation.
            <a routerLink="../support" target="_blank" rel="noopener noreferrer"> View a list of this innovation's data sharing preferences (opens in a new window). </a>
          </p>
        </div>
        <button type="button" routerLink="new" class="nhsuk-button">Start a new thread</button>
      </ng-container>

      <div *ngIf="ctx.user.isAccessorType() && isInAssessment" class="nhsuk-inset-text nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>{{ "features.accessor.cant_do_while_in_assessment" | translate }}</p>
      </div>
    </div>

    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <form [formGroup]="form">
            <theme-form-input controlName="subject" [pageUniqueField]="false" label="Search" placeholder="Search by subject">
              <ng-container append>
                <button type="button" (click)="onSearchClick()" class="nhsuk-search__submit form-input-appended-button-search" id="search-btn">
                  <theme-svg-icon type="search" />
                  <span class="nhsuk-u-visually-hidden">Search</span>
                </button>
              </ng-container>
            </theme-form-input>

            <div *ngIf="!(ctx.user.isAdmin() || ctx.user.isInnovator())" class="nhsuk-u-margin-bottom-5">
              <theme-form-checkbox controlName="following" label="Only show threads I am following" size="small"></theme-form-checkbox>
            </div>
          </form>
        </div>
      </div>

      <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Showing {{ tableList.getVisibleRowsNumber() }} conversations of {{ tableList.getTotalRowsNumber() }}</p>

      <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" />

      <p *ngIf="tableList.getTotalRowsNumber() === 0" class="nhsuk-u-padding-top-4">There are no conversations.</p>

      <div *ngIf="tableList.getTotalRowsNumber() > 0" class="bg-color-white">
        <table class="nhsuk-table-responsive app-sortable-table app-table-inside-card">
          <caption class="nhsuk-u-visually-hidden">
            Conversations list
            <span *ngIf="tableList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of tableList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of tableList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("subject") }}</span>
                <div>
                  <a routerLink="{{ item.id }}" attr.aria-label="View {{ item.subject }} conversation"> {{ item.subject }} </a>
                  <theme-notification-tag label="dot" *ngIf="item.hasUnreadNotifications"></theme-notification-tag>
                  <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">
                    Started by <ng-container *ngTemplateOutlet="userInfo; context: { user: item.createdBy }"></ng-container>
                  </p>
                </div>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("messageCount") }}</span>
                {{ item.messageCount }} messages
              </td>
              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("latestMessageCreatedAt") }}</span>

                <p class="nhsuk-body-s nhsuk-u-margin-0">{{ item.lastMessage.createdAt | date: ("app.date_formats.short_date_time" | translate) }}</p>
                <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">
                  by <ng-container *ngTemplateOutlet="userInfo; context: { user: item.lastMessage.createdBy }"></ng-container>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="nhsuk-u-padding-bottom-4">
        <theme-pagination
          [currentPage]="tableList.page"
          [pageSize]="tableList.pageSize"
          [totalRows]="tableList.getTotalRowsNumber()"
          (updatePageEvent)="onPageChange($event)"
        ></theme-pagination>
      </div>
    </div>
  </div>

  <ng-template #userInfo let-user="user">
    <ng-container *ngIf="selfUser.id === user.id">me</ng-container>
    <ng-container *ngIf="selfUser.id !== user.id">{{ user.displayTeam ?? "Innovator" }}</ng-container>
  </ng-template>
</theme-content-wrapper>
