<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>
        Start a new conversation by entering a subject and a message.
      </p>

      <p *ngIf="isInnovator()">
        <a routerLink="../../everyone">Everyone who is currently working with this innovation</a> will be notified.
      </p>

      <p *ngIf="isNotInnovator()">
        The innovator will be notified. Your messages can be seen by everyone who has access to this innovation.
        <a [routerLink]="stores.authentication.isAccessorType() ? '../../support/organisations' : '../../support'" target="_blank" rel="noopener noreferrer">
          View a list of this innovation's data sharing preferences (opens in new window).
        </a>
      </p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <theme-form-input controlName="subject" label="Subject" description="Enter a subject for your conversation" [pageUniqueField]="false"></theme-form-input>
        <theme-form-textarea controlName="message" label="Message" description="Enter your message" [pageUniqueField]="false" lengthLimit="large"></theme-form-textarea>
        <button class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3"> Send message </button>
      </form>

      <div>
        <a routerLink="..">Cancel</a>
      </div>

    </div>
  </div>

</theme-content-wrapper>
