<theme-content-wrapper [status]="pageStatus">

  <ng-container *ngIf="isAccessor()">
    <div class="nhsuk-grid-row nhsuk-u-padding-bottom-3 d-flex align-items-center">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0"> {{ innovation.name }} </p>
      </div>
    </div>
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4" />
  </ng-container>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="bg-color-white nhsuk-u-padding-4 nhsuk-u-margin-bottom-5">

        <h1 class="nhsuk-heading-m nhsuk-u-margin-bottom-3"> Subject: {{ threadInfo?.subject }} </h1>

        <span>
          {{ threadParticipants?.participants?.length?.toLocaleString() }} participants.
        </span>
        <a href="javascript:void(0)" (click)="onShowParticipantsClick()">
          {{ showParticipantsText }} <span class="nhsuk-u-visually-hidden"> of thread participants </span>
        </a>

        <ng-container *ngIf=" showParticipantsHideStatus === 'opened'">
          <dl class="nhsuk-u-margin-0 nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
            <div *ngFor="let participant of threadParticipants?.participants;" class="nhsuk-u-margin-0 nhsuk-u-padding-left-4 nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-body-s border-left-inset-neutral">
              <dt>
                <span>{{ participant.name }} ({{ participant.organisationUnit?.acronym ?? stores.authentication.getRoleDescription(participant.role) }})</span>
              </dt>
            </div>
          </dl>
        </ng-container>

        <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" />

        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="stores.authentication.isAdminRole() === false && innovation.status !== 'PAUSED'">
          <theme-form-textarea controlName="message" description="Write a message" [pageUniqueField]="false" lengthLimit="large"></theme-form-textarea>
          <p class="nhsuk-body-s font-color-secondary">
            Once sent, all participants in this conversation will be notified. As well as the innovator, everyone who is supporting this innovation will be able to see and reply to your message.
          </p>
          <button type="submit" class="nhsuk-button button-small nhsuk-u-margin-bottom-5">
            Send message <span class="nhsuk-u-visually-hidden"> for conversation with subject {{ threadInfo?.subject }} created at {{ threadInfo?.createdAt | date: ('app.date_formats.long_date_time' | translate) }} </span>
          </button>
        </form>

        <ng-container *ngIf="messagesList.getTotalRowsNumber() > 0">
          <div *ngFor="let message of messagesList.getRecords()" class="nhsuk-card bg-color-grey nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-2 nhsuk-u-padding-3">

            <div class="d-flex justify-content-space-between nhsuk-u-padding-bottom-3">
              <div>
                <div class="d-flex align-items-center">
                  <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-right-2">
                    {{ message.createdBy.name }}{{ message.createdBy.organisationUnit && message.createdBy.organisationUnit.name ? ', ' + message.createdBy.organisationUnit.name : '' }}
                  </p>
                  <theme-notification-tag label="new" *ngIf="message.isNew" class=""></theme-notification-tag>
                </div>
                <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0">{{ message.createdBy.typeDescription }}</p>
              </div>
              <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0">
                {{ message.createdAt | date: ('app.date_formats.long_date_time' | translate) }}
              </p>
            </div>
  
            <p class="textarea-info-section nhsuk-u-margin-bottom-2">{{ message.message }}
              <span *ngIf="message.updatedAt && message.updatedAt !== message.createdAt" class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-2">(last edited at
                {{ message.updatedAt | date: ('app.date_formats.long_date_time' | translate) }})</span>
            </p>
  
            <a *ngIf="message.isEditable && message.createdBy.id === selfUser.id && innovation.status !== 'PAUSED'" routerLink="/{{ selfUser.urlBasePath }}/innovations/{{ innovation.id }}/threads/{{ threadInfo?.id }}/messages/{{ message.id }}"
              class="nhsuk-body-s nhsuk-u-margin-bottom-0 d-inline-block">
              Edit this message
            </a>
  
          </div>
          <div class="nhsuk-u-padding-bottom-4">
            <theme-pagination [currentPage]="messagesList.page" [pageSize]="messagesList.pageSize" [totalRows]="messagesList.getTotalRowsNumber()" (updatePageEvent)="onPageChange($event)"></theme-pagination>
          </div>
        </ng-container>

      </div>

    </div>
  </div>

</theme-content-wrapper>
