<theme-content-wrapper [status]="pageStatus">

  <ng-container *ngIf="isAccessorType">
    <div class="nhsuk-grid-row nhsuk-u-padding-bottom-3 d-flex align-items-center">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0"> {{ innovation.name }} </p>
      </div>
    </div>
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">
  </ng-container>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="bg-color-white nhsuk-u-padding-4 nhsuk-u-margin-bottom-5">

        <h1 class="nhsuk-heading-m nhsuk-u-margin-bottom-3"> Subject: {{ threadInfo?.subject }} </h1>
        <p *ngIf="threadInfo?.context?.type === 'TASK'">
          <a routerLink="/{{selfUser.urlBasePath}}/innovations/{{innovation.id}}/tasks/{{ threadInfo?.context?.id }}">Go to task</a>
        </p>

        <span>
          {{ threadFollowers?.length?.toLocaleString() }} {{ followerNumberText }}.
        </span>
        <a href="javascript:void(0)" (click)="onShowParticipantsClick()">
          {{ showFollowersText }} <span class="nhsuk-u-visually-hidden"> of recipients </span>
        </a>

        <ng-container *ngIf=" showFollowersHideStatus === 'opened'">
          <dl class="nhsuk-u-margin-0 nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
            <dt *ngFor="let follower of threadFollowers;" class="nhsuk-u-margin-0 nhsuk-u-padding-left-4 nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-body-s border-left-inset-neutral">
              <span *ngIf="follower.role.role === 'INNOVATOR' ; else notInnovator">{{ follower.name }} ({{ follower.isOwner ? 'Owner' : 'Collaborator'}})</span>
              <ng-template #notInnovator>
                <span>{{ follower.name }} ({{ follower.organisationUnit?.acronym ?? stores.authentication.getRoleDescription(follower.role.role) }})</span>
              </ng-template>
            </dt>
            <dt *ngIf="isInnovatorType && showAddRecipientsLink" class="nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-left-4 nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-1 nhsuk-body-s border-left-inset-neutral">
              <a routerLink="/innovator/innovations/{{ innovation.id }}/threads/{{ threadId }}/recipients">Add recipients</a>
            </dt>
          </dl>
        </ng-container>

        <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">

        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isAdmin === false && innovation.status !== 'PAUSED'">
          <theme-form-textarea controlName="message" description="Write a message" [pageUniqueField]="false" lengthLimit="xxl"></theme-form-textarea>
          <p class="nhsuk-body-s font-color-secondary">
            Once sent, all recipients in this thread will be notified. For transparency reasons, this message can be seen and replied to by everyone who has access to this innovation.
          </p>
          <button type="submit" class="nhsuk-button button-small nhsuk-u-margin-bottom-5">
            Send message <span class="nhsuk-u-visually-hidden"> for conversation with subject {{ threadInfo?.subject }} created at {{ threadInfo?.createdAt | date: ('app.date_formats.long_date_time' | translate) }} </span>
          </button>
        </form>

        <ng-container *ngIf="messagesList.getTotalRowsNumber() > 0">
          <div *ngFor="let message of messagesList.getRecords()" class="nhsuk-card bg-color-grey nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-2 nhsuk-u-padding-3">

            <div class="d-flex justify-content-space-between nhsuk-u-margin-bottom-2">
              <div>
                <div class="d-flex align-items-center">
                  <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-right-2">
                    {{ message.createdBy.name }}{{ message.createdBy.organisationUnit && message.createdBy.organisationUnit.name ? ', ' + message.createdBy.organisationUnit.name : '' }}
                  </p>
                  <theme-notification-tag label="new" *ngIf="message.isNew" class=""></theme-notification-tag>
                </div>
              </div>
              <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0">
                {{ message.createdAt | date: ('app.date_formats.long_date_time' | translate) }}
              </p>
            </div>

            <p class="textarea-info-section nhsuk-u-margin-bottom-2">{{ message.message }}
              <span *ngIf="message.updatedAt && message.updatedAt !== message.createdAt" class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-2">(last edited at
                {{ message.updatedAt | date: ('app.date_formats.long_date_time' | translate) }})</span>
            </p>

            <p *ngIf="message.file" [ngClass]="{
              'nhsuk-body-s': true,
              'nhsuk-u-margin-bottom-4': message.showEditMessageLink}"
              >
              <span class="d-block nhsuk-u-font-weight-bold">Document</span>
              <a routerLink="/{{ selfUser.urlBasePath }}/innovations/{{ innovation.id }}/documents/{{ message.file.id }}"> {{ message.file.name }} </a>
            </p>

            <div *ngIf="message.showEditMessageLink" class="nhsuk-body-s nhsuk-u-margin-bottom-0">
              <a routerLink="/{{ selfUser.urlBasePath }}/innovations/{{ innovation.id }}/threads/{{ threadInfo?.id }}/messages/{{ message.id }}">
              Edit this message
              </a>
            </div>

          </div>
          <div class="nhsuk-u-padding-bottom-4">
            <theme-pagination [currentPage]="messagesList.page" [pageSize]="messagesList.pageSize" [totalRows]="messagesList.getTotalRowsNumber()" (updatePageEvent)="onPageChange($event)"></theme-pagination>
          </div>
        </ng-container>

      </div>

    </div>
  </div>

</theme-content-wrapper>
