<theme-content-wrapper [status]="pageStatus">

  <div *ngIf="isNotInnovator() && !innovation.owner.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p> Please note that the innovator {{ innovation.owner.name }} is currently locked. </p>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <ng-container *ngIf="stores.authentication.isAdminRole() === false && innovation.status !== 'PAUSED'">

        <p *ngIf="isInnovator()">Messages is your space to ask support questions and discuss your innovation with the organisations that are supporting you.</p>
        <p *ngIf="isNotInnovator()">Messages is the space to engage in conversations with the innovator and with other organisations supporting this innovation.</p>

        <p>
          Your messages can be seen by everyone who has access to this innovation.
          <a [routerLink]="stores.authentication.isAccessorType() ? '../support/organisations' : '../support'" target="_blank" rel="noopener noreferrer">
            View a list of this innovation's data sharing preferences (opens in new window).
          </a>
        </p>

        <button class="nhsuk-button" [disabled]="!isInnovationSubmitted()" routerLink="new"> Start a new conversation </button>
        <p *ngIf="!isInnovationSubmitted()">You must submit your innovation record before you can start a new conversation.</p>

      </ng-container>

      <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Showing {{ tableList.getVisibleRowsNumber() }} conversations of {{ tableList.getTotalRowsNumber() }}</p>

      <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" />

      <p *ngIf="tableList.getTotalRowsNumber() === 0" class="nhsuk-u-padding-top-4">There are no conversations.</p>

      <div *ngIf="tableList.getTotalRowsNumber() > 0" class="bg-color-white">
        <table class="nhsuk-table-responsive app-sortable-table app-table-inside-card">
          <caption class="nhsuk-u-visually-hidden">
            Conversations list
            <span *ngIf="tableList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of tableList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of tableList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel('subject') }}</span>
                <div>
                  <a routerLink="{{ item.id }}" attr.aria-label="View {{ item.subject }} conversation"> {{ item.subject }} </a>
                  <theme-notification-tag label="dot" *ngIf="item.isNew"></theme-notification-tag>
                </div>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel('messageCount') }}</span>
                {{ item.messageCount }} messages
              </td>
              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel('createdAt') }}</span>

                <p class="nhsuk-body-s nhsuk-u-margin-0">{{ item.lastMessage.createdAt | date: ('app.date_formats.short_date_time' | translate) }}</p>
                <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">

                  <ng-container *ngIf="item.lastMessage.createdBy.id === selfUser.id && item.lastMessage.createdBy.organisationUnit?.id === selfUser.organisationUnitId; else notSelfUser">
                    {{ item.lastMessage.createdBy.name }} (Me)
                  </ng-container>

                  <ng-template #notSelfUser>
                    <ng-container [ngSwitch]="item.lastMessage.createdBy.type">
                      <ng-container *ngSwitchCase="'ASSESSMENT'">
                        {{ item.lastMessage.createdBy.name }} (Needs Assessor)
                      </ng-container>
                      <ng-container *ngSwitchCase="'ACCESSOR'">
                        {{ item.lastMessage.createdBy.name }}, {{ item.lastMessage.createdBy.organisationUnit?.acronym }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'QUALIFYING_ACCESSOR'">
                        {{ item.lastMessage.createdBy.name }}, {{ item.lastMessage.createdBy.organisationUnit?.acronym }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'INNOVATOR'">
                        {{ item.lastMessage.createdBy.name }} ({{ item.lastMessage.createdBy.isOwner ? 'Owner' : 'Collaborator' }})
                      </ng-container>
                    </ng-container>
                  </ng-template>

                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="nhsuk-u-padding-bottom-4">
        <theme-pagination [currentPage]="tableList.page" [pageSize]="tableList.pageSize" [totalRows]="tableList.getTotalRowsNumber()" (updatePageEvent)="onPageChange($event)"></theme-pagination>
      </div>

    </div>
  </div>

</theme-content-wrapper>
