<theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
  <p> {{ alert.message }} </p>
</theme-alert>

<div class="nhsuk-back-link">
  <a routerLink="/admin/terms-conditions" class="nhsuk-back-link__link">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>

<theme-page-title [title]="pageTitle"></theme-page-title>

<theme-spinner *ngIf="pageStatus === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

<div aria-live="polite" *ngIf="pageStatus === 'READY'">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <theme-form-input controlName="name" description="Enter the name of terms of use with a maximum of 500 characters" label="What should we call your terms and conditions version?" [pageUniqueField]="false"></theme-form-input>
        <theme-form-radio-group controlName="touType" [items]="typeItems" label="Which users do this terms and conditions relate to?" [pageUniqueField]="false"></theme-form-radio-group>
        <theme-form-textarea controlName="summary" label="What are the key changes in this version?" description="Summaries changes" [pageUniqueField]="false" lengthLimit="large"></theme-form-textarea>
        <div>
          <p>If you would like to show this summary of changes to the selected users of this service, tick the checkbox below. If not, your changes will be saved but not shared.</p>
          <div *ngIf="form.value.notifyUser" class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Notify all users
              </span>
            </h3>
            <p>You have selected you would like to send this summary to all relevant users. Uncheck this box if you do not want to do this.</p>
          </div>
        </div>
        <theme-form-checkbox controlName="notifyUser" label="Yes, notify all relevant Innovation Service users"></theme-form-checkbox>
        <button  type="submit" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3" >{{ (form.value.notifyUser) ? 'Save and send out changes to users' : 'Save update' }}</button>
      </form>

    </div>
  </div>
</div>
