<ng-container *ngIf="!isAdmin">
  <theme-header
    id="theme-header"
    [showUserInformation]="true"
    [showSignOut]="true"
    [menuBarItems]="header.menuBarItems"
    [notifications]="headerNotifications()"
  />
</ng-container>
<ng-container *ngIf="isAdmin">
  <theme-header-admin
    id="theme-header"
    [showUserInformation]="true"
    [showSignOut]="true"
    [leftMenuBarItems]="adminHeader.menuBarItems.left"
    [rightMenuBarItems]="adminHeader.menuBarItems.right"
    [notifications]="headerNotifications()"
  />
</ng-container>

<theme-header-breadcrumbs-bar id="theme-breadcrumbs-bar"></theme-header-breadcrumbs-bar>

<div class="nhsuk-width-container-fluid app-width-container-fluid overflow-x-hidden" [ngClass]="routeLayoutInfo.backgroundColor">
  <main id="maincontent" role="main" class="nhsuk-main-wrapper nhsuk-u-padding-0">
    <div class="nhsuk-width-container app-width-container">
      <router-outlet *ngIf="routeLayoutInfo.type !== 'journey'" name="page-context-outlet"></router-outlet>

      <ng-container [ngSwitch]="routeLayoutInfo.type">
        <ng-container *ngSwitchCase="'1.third-2.thirds'">
          <ng-container *ngTemplateOutlet="leftAsideMenu"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'full'">
          <ng-container *ngTemplateOutlet="fullLayout"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'journey'">
          <ng-container *ngTemplateOutlet="fullLayout"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </main>
</div>

<theme-footer></theme-footer>

<!-- TECHDEBT: Great candidate to use signal inputs -->
<ng-template #fullLayout>
  <div *ngIf="ctx.layout.backLink() as backLink" class="nhsuk-u-padding-top-4 nhsuk-u-margin-bottom-0">
    <a href="javascript:void(0)" (click)="onBackLinkClicked()" class="nhsuk-back-link cursor-pointer">
      {{ backLink.label }} <span class="nhsuk-u-visually-hidden">{{ backLink.hiddenLabel }}</span>
    </a>
  </div>

  <theme-alert
    *ngIf="ctx.layout.alert() as alert"
    [type]="alert.type"
    [title]="alert.title"
    [listStyleType]="alert.listStyleType"
    [itemsList]="alert.itemsList"
    [width]="alert.width"
    [setFocus]="alert.setFocus"
    class="d-block nhsuk-u-padding-top-4"
  >
    <p>{{ alert.message }}</p>
  </theme-alert>

  <div class="nhsuk-u-padding-top-5 nhsuk-u-padding-bottom-5">
    <div *ngIf="ctx.layout.title() as title" class="nhsuk-grid-row">
      <div [class.nhsuk-grid-column-full]="title.width === 'full'" [class.nhsuk-grid-column-two-thirds]="title.width === '2.thirds'">
        <theme-page-title [title]="title.main" [titleHint]="title.secondary" [size]="title.size" [actions]="title.actions"></theme-page-title>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</ng-template>

<ng-template #leftAsideMenu>
  <div class="nhsuk-grid-row nhsuk-u-padding-top-5 nhsuk-u-padding-bottom-5">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          <nav id="left-aside-menu" class="app-side-nav" role="navigation" aria-label="Main Navigation">
            <div *ngIf="ctx.layout.backLink() as backLink" class="app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-3">
              <a href="javascript:void(0)" (click)="onBackLinkClicked()" class="nhsuk-back-link cursor-pointer nhsuk-u-margin-top-0">
                {{ backLink.label }} <span class="nhsuk-u-visually-hidden">{{ backLink.hiddenLabel }}</span>
              </a>
            </div>

            <router-outlet name="page-sidebar-outlet"></router-outlet>
          </nav>
        </div>

        <div class="app-pane__main-content">
          <theme-alert
            *ngIf="ctx.layout.alert() as alert"
            [type]="alert.type"
            [title]="alert.title"
            [listStyleType]="alert.listStyleType"
            [itemsList]="alert.itemsList"
            [width]="alert.width"
            [setFocus]="alert.setFocus"
          >
            <p>{{ alert.message }}</p>
          </theme-alert>

          <!-- <div class="nhsuk-u-padding-top-5 nhsuk-u-padding-bottom-5"> -->

          <div *ngIf="ctx.layout.title() as title" class="nhsuk-grid-row">
            <div [class.nhsuk-grid-column-full]="title.width === 'full'" [class.nhsuk-grid-column-two-thirds]="title.width === '2.thirds'">
              <theme-page-title [title]="title.main" [titleHint]="title.secondary" [size]="title.size" [actions]="title.actions"></theme-page-title>
            </div>
          </div>

          <router-outlet></router-outlet>

          <!-- </div> -->

          <div class="nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-5 app-u-hide-desktop">
            <nav class="app-side-nav" role="navigation" aria-label="Main Navigation">
              <router-outlet name="page-sidebar-mobile-outlet"></router-outlet>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
