.app-task-list__no-margin {
  margin-left: 0px;
  padding-right: 10px;
}

.app-link_normal {
  font-weight: 100;
  font-size: medium;
}

.app-table-cell_padding-bottom-10 {
  padding-bottom: 10px;
}

.cell-text-align-right {
  text-align: right;
}

.cell-items-align-right {
  float: right;
}