<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <app-organisation-suggestions-card [suggestions]="organisationSuggestions" [shares]="shares"></app-organisation-suggestions-card>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p> Sharing your data with an organisation means that they can view your innovation and initiate contact. It doesn't guarantee a response. </p>
      </div>

      <ul class="nhsuk-list">
        <li><a [href]="organisationInfoUrl" target="_blank" rel="noopener noreferrer">What does each organisation do? (opens in a new window) </a></li>
        <li><a routerLink="/innovator/innovations/{{ innovationId }}/support/statuses" arial-label="View support status keys information"> Support status key </a></li>
      </ul>

      <div class="nhsuk-u-padding-bottom-5">

        <div class="d-flex nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
          <div> Organisation </div>
          <div class="ml-auto"> Support status </div>
        </div>

        <dl class="nhsuk-u-margin-0">
          <ng-container *ngFor="let organisation of organisations">

            <div class="d-flex nhsuk-body-m nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3" [ngClass]="{'bottom-border-separator': organisation.showHideStatus !== 'opened'}">
              <dt class="d-flex nhsuk-u-font-weight-normal">
                <ng-container *ngTemplateOutlet="icon; context: { shared: organisation.shared }"></ng-container>
                <div>{{ organisation.info.name }}</div>
              </dt>
              <dd class="ml-auto">
                <span *ngIf="!organisation.shared">Not shared</span>
                <a *ngIf="organisation.shared && !organisation.info.status" href="javascript:void(0)" (click)="onShowHideClicked(organisation.info.id)">
                  {{ organisation.showHideText }} <span class="nhsuk-u-visually-hidden"> {{ organisation.showHideDescription }} </span>
                </a>
                <strong *ngIf="organisation.shared && organisation.info.status" class="nhsuk-tag" [ngClass]="innovationSupportStatus[organisation.info.status].cssClass">{{ innovationSupportStatus[organisation.info.status].label }}</strong>
                <span *ngIf="organisation.shared && organisation.info.status" class="nhsuk-u-visually-hidden">Organisation unit with support status
                  {{ innovationSupportStatus[organisation.info.status].label.toLowerCase() }}</span>
              </dd>
            </div>

            <ng-container *ngIf="organisation.showHideStatus === 'opened'">
              <dl class="nhsuk-u-margin-0">
                <div *ngFor="let organisationUnit of organisation.info.organisationUnits; let i = index;" class="nhsuk-body-m nhsuk-u-padding-left-4 nhsuk-u-margin-0 border-left-inset-neutral">
                  <div class="d-flex bottom-border-separator nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3" [ngClass]="{'top-border-separator': i === 0}">
                    <dt class="">{{ organisationUnit.name }}</dt>
                    <dd class="ml-auto">
                      <strong class="nhsuk-tag ml-auto" [ngClass]="innovationSupportStatus[organisationUnit.status].cssClass">{{ innovationSupportStatus[organisationUnit.status].label }}</strong>
                      <span class="nhsuk-u-visually-hidden">Organisation unit with support status {{ innovationSupportStatus[organisationUnit.status].label.toLowerCase() }}</span>
                    </dd>
                  </div>
                </div>
              </dl>
            </ng-container>

          </ng-container>
        </dl>

      </div>

      <button routerLink="/innovator/innovations/{{ innovationId }}/support/edit" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">Change preferences</button>

    </div>
  </div>

</theme-content-wrapper>


<ng-template #icon let-shared="shared">
  <theme-svg-icon *ngIf="!shared" type="error" class="nhsuk-u-margin-right-2" style="height: 25px"></theme-svg-icon>
  <theme-svg-icon *ngIf="shared" type="success" class="nhsuk-u-margin-right-2" style="height: 25px"></theme-svg-icon>
</ng-template>
