  <h1> Data sharing and support </h1>

  <ng-container *ngIf="summaryAlert.type">
    <div class="nhsuk-grid-row nhsuk-u-padding-top-3">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-error-summary" [ngClass]="{'border-color-success': summaryAlert.type === 'success', 'border-color-warning': summaryAlert.type === 'warning'}" aria-labelledby="alert-summary-title" role="alert"
          tabindex="-1">
          <h2 class="nhsuk-error-summary__title" id="alert-summary-title">{{ summaryAlert.title }}</h2>
          <div class="nhsuk-error-summary__body" [innerHTML]="summaryAlert.message"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


      <table class="nhsuk-table-responsive app-sortable-table" aria-describedby="Data sharing and support list">
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col">
              Organisation
              <br />
              <a href="{{ organisationInfoUrl }}" class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-normal" target="_blank" rel="noopener noreferrer">
                What does each organisation do? (opens in new window)
              </a>
            </th>
            <th scope="col" class="text-align-right">
              Support status
              <br />
              <a routerLink="/innovator/innovations/{{innovationId}}/data-sharing/statuses" class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-normal">
                Status key
              </a>
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr *ngFor="let item of organisations" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-padding-bottom-2">
              <span class="nhsuk-table-responsive__heading"> Organisation </span>
              <span class="d-flex">
                <ng-container *ngTemplateOutlet="icon; context: { status: item }"></ng-container>
                <span> {{ item.name }} </span>
              </span>
            </td>
            <td class="nhsuk-table__cell text-align-right">
              <span class="nhsuk-table-responsive__heading"> Support status </span>
              <strong *ngIf="item.shared" class="nhsuk-tag" [ngClass]="innovationSupportStatus[item.status].cssClass">{{ innovationSupportStatus[item.status].label }}</strong>
            </td>
          </tr>

        </tbody>

      </table>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <button routerLink="/innovator/innovations/{{ innovationId }}/data-sharing/edit" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3">Change preferences</button>
    </div>
  </div>


  <ng-template #icon let-status="status">
    <theme-svg-icon *ngIf="!status.shared" type="error" class="nhsuk-u-margin-right-2"></theme-svg-icon>
    <theme-svg-icon *ngIf="status.shared" type="success" class="nhsuk-u-margin-right-2"></theme-svg-icon>
  </ng-template>
