<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>The {{ organisation().name }} is now supporting innovations through the NHS Innovation Service.</p>

      @if (organisation().summary) {
        <p class="text-pre-wrap">{{ organisation().summary }}</p>
      }

      @if (organisation().website) {
        <p>
          Visit the <a [href]="organisation().website" target="_blank">{{ organisation().name }} website</a> for more information.
        </p>
      }

      <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>To share your innovations with the {{ organisation().name }} you can either:</p>
        <ul>
          <li>Share your submitted innovations at the bottom of this page.</li>
          <li>Update your preferences later via the 'Data Sharing Preferences' page for each innovation.</li>
        </ul>
      </div>

      <p>Sharing your data with an organisation means that they can view your innovation and initiate contact. It doesn’t guarantee a response</p>

      <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3" (click)="onSubmit()">Share all submitted innovations</button>
      <div><a routerLink="/innovator/dashboard">Go to Home</a></div>
    </div>
  </div>
</theme-content-wrapper>
