<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row" *ngIf="task">
    <div class="nhsuk-grid-column-two-thirds">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Status</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">
            <theme-tag
              type="{{ 'shared.catalog.innovation.task_status.' + task.status + '.cssColorClass' | translate }}"
              label="{{ 'shared.catalog.innovation.task_status.' + task.status + '.name' | translate }}"
            ></theme-tag>
            <a
              routerLink="/{{ stores.authentication.userUrlBasePath() }}/innovations/{{ innovationId }}/tasks/statuses"
              class="float-r"
              arial-label="View task status keys information"
            >
              What does this mean?
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Last update</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">
            <p>
              {{ task.updatedAt | date: ("app.date_formats.long_date" | translate) }}
              <span>by {{ task.updatedBy.name }}, {{ task.updatedBy.displayTag }}</span>
            </p>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Assigned on</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">{{ task.createdAt | date: ("app.date_formats.long_date" | translate) }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Assigned by</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">
            <span>{{ task.createdBy.name }}, {{ task.createdBy.displayTag }}</span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Section</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3">
            <a routerLink="/{{ userUrlBase }}/innovations/{{ innovationId }}/record/sections/{{ task.section }}">
              {{ sectionTitle }}
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key nhsuk-u-padding-3">Description</dt>
          <dd class="nhsuk-summary-list__value nhsuk-u-padding-3 textarea-info-section">
            <ul class="nhsuk-list">
              <li *ngFor="let description of task.descriptions" class="nhsuk-u-margin-bottom-3">
                <span class="nhsuk-u-font-size-14 font-color-secondary nhsuk-u-margin-bottom-0"
                  >{{ description.createdAt | date: ("app.date_formats.long_date" | translate) }} by {{ description.name }}, {{ description.displayTag }}</span
                >
                <p class="nhsuk-u-margin-bottom-0">{{ description.description }}</p>
              </li>
            </ul>
          </dd>
        </div>
      </dl>

      <ng-container *ngIf="sectionId && tasksIds.length > 1">
        <nav class="nhsuk-pagination nhsuk-u-margin-top-3" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous" *ngIf="taskNumber > 0">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev cursor-pointer" (click)="handlePagination('previous')">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Requested task</span>
                <theme-svg-icon type="arrow-left" />
              </a>
            </li>
            <li class="nhsuk-pagination-item--next" *ngIf="taskNumber < tasksIds.length - 1">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next cursor-pointer" (click)="handlePagination('next')">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Requested task</span>
                <theme-svg-icon type="arrow-right" />
              </a>
            </li>
          </ul>
        </nav>
      </ng-container>
    </div>

    <div class="nhsuk-grid-column-one-third" *ngIf="!isAdmin">
      <div class="nhsuk-card x-card-top-border">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">What you can do</h2>
          <ng-container *ngIf="isInnovatorType">
            <ul class="nhsuk-list">
              <li>
                <a
                  *ngIf="task.status === 'OPEN'"
                  routerLink="/innovator/innovations/{{ innovationId }}/tasks/{{ task.id }}/accept"
                  class="nhsuk-button nhsuk-u-margin-right-3 nhsuk-u-margin-bottom-3"
                >
                  Mark task as done
                </a>
                <a
                  *ngIf="task.status === 'OPEN'"
                  routerLink="/innovator/innovations/{{ innovationId }}/tasks/{{ task.id }}/decline"
                  class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3"
                >
                  Decline task
                </a>
              </li>
              <li class="nhsuk-u-margin-bottom-4">
                <a routerLink="/{{ userUrlBase }}/innovations/{{ innovationId }}/threads/{{ task.threadId }}">
                  View messages about this task<ng-container *ngIf="canSendMessage"> and send a reply</ng-container></a
                >
              </li>
              <li *ngIf="task.status === 'OPEN'">
                <a routerLink="/innovator/innovations/{{ innovationId }}/record/sections/{{ task.section }}">Go to section to complete this task</a>
              </li>
              <li *ngIf="!isArchived && task.status !== 'OPEN'">
                <a routerLink="/innovator/innovations/{{ innovationId }}/record/sections/{{ task.section }}">Go to section to review</a>
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="isAccessorType || isAssessmentType">
            <ul class="nhsuk-list">
              <li>
                <a
                  *ngIf="canReopen"
                  routerLink="/{{ userUrlBase }}/innovations/{{ innovationId }}/tasks/{{ task.id }}/reopen"
                  class="nhsuk-button nhsuk-u-margin-right-3 nhsuk-u-margin-bottom-3"
                >
                  Reopen task
                </a>
              </li>
              <li>
                <a
                  *ngIf="canCancel"
                  routerLink="/{{ userUrlBase }}/innovations/{{ innovationId }}/tasks/{{ task.id }}/cancel"
                  class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3"
                >
                  Cancel task
                </a>
              </li>
              <li class="nhsuk-u-margin-bottom-4">
                <a routerLink="/{{ userUrlBase }}/innovations/{{ innovationId }}/threads/{{ task.threadId }}"
                  >View messages about this task<ng-container *ngIf="canSendMessage"> and send a reply</ng-container></a
                >
              </li>
              <li *ngIf="!isArchived && task.status === 'DONE'">
                <a routerLink="/{{ userUrlBase }}/innovations/{{ innovationId }}/record/sections/{{ task.section }}">Go to section to review</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</theme-content-wrapper>
