<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <form [formGroup]="form">
        <theme-form-input label="Search list by needs assessor name" placeholder="Search" controlName="search" [pageUniqueField]="false">
          <ng-container append>
            <button type="button" (click)="onSearchClick()" class="nhsuk-search__submit form-input-appended-button-search" id="search-btn">
              <theme-svg-icon type="search" />
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </ng-container>
        </theme-form-input>
      </form>
    </div>

    <div class="nhsuk-grid-column-full">
      <div class="d-flex align-items-center justify-content-space-between nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
        <h2 role="alert" class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0">Showing {{ needsAssessorList.getTotalRowsNumber() }} innovations</h2>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--visible" />

      <ng-container *ngIf="pageStatus() === 'READY' && needsAssessorList.getTotalRowsNumber() === 0">
        <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
      </ng-container>

      <ng-container *ngIf="pageStatus() === 'READY' && needsAssessorList.getTotalRowsNumber() > 0">
        <table *ngIf="pageStatus() === 'READY' && needsAssessorList.getTotalRowsNumber() > 0" class="nhsuk-table-responsive app-sortable-table">
          <caption class="nhsuk-u-visually-hidden">
            Needs Assessor and associated innovations list
            <span *ngIf="needsAssessorList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of needsAssessorList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                <button [id]="item.key" *ngIf="item.orderable" type="button">
                  {{ item.label }}
                  <span aria-hidden="true"></span>
                </button>
              </th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of needsAssessorList.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ needsAssessorList.getColumnLabel("innovation") }}</span>
                <ul class="nhsuk-list">
                  <li >
                    <a class="text-word-break" routerLink="/assessment/innovations/{{ item.innovationId }}" attr.aria-label="View {{ item.innovationId }} innovation">{{ item.assignedInnovation }}</a>
                  </li>
                </ul>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ needsAssessorList.getColumnLabel("needsAssesmentVersion") }}</span>
                {{ item.needsAssessmentVersion }}
              </td>
              <td class="nhsuk-table__cell width-30">
                <span class="nhsuk-table-responsive__heading">{{ needsAssessorList.getColumnLabel("needsAssesmentUser") }}</span>
                <span class="d-block text-word-break">{{ item.needsAssessorUserName }}</span>
              </td>
              
            </tr>
          </tbody>
        </table>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination
            [currentPage]="needsAssessorList.page"
            [pageSize]="needsAssessorList.pageSize"
            [totalRows]="needsAssessorList.getTotalRowsNumber()"
            (updatePageEvent)="onPageChange($event)"
          ></theme-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
