<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-u-margin-bottom-2">When you archive an innovation:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>all support on your innovation will end</li>
        <li>all open tasks will be cancelled</li>
        <li>you cannot send or reply to messages</li>
        <li>you can view your previous tasks, messages and documents</li>
        <li>previous organisations that have supported you will see an archived copy of your innovation</li>
        <li>you and your collaborators can continue to edit and update your innovation record</li>
        <li>your updates cannot be viewed by your previous support organisations</li>
      </ul>

      <div class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you want support on your innovation in future, you can submit your record for a needs reassessment.</p>
      </div>

      <a class="nhsuk-action-link__link" routerLink="request">
        <theme-svg-icon type="arrow-right-circle"></theme-svg-icon>
        <span class="nhsuk-action-link__text">Archive this innovation</span>
      </a>
    </div>
  </div>
</theme-content-wrapper>
