<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>You can invite others to collaborate on your innovation.</p>

      <details class="nhsuk-details nhsuk-u-margin-bottom-5">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">What can collaborators do?</span>
        </summary>
        <div class="nhsuk-details__text">
          <p class="nhsuk-u-margin-0">Collaborators can:</p>
          <ul>
            <li>access and edit your innovation record</li>
            <li>share your innovation record with the needs assessment team</li>
            <li>read and reply to all messages</li>
            <li>change your sharing settings with support organisations</li>
          </ul>
          <p class="nhsuk-u-margin-0">Collaborators cannot:</p>
          <ul>
            <li>change who owns the innovation</li>
            <li>manage collaborators</li>
            <li>archive the innovation</li>
          </ul>
        </div>
      </details>

      <div class="nhsuk-action-link">
        <a routerLink="new" class="nhsuk-action-link__link">
          <theme-svg-icon type="arrow-right-circle" />
          <span class="nhsuk-action-link__text">Invite a new collaborator</span>
        </a>
      </div>
    </div>

    <div *ngIf="activeCollaborators.getTotalRowsNumber() > 0" class="nhsuk-grid-column-full">
      <h2>{{ innovation.name }} innovators and collaborators</h2>
      <table class="nhsuk-table-responsive app-sortable-table nhsuk-u-padding-bottom-5">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
          {{
            innovation.name
          }}
          innovators and collaborators
        </caption>
        <thead class="nhsuk-table__head">
          <tr>
            <th *ngFor="let item of activeCollaborators.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
              <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr *ngFor="let item of activeCollaborators.getRecords()" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">{{ activeCollaborators.getColumnLabel("user") }}</span>
              <span>{{ item.name }}</span>
            </td>
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">{{ activeCollaborators.getColumnLabel("role") }}</span>
              {{ item.role }}
            </td>
            <td class="nhsuk-table__cell text-align-right">
              <span class="nhsuk-table-responsive__heading">{{ activeCollaborators.getColumnLabel("actions") }} </span>
              <a *ngIf="item.action" [routerLink]="item.action.url">{{ item.action.label }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="historyCollaborators.getTotalRowsNumber() > 0" class="nhsuk-grid-column-full nhsuk-u-padding-top-5">
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">Previous collaborators</span>
        </summary>
        <table class="nhsuk-table-responsive app-sortable-table nhsuk-u-padding-bottom-5">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
            Previous collaborators
          </caption>
          <thead class="nhsuk-table__head">
            <tr>
              <th *ngFor="let item of historyCollaborators.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let item of historyCollaborators.getRecords()" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ historyCollaborators.getColumnLabel("user") }}</span>
                <span>{{ item.name }}</span>
              </td>
              <td class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">{{ historyCollaborators.getColumnLabel("role") }}</span>
                {{ item.role }}
              </td>
              <td class="nhsuk-table__cell text-align-right">
                <span class="nhsuk-table-responsive__heading">{{ historyCollaborators.getColumnLabel("actions") }} </span>
                <a *ngIf="item.action" [routerLink]="item.action.url">{{ item.action.label }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </details>
    </div>
  </div>
</theme-content-wrapper>
