<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <p>Custom notifications are specific to each innovation. To edit, delete or create new custom notifications go to the innovation.</p>

      <details [attr.open]="subscriptionsList.length === 0 ? '' : null" class="nhsuk-details nhsuk-u-margin-bottom-7">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">Types of custom notifications you can create</span>
        </summary>
        <div class="nhsuk-details__text">
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0">Notify me when:</p>
          <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-left-2">
            <li>an organisation updates their support status</li>
            <li>an organisation adds a progress update to the support summary</li>
            <li>an innovator updates their innovation record</li>
            <!--  <li>a new document is uploaded</li> -->
          </ul>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0">Remind me:</p>
          <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-left-2">
            <li>about an innovation on a date in future. For example, when a new funding round is released</li>
          </ul>
        </div>
      </details>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
    <div class="nhsuk-grid-column-three-quarters">
      <ng-container *ngIf="subscriptionsList.length === 0; else hasSubscriptions">
        <p class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">You have no custom notifications</p>
      </ng-container>

      <ng-template #hasSubscriptions>
        <h3>Your custom notifications</h3>

        <div class="d-flex nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator" *ngFor="let subscription of subscriptionsList">
          <div class="width-45 text-word-break nhsuk-u-padding-right-7">{{ subscription.name }}</div>
          <div class="width-40 font-color-secondary">{{ subscription.count }} active {{ "dictionary.notification" | pluralTranslate: subscription.count | translate }}</div>
          <div class="width-15 text-align-right">
            <a routerLink="/accessor/innovations/{{ subscription.innovationId }}/custom-notifications"> View<span class="nhsuk-u-visually-hidden"> notification</span> </a>
          </div>
        </div>

        <div class="nhsuk-u-font-size-19 nhsuk-u-margin-top-6">
          <a routerLink="delete">Delete notifications</a>
        </div>
      </ng-template>
    </div>
  </div>
</theme-content-wrapper>
