<theme-content-wrapper [status]="pageStatus">

  <div *ngIf="!innovation.owner.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p> Please note that the innovator {{ innovation.owner.name }} is currently locked. </p>
  </div>

  <p class="nhsuk-heading-s nhsuk-u-margin-bottom-2">{{ innovationSupport.organisationUnit }}</p>
  <hr class="nhsuk-section-break nhsuk-section-break--visible" />
  <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-3">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Support status</dt>
      <dd class="nhsuk-summary-list__value">
        <theme-tag type="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.name' | translate }}"></theme-tag>
      </dd>
    </div>
  </dl>

  <a *ngIf="isQualifyingAccessorRole" routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id || 'new' }}" class="nhsuk-button nhsuk-u-margin-bottom-7"> Update status </a>

  <app-statistics-cards [cardsList]="cardsList" [gridClass]="'nhsuk-grid-column-one-half'" *ngIf="showCards"></app-statistics-cards>

  <div class="full-width-section bg-color-white">
    <h2 class="nhsuk-heading-l nhsuk-u-margin-top-9">Innovation summary</h2>
    <p class="nhsuk-u-font-size-18" *ngIf="innovation.assessment?.id"><a routerLink="/accessor/innovations/{{innovation.id}}/assessments/{{innovation.assessment?.id}}">View needs assessment</a> to better understand what kind of support this innovation needs.</p>
    <dl class="nhsuk-summary-list">
      <div *ngFor="let item of innovationSummary" class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
        <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
      </div>
    </dl>
  </div>
 

</theme-content-wrapper>
