<theme-content-wrapper [status]="pageStatus">

  <div *ngIf="!innovation.owner.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p> Please note that the innovator {{ innovation.owner.name }} is currently locked. </p>
  </div>

  <p class="nhsuk-heading-s nhsuk-u-margin-bottom-2">{{ innovationSupport.organisationUnit }}</p>
  <hr class="nhsuk-section-break nhsuk-section-break--visible" />
  <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-3">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Support status</dt>
      <dd class="nhsuk-summary-list__value">
        <theme-tag type="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.name' | translate }}"></theme-tag>
      </dd>
    </div>
  </dl>

  <a *ngIf="isQualifyingAccessorRole" routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id || 'new' }}" class="nhsuk-button nhsuk-u-margin-bottom-7"> Update status </a>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li *ngFor="let item of cardsList" class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a routerLink="{{ item.link }}" class="nhsuk-card__link">
              <span class="nhsuk-u-visually-hidden"> Go to </span> {{ item.title }}
            </a>
          </h2>
          <ng-container *ngIf="item.count!== 0; else noSectionsToSubmit">
            <p class="d-flex nhsuk-u-font-size-18 nhsuk-u-font-weight-bold align-items-baseline">
              <span class="nhsuk-u-font-size-48">{{ item.count }}</span>
              <ng-container *ngIf="item.total">
                <span class="nhsuk-u-padding-1">of</span>
                <span class="mr-auto">{{ item.total }}</span>
              </ng-container>
              <span class="nhsuk-u-font-size-16 nhsuk-u-font-weight-normal align-self-self-end nhsuk-u-padding-left-4">
                {{ item.label }}
              </span>
            </p>
          </ng-container>
          <ng-container *ngIf="item.date">
            <p class="nhsuk-u-font-size-16 font-color-secondary">
              {{ item.footer }} on {{ item.date | date: ('app.date_formats.medium_date' | translate) }}
            </p>
          </ng-container>
          <ng-template #noSectionsToSubmit>
            <p class="nhsuk-u-font-weight-normal">{{ item.emptyMessage }}</p>
          </ng-template>
        </div>
      </div>
    </li>
  </ul>


  <h2 class="nhsuk-heading-m">Innovation summary</h2>
  <p class="nhsuk-u-font-size-18" *ngIf="innovation.assessment?.id"><a routerLink="/accessor/innovations/{{innovation.id}}/assessments/{{innovation.assessment?.id}}">View needs assessment</a> to better understand what kind of support this innovation needs.</p>
  <dl class="nhsuk-summary-list">
    <div *ngFor="let item of innovationSummary" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
      <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
    </div>
  </dl>

</theme-content-wrapper>
