<theme-content-wrapper [status]="pageStatus">
  <div *ngIf="innovation.owner && !innovation.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"> <span class="nhsuk-u-visually-hidden">Important: </span> User Locked </span>
    </div>
    <p>Please note that the innovator {{ innovation.owner.name }} is currently locked.</p>
  </div>

  <app-suggestions-cards *ngIf="isQualifyingAccessorRole" [innovationId]="innovation.id" [innovationStatus]="innovation.status" [suggestions]="qaSuggestions" />

  <p class="nhsuk-heading-s nhsuk-u-margin-bottom-4">{{ innovationSupport.organisationUnit }}</p>
  <div class="nhsuk-u-margin-bottom-8">
    <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" [ngClass]="isArchived ? 'border-bottom-0 width-20' : 'border-bottom-neutral'">Support status</dt>
        <dd class="nhsuk-summary-list__value" [ngClass]="isArchived ? 'border-bottom-0' : 'border-bottom-neutral'">
          <theme-tag
            type="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.cssColorClass' | translate }}"
            label="{{ 'shared.catalog.innovation.support_status.' + innovationSupport.status + '.name' | translate }}"
          ></theme-tag>
        </dd>
        <dd *ngIf="isInProgress" class="nhsuk-summary-list__actions width-25">
          <a *ngIf="!showStartSupport" routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id }}">Change support status</a>
        </dd>
      </div>

      <div *ngIf="innovationSupport.engagingAccessors.length > 0 || innovationSupport.status === 'ENGAGING'" class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Assigned accessors</dt>
        <dd class="nhsuk-summary-list__value">
          <ul class="nhsuk-list nhsuk-u-margin-bottom-2">
            <li *ngFor="let accessor of innovationSupport.engagingAccessors">
              {{ accessor.name }}
            </li>
            <li *ngIf="innovationSupport.engagingAccessors.length === 0">No accessors assigned</li>
          </ul>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a
            *ngIf="isInProgress && isQualifyingAccessorRole && (innovationSupport.status === 'ENGAGING' || innovationSupport.status === 'WAITING')"
            routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id || 'new' }}/change-accessors"
            >Change accessors</a
          >
        </dd>
      </div>
    </dl>
    <ng-container *ngIf="isArchived">
      <p class="nhsuk-u-font-size-16">Archived by innovator on {{ innovation.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}.</p>
      <hr class="nhsuk-section-break nhsuk-section-break--visible" />
    </ng-container>
  </div>

  <a *ngIf="showStartSupport" routerLink="/accessor/innovations/{{ innovationId }}/support/new" class="nhsuk-button nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5">
    Start support
  </a>

  <div *ngIf="isInAssessment" class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information:</span>
    <p>{{ "features.accessor.cant_do_while_in_assessment" | translate }}</p>
  </div>

  <ng-container *ngIf="isAccessorRole && isInProgress">
    <a routerLink="/accessor/innovations/{{ innovationId }}/support/{{ innovation.support?.id }}/request-update" class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-3"
      >Request status update</a
    >

    <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-bottom-7">
      Request a status update to the qualifying accessor if you want to change the engaging support status to a more suitable one.
    </p>
  </ng-container>

  <app-statistics-cards [cardsList]="cardsList" [gridClass]="'nhsuk-grid-column-one-half'" *ngIf="showCards"></app-statistics-cards>

  <h2 class="nhsuk-heading-l nhsuk-u-margin-top-9">Innovation summary</h2>
  <p class="nhsuk-u-font-size-18" *ngIf="isInProgress && innovation.assessment?.id">
    <a routerLink="/accessor/innovations/{{ innovation.id }}/assessments/{{ innovation.assessment?.id }}">View needs assessment</a> to better understand what kind of support this
    innovation needs.
  </p>
  <dl class="nhsuk-summary-list">
    <div *ngFor="let item of innovationSummary" class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
      <dd class="nhsuk-summary-list__value text-pre-wrap" appHighlight [searchTerm]="search">{{ item.value }}</dd>
    </div>
  </dl>
  <app-key-progress-areas-card *ngIf="innovationProgress" [progressData]="innovationProgress" />

  <h2 class="nhsuk-heading-m">Innovator contact details</h2>
  <dl class="nhsuk-summary-list">
    <div *ngFor="let item of innovatorSummary" class="nhsuk-summary-list__row">
      <ng-container *ngIf="item.value !== ''">
        <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
        <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
      </ng-container>
    </div>
  </dl>

  <details class="nhsuk-details" *ngIf="innovationCollaborators.length > 0">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">Collaborators</span>
    </summary>
    <div class="nhsuk-details__text">
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Name</th>
            <th role="columnheader" class="" scope="col">Role</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <ng-container *ngFor="let collaborator of innovationCollaborators">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ collaborator.name }}</td>
              <td class="nhsuk-table__cell">{{ collaborator.role }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </details>
</theme-content-wrapper>
