<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <ng-container *ngIf="isAdminType">
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-0">Search innovation by name, company or email</h2>
      </ng-container>
      <ng-container *ngIf="isAccessorType">
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-0">Search innovation by name or company</h2>
      </ng-container>
      <form [formGroup]="form">
        <theme-form-input controlName="search" [pageUniqueField]="false">
          <ng-container append>
            <button type="button" (click)="onSearchClick()" class="nhsuk-button form-input-appended-button fill-white" style="padding: 4px 12px 0px 10px" aria-label="Search">
              <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true" focusable="false" height="24" width="24">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
            </button>
          </ng-container>
        </theme-form-input>
      </form>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <form [formGroup]="form">
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-0">Filter your search</h2>

        <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3" />

        <ng-container *ngFor="let filter of filters">
          <ng-container *ngIf="filter.active === true">
            <theme-collapsible-filter
              [title]="filter.title"
              description="{{ (form.get(filter.key)?.value || []).length }} selected"
              [preOpen]="filter.showHideStatus === 'opened'"
              [scrollable]="filter.scrollable"
            >
              <theme-form-checkbox-array [arrayName]="filter.key" [items]="datasets[filter.key]" size="small" [pageUniqueField]="false" />
            </theme-collapsible-filter>

            <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3" />
          </ng-container>
        </ng-container>

        <ng-container *ngIf="stores.authentication.userUrlBasePath() === 'accessor'">
          <theme-form-checkbox controlName="assignedToMe" label="Only show innovations assigned to me" size="small"></theme-form-checkbox>
          <theme-form-checkbox controlName="suggestedOnly" label="Only show suggested innovations" size="small"></theme-form-checkbox>
        </ng-container>
      </form>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <p class="nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-bold">{{ innovationsCount }} innovations</p>

      <dl class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1 nhsuk-u-padding-2 bg-color-grey">
        <dt *ngIf="!anyFilterSelected" class="nhsuk-u-font-size-16">No filter has been selected</dt>

        <ng-container *ngIf="anyFilterSelected">
          <ng-container *ngFor="let filter of filters">
            <div *ngIf="filter.selected.length > 0" class="d-flex align-items-center border-bottom-neutral">
              <dt class="width-15 nhsuk-u-font-size-16">{{ filter.title }}</dt>
              <dd class="width-75">
                <span *ngFor="let selected of filter.selected" class="d-inline-block bordered-item nhsuk-u-margin-1">
                  <a href="javascript:void(0)" (click)="onRemoveFilter(filter.key, selected.value)" attr.aria-label="Remove {{ selected.label }} from {{ filter.title }} filter">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" aria-hidden="true" focusable="false" height="20" width="20">
                      <path
                        d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
                      ></path>
                    </svg>
                  </a>
                  <span class="nhsuk-u-font-size-14">{{ selected.label }}</span>
                </span>
              </dd>
            </div>
          </ng-container>

          <dt *ngIf="form.get('assignedToMe')?.value" class="nhsuk-u-font-size-16 nhsuk-u-margin-top-2">Viewing innovations assigned to me</dt>

          <dt *ngIf="form.get('suggestedOnly')?.value" class="nhsuk-u-font-size-16 nhsuk-u-margin-top-2">Viewing suggested innovations</dt>
        </ng-container>
      </dl>

      <hr class="nhsuk-section-break nhsuk-section-break--visible" />

      <ng-container *ngIf="innovationCardsData.length === 0">
        <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
        <p class="nhsuk-u-margin-bottom-2">Improve your search results by:</p>
        <ul>
          <li>removing filters</li>
          <li>double-checking your spelling</li>
          <li>using fewer words</li>
          <li>searching for something less specific</li>
        </ul>
      </ng-container>

      <ng-container *ngIf="innovationCardsData.length > 0">
        <dl class="nhsuk-summary-list">
          <ng-container *ngFor="let item of innovationCardsData">
            <theme-advanced-search-innovation-card [innovationCardData]="item" />
          </ng-container>
        </dl>
      </ng-container>

      <div class="nhsuk-u-padding-bottom-4">
        <theme-pagination [currentPage]="pageNumber" [pageSize]="pageSize" [totalRows]="innovationsCount" (updatePageEvent)="onPageChange($event)"></theme-pagination>
      </div>
    </div>
  </div>
</theme-content-wrapper>
