<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-5">
    <ul class="nhsuk-list nhsuk-u-margin-0 nhsuk-u-font-weight-normal">
      <li>
        <a href="javascript:void(0);" routerLink="/{{ this.baseUrl }}/{{ innovationCardData.innovationId }}" class="nhsuk-u-font-weight-bold">{{
          innovationCardData.innovationName
        }}</a>
      </li>

      <li>
        <span
          >{{ innovationCardData.ownerName }}. {{ innovationCardData.countryName }}<span *ngIf="innovationCardData.postCode">, {{ innovationCardData.postCode }}</span
          >.
        </span>
        <p class="font-color-secondary">Submitted on {{ innovationCardData.submittedAt | date: ("app.date_formats.medium_date" | translate) }}</p>
      </li>

      <li>
        <span class="nhsuk-u-font-weight-bold">Categories: </span>
        <span *ngFor="let item of innovationCardData.categories">{{ item }}<span *ngIf="innovationCardData.categories.length > 1">. </span></span>
        <!-- <span *ngFor="let item of innovationCardData.mainCategory">{{ "shared.catalog.innovation.mainCategories." + item | translate }}. </span> -->
      </li>

      <li>
        <span class="nhsuk-u-font-weight-bold">Care settings: </span>
        <ng-container *ngIf="innovationCardData.careSettings.length > 0; else none">
          <span *ngFor="let item of innovationCardData.careSettings">{{ item }}<span *ngIf="innovationCardData.careSettings.length > 1">. </span></span>
          <!-- <span *ngFor="let item of innovationCardData.careSettings">{{ "shared.catalog.innovation.careSettingsItems." + item | translate }}. </span> -->
        </ng-container>
      </li>

      <li>
        <span class="nhsuk-u-font-weight-bold">Diseases and conditions: </span>
        <ng-container *ngIf="innovationCardData.diseasesAndConditions.length > 0; else none">
          <span *ngFor="let item of innovationCardData.diseasesAndConditions">{{ item }}. </span>
        </ng-container>
      </li>

      <ng-container *ngIf="isAdminType">
        <li>
          <span class="nhsuk-u-font-weight-bold">Health inequalities: </span>
          <ng-container *ngIf="innovationCardData.keyHealthInequalities.length > 0; else none">
            <span *ngFor="let item of innovationCardData.keyHealthInequalities">{{ item }}<span *ngIf="innovationCardData.keyHealthInequalities.length > 1">. </span></span>
          </ng-container>
        </li>

        <li>
          <span class="nhsuk-u-font-weight-bold">AAC involvement: </span>
          <ng-container *ngIf="innovationCardData.involvedAACProgrammes.length > 0; else none"></ng-container>
          <span *ngFor="let item of innovationCardData.involvedAACProgrammes">{{ item }}<span *ngIf="innovationCardData.involvedAACProgrammes.length > 1">. </span></span>
        </li>
      </ng-container>

      <li>
        <span class="nhsuk-u-font-weight-bold">Engaging units ({{ innovationCardData.engagingUnits.length }}): </span>
        <ng-container *ngIf="innovationCardData.engagingUnits.length > 0; else none">
          <ng-container *ngFor="let unit of innovationCardData.engagingUnits">
            <theme-tag [type]="'WHITE'" label="{{ unit }}" class="nhsuk-u-margin-left-1" />
          </ng-container>
        </ng-container>
      </li>

      <li *ngIf="isAccessorType">
        <span class="nhsuk-u-font-weight-bold">Support status: </span>
        <span class="nhsuk-u-font-weight-bold">
          <theme-tag
            type="{{ 'shared.catalog.innovation.support_status.' + innovationCardData.supportStatus.status + '.cssColorClass' | translate }}"
            label="{{ 'shared.catalog.innovation.support_status.' + innovationCardData.supportStatus.status + '.name' | translate }}"
        /></span>
        <span class="font-color-secondary"> Status updated on {{ innovationCardData.supportStatus.updatedAt | date: ("app.date_formats.medium_date" | translate) }}</span>
      </li>
      <li *ngIf="isAdminType">
        <span class="nhsuk-u-font-weight-bold">Innovation status: </span>
        <span class="nhsuk-u-font-weight-bold">
          <theme-tag
            type="{{ 'shared.catalog.innovation.grouped_status.' + innovationCardData.innovationStatus.status + '.cssColorClass' | translate }}"
            label="{{ 'shared.catalog.innovation.grouped_status.' + innovationCardData.innovationStatus.status + '.name' | translate }}"
        /></span>
        <span class="font-color-secondary"> Record last updated on {{ innovationCardData.innovationStatus.updatedAt | date: ("app.date_formats.medium_date" | translate) }}</span>
      </li>
      <ng-template #none>
        <span>None</span>
      </ng-template>
    </ul>
  </dt>
</div>
