<div class="nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-5">
  <ul class="nhsuk-list nhsuk-u-margin-0 nhsuk-u-font-weight-normal nhsuk-u-font-size-16">
    <li class="nhsuk-u-font-weight-bold nhsuk-u-font-size-19 nhsuk-u-margin-bottom-0">
      <ng-container *ngIf="innovationCardData.status === 'WITHDRAWN' || isAccessorTypeAndStoppedSharingInnovation; else innovationLink">
        <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ innovationCardData.name }}</span>
      </ng-container>
      <ng-template #innovationLink>
        <a href="javascript:void(0);" routerLink="/{{ this.baseUrl }}/{{ innovationCardData.id }}" appHighlight [searchTerm]="highlightInfo?.termsFound">
          {{ innovationCardData.name }}
        </a>
      </ng-template>
    </li>

    <li *ngIf="isInnovationInArchivedStatus" class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-19">
      Innovation archived on {{ innovationCardData.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}
    </li>

    @if (isAccessorTypeAndStoppedSharingInnovation) {
      <li class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-19">Innovation has stopped sharing their data with your organisation</li>
      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Innovation ID: </span>
        <span>{{ innovationCardData.uniqueId }}</span>
      </li>
    }

    <ng-container *ngIf="!isAccessorTypeAndStoppedSharingInnovation">
      <li class="nhsuk-u-margin-bottom-0" [ngClass]="{ 'nhsuk-u-margin-top-2': !isAccessorTypeAndArchivedInnovation }" appHighlight [searchTerm]="highlightInfo?.termsFound">
        {{ innovationCardData.owner }}.<ng-container *ngIf="innovationCardData.countryName">
          {{ innovationCardData.countryName }}<ng-container *ngIf="innovationCardData.postCode">, {{ innovationCardData.postCode }}</ng-container>
        </ng-container>
      </li>
      <li class="nhsuk-u-margin-bottom-1">
        <span *ngIf="innovationCardData.submittedAt" class="font-color-secondary">
          Submitted on {{ innovationCardData.submittedAt | date: ("app.date_formats.long_date" | translate) }}
        </span>
      </li>

      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Innovation ID: </span>
        <span>{{ innovationCardData.uniqueId }}</span>
      </li>

      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Categories: </span>
        <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ categoriesList }}</span>
      </li>


      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Relevant areas: </span>
        <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ areasList }}</span>
      </li>

      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Care settings: </span>
        <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ careSettingsList }}</span>
      </li>

      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Diseases and conditions: </span>
        <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ diseasesAndConditionsList }}</span>
      </li>

      <ng-container *ngIf="ctx.user.isAdmin()">
        <li class="nhsuk-u-margin-bottom-1">
          <span class="nhsuk-u-font-weight-bold">Health inequalities: </span>
          <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ keyHealthInequalitiesList }}</span>
        </li>

        <li class="nhsuk-u-margin-bottom-1">
          <span class="nhsuk-u-font-weight-bold">AAC involvement: </span>
          <span appHighlight [searchTerm]="highlightInfo?.termsFound">{{ involvedAACProgrammesList }}</span>
        </li>
      </ng-container>

      <li class="nhsuk-u-margin-bottom-1">
        <span class="nhsuk-u-font-weight-bold">Engaging organisations ({{ innovationCardData.engagingUnits.length }}): </span>
        <ng-container *ngIf="innovationCardData.engagingUnits.length > 0; else none">
          <ng-container *ngFor="let unit of innovationCardData.engagingUnits">
            <theme-tag [type]="'WHITE'" label="{{ unit }}" class="nhsuk-u-margin-left-1" />
          </ng-container>
        </ng-container>
      </li>
    </ng-container>

    <li *ngIf="ctx.user.isAccessorType()">
      <span class="nhsuk-u-font-weight-bold"
        >Support status:
        <theme-tag
          type="{{ 'shared.catalog.innovation.support_status.' + (innovationCardData.support?.status ?? 'UNASSIGNED') + '.cssColorClass' | translate }}"
          label="{{ 'shared.catalog.innovation.support_status.' + (innovationCardData.support?.status ?? 'UNASSIGNED') + '.name' | translate }}"
        />
      </span>
      <span *ngIf="innovationCardData.support?.updatedAt" class="font-color-secondary">
        Status updated on {{ innovationCardData.support?.updatedAt | date: ("app.date_formats.long_date" | translate) }}</span
      >
    </li>
    <li *ngIf="ctx.user.isAdmin() || ctx.user.isAssessment()">
      <span class="nhsuk-u-font-weight-bold"
        >Innovation status:
        <theme-tag
          type="{{ 'shared.catalog.innovation.grouped_status.' + innovationCardData.groupedStatus + '.cssColorClass' | translate }}"
          label="{{ 'shared.catalog.innovation.grouped_status.' + innovationCardData.groupedStatus + '.name' | translate }}"
        />
      </span>
      <span *ngIf="ctx.user.isAdmin() && innovationCardData.updatedAt" class="font-color-secondary">
        Record last updated on {{ innovationCardData.updatedAt | date: ("app.date_formats.long_date" | translate) }}</span
      >
      <span *ngIf="ctx.user.isAssessment() && innovationCardData.updatedAt" class="font-color-secondary">
        Status updated on {{ innovationCardData.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}</span
      >
    </li>

     <li *ngIf="(ctx.user.isAdmin() || ctx.user.isAccessorType()) && innovationCardData.assessment?.id">
      <span class="nhsuk-u-font-weight-bold"
        >Needs Assessment Date:
        <span *ngIf="innovationCardData.assessment?.needsAssessmentDate; else none">{{ innovationCardData.assessment?.needsAssessmentDate | date: ("app.date_formats.long_date" | translate) }}</span>
      </span>
      
    </li>

    <ng-container *ngIf="innovationCardData.highlights && highlightInfo && innovationCardData.status !== 'WITHDRAWN' && !isAccessorTypeAndStoppedSharingInnovation">
      <li class="font-color-secondary nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-2">
        Search terms found: <ng-container *ngFor="let entry of highlightInfo.termsCount | keyvalue">{{ entry.key }} ({{ entry.value }}) </ng-container>
      </li>
      <li class="nhsuk-u-margin-bottom-2" appHighlight [searchTerm]="highlightInfo.termsFound">...{{ highlightInfo.snippet }}...</li>
      <li>
        <a [routerLink]="highlightInfo.linkInfo.link" [queryParams]="highlightInfo.linkInfo.queryParams" [fragment]="highlightInfo.linkInfo.fragment">{{
          highlightInfo.linkInfo.text
        }}</a>
      </li>
    </ng-container>

    <ng-template #none>
      <span>None</span>
    </ng-template>
  </ul>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--visible" />
