<ng-container *ngIf="showBanner">
  <div *ngIf="!ctx.user.isInnovator(); else innovatorBanner" class="nhsuk-card d-flex flex-direction-column nhsuk-u-padding-5 nhsuk-u-font-size-19">
    <span>
      <strong>This innovation was archived by the innovator on {{ statusUpdatedAt() | date: ("app.date_formats.long_date" | translate) }}.</strong>
    </span>
    <span *ngIf="!ctx.user.isAdmin()">
      You can view an archived version of the innovation record, support summary, tasks, messages and documents. All open tasks have been cancelled. You cannot send or reply to
      messages.
    </span>
    <span *ngIf="ctx.user.isAdmin()">
      You can view an archived version of the innovation record, support summary, tasks, messages and documents. All open tasks have been cancelled.
    </span>
  </div>
  <ng-template #innovatorBanner>
    <div class="nhsuk-card d-flex flex-direction-column nhsuk-u-padding-5 nhsuk-u-font-size-19">
      <span>
        <strong>This innovation was archived on {{ statusUpdatedAt() | date: ("app.date_formats.long_date" | translate) }}.</strong>
      </span>
      <span>
        You can continue to update your innovation record when it is archived. These changes can only be viewed by you and your collaborators.
        <ng-container *ngIf="isOwner()">If you want support on your innovation in future, you can submit your record for a needs reassessment.</ng-container>
      </span>
    </div>
  </ng-template>
</ng-container>
