<ng-container *ngIf="innovation.status === 'ARCHIVED' && showBanner">
  <div *ngIf="!isInnovator; else innovatorBanner" class="nhsuk-card d-flex flex-direction-column nhsuk-u-padding-5 nhsuk-u-font-size-19">
    <span>
      <strong>This innovation was archived by the innovator on {{ innovation.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}.</strong>
    </span>
    <span>
      You can view an archived version of the innovation record, support summary, tasks, messages, and documents. All open tasks have been cancelled. You cannot reply to
      messages.</span
    >
  </div>
  <ng-template #innovatorBanner>
    <div class="nhsuk-card d-flex flex-direction-column nhsuk-u-padding-5 nhsuk-u-font-size-19">
      <span>
        <strong>This innovation was archived on {{ innovation.statusUpdatedAt | date: ("app.date_formats.long_date" | translate) }}.</strong>
      </span>
      <span *ngIf="isOwner">
        You can continue to update your innovation record when it is archived. These changes can only be viewed by you and your collaborators. If you want support on your
        innovation in future, you can submit your record for a needs reassessment.
      </span>
      <span *ngIf="!isOwner">
        You can continue to update your innovation record when it is archived. These changes can only be viewed by the innovation owner and its collaborators. 
      </span>
    </div>
  </ng-template>
</ng-container>
