.cookie-success-banner {
  background-color: var(--success-color);
  color: #fff;
  padding: 8px 0 8px 0;

  a,
  a:visited {
    color: #fff;
  }

  a:focus {
    color: #212b32;
    ;
  }
}

// Hide the menu on desktop when necessary.
#header-navigation {
  &.only-mobile-menu {
    @media (min-width: 61.865em) {
      display: none;
    }
  }
}
