<noscript>
  <div class="app-u-hide-print bg-color-warning">
    <div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
      <p class="nhsuk-body-s nhsuk-u-margin-0">It looks like JavaScript is disabled in your browser. You'll need to enable it if you want to create an account.</p>
      <p class="nhsuk-body-s nhsuk-u-margin-0">
        Find out <a href="{{ URLS.ENABLE_JAVASCRIPT_SUPPORT }}" class="font-color-text">how to enable JavaScript for Windows</a>, or
        <a href="{{ URLS.SAFARI_SUPPORT }}" class="font-color-text">how to enable JavaScript for Mac</a>.
      </p>
    </div>
  </div>
</noscript>

<ng-container *ngIf="showCookiesBanner">
  <div class="app-u-hide-print bg-color-white nhsuk-u-padding-top-4">
    <div class="nhsuk-width-container app-width-container">
      <p class="nhsuk-heading-l">Cookies on the NHS website</p>
      <p>We've put some small files called cookies on your device to make our site work.</p>
      <p>
        We'd also like to use analytics cookies. These send information about how our site is used to services called Adobe Analytics, Hotjar and Google Analytics. We use this
        information to improve our site.
      </p>
      <p>
        Let us know if this is OK. We'll use a cookie to save your choice. You can <a routerLink="/policies/cookies-policy"> read more about our cookies </a> before you choose.
      </p>
      <div>
        <button class="nhsuk-button nhsuk-u-margin-right-4" (click)="onSaveCookies(true)">I'm OK with analytics cookies</button>
        <button class="nhsuk-button" (click)="onSaveCookies(false)">Do not use analytics cookies</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showCookiesSaveSuccess">
  <div class="app-u-hide-print cookie-success-banner">
    <div class="nhsuk-width-container app-width-container">
      <p class="nhsuk-body-s nhsuk-u-margin-0">You can change your cookie settings at any time using our <a routerLink="/policies/cookies-policy">cookies page</a>.</p>
    </div>
  </div>
</ng-container>

<a class="nhsuk-skip-link" href="javascript:void()" (click)="handleSkipLinkClick($event)"> Skip to main content </a>

<header class="nhsuk-header" role="banner" data-module="nhsuk-header">
  <div class="nhsuk-header__container nhsuk-width-container">
    <div class="nhsuk-header__service">
      <a class="nhsuk-header__service-logo" href="#" aria-label="Innovation Service homepage">
        <svg class="nhsuk-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80" height="40" width="100" focusable="false" role="img" aria-label="NHS">
          <title>NHS</title>
          <path
            fill="currentcolor"
            d="M200 0v80H0V0h200Zm-27.5 5.5c-14.5 0-29 5-29 22 0 10.2 7.7 13.5 14.7 16.3l.7.3c5.4 2 10.1 3.9 10.1 8.4 0 6.5-8.5 7.5-14 7.5s-12.5-1.5-16-3.5L135 70c5.5 2 13.5 3.5 20 3.5 15.5 0 32-4.5 32-22.5 0-19.5-25.5-16.5-25.5-25.5 0-5.5 5.5-6.5 12.5-6.5a35 35 0 0 1 14.5 3l4-13.5c-4.5-2-12-3-20-3Zm-131 2h-22l-14 65H22l9-45h.5l13.5 45h21.5l14-65H64l-9 45h-.5l-13-45Zm63 0h-18l-13 65h17l6-28H117l-5.5 28H129l13.5-65H125L119.5 32h-20l5-24.5Z"
          />
        </svg>
        <span class="nhsuk-header__service-name">Innovation Service</span>
      </a>
    </div>

    @if (showUserInformation && ctx.user.isStateLoaded()) {
      <nav class="nhsuk-header__account" aria-label="Account">
        <ul class="nhsuk-header__account-list">
          <li class="nhsuk-header__account-item">
            <svg class="nhsuk-icon nhsuk-icon--user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
              <path
                d="M12 1a11 11 0 1 1 0 22 11 11 0 0 1 0-22Zm0 2a9 9 0 0 0-5 16.5V18a4 4 0 0 1 4-4h2a4 4 0 0 1 4 4v1.5A9 9 0 0 0 12 3Zm0 3a3.5 3.5 0 1 1-3.5 3.5A3.4 3.4 0 0 1 12 6Z"
              />
            </svg>
            {{ ctx.user.getDisplayName() }} ( {{ userDescription() }} )
          </li>
          <li *ngIf="ctx.user.hasMultipleRoles()" class="nhsuk-header__account-item">
            <a class="nhsuk-header__account-link" href="javascript:void(0)" [routerLink]="'/switch-user-context'" routerLinkActive="router-link-active" ]> Change role </a>
          </li>
          <li *ngIf="showSignOut" class="nhsuk-header__account-item">
            <a href="javascript:void(0)" class="nhsuk-header__navigation-link nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0" (click)="signOut()">Sign out</a>
          </li>
        </ul>
      </nav>
    }
  </div>
  <nav #navigation class="nhsuk-header__navigation" aria-label="Menu">
    <div #navContainer class="nhsuk-header__navigation-container nhsuk-width-container">
      <ul #navList class="nhsuk-header__navigation-list">
        <li *ngFor="let item of visibleItems; trackBy: trackByLabel" class="nhsuk-header__navigation-item" [class.nhsuk-header__navigation-item--current]="" data-nav-item="true">
          <a class="nhsuk-header__navigation-link" [routerLink]="item.url" [attr.aria-current]="">
            <ng-container *ngIf="false; else normalRouterLabel">
              <strong class="nhsuk-header__navigation-item-current-fallback">
                {{ item.label }}
              </strong>
            </ng-container>
            <ng-template #normalRouterLabel>{{ item.label }}</ng-template>
          </a>
        </li>

        <li #menuItem class="nhsuk-header__menu" [hidden]="!menuEnabled">
          <button
            #menuToggle
            type="button"
            class="nhsuk-header__menu-toggle nhsuk-header__navigation-link"
            id="toggle-menu"
            [attr.aria-expanded]="menuOpen ? 'true' : 'false'"
            (click)="toggleMenu()"
          >
            <span class="nhsuk-u-visually-hidden">Browse </span>More
          </button>

          <ul #menuList class="nhsuk-header__menu-list" [hidden]="!menuOpen">
            <li *ngFor="let item of overflowItems; trackBy: trackByLabel" class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" [routerLink]="item.url" [attr.aria-current]="">
                {{ item.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
