<nav class="nhsuk-breadcrumb app-breadcrumb" role="navigation" aria-label="Header navigation">
  <div class="nhsuk-width-container d-flex">
    <ol class="nhsuk-breadcrumb__list mr-auto">
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menuItems: leftMenuItems, position: 'left' }"></ng-container>
    </ol>
    <ol class="nhsuk-breadcrumb__list">
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menuItems: rightMenuItems, position: 'right' }"></ng-container>
    </ol>
  </div>
</nav>

<ng-template #menuItemTemplate let-items="menuItems" let-position="position">
  <ng-container *ngFor="let item of items">
    <li *ngIf="!item.fullReload" class="nhsuk-breadcrumb__item" [ngClass]="{'right-menu-item': position === 'right'}" [routerLinkActive]="'selected'">
      <div class="d-flex">
        <a class="nhsuk-breadcrumb__link nhsuk-u-padding-right-1" [routerLink]="item.link"> {{ item.label }} </a>
        <theme-notification-tag [label]="notifications[item.key || '']"></theme-notification-tag>
      </div>
    </li>
    <li *ngIf="item.fullReload" class="nhsuk-breadcrumb__item" [ngClass]="{'right-menu-item': position === 'right'}">
      <a class="nhsuk-breadcrumb__link" [href]="item.link"> {{ item.label }} </a>
    </li>
  </ng-container>
</ng-template>
