<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <ng-container *ngIf="wizard.isQuestionStep()">
        <theme-form-engine formId="questionForm" [parameters]="wizard.currentStepParameters()" [values]="wizard.getAnswers()"></theme-form-engine>
        <button type="submit" form="questionForm" class="nhsuk-button" (click)="onSubmitStep('next')">Continue</button>
      </ng-container>

      <ng-container *ngIf="wizard.isSummaryStep()">
        <dl class="nhsuk-summary-list">
          <div *ngFor="let item of wizard.getSummary()" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">
              <span *ngIf="item.allowHTML" [innerHTML]="item.value"></span>
              <span *ngIf="!item.allowHTML">{{ item.value }}</span>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="javascript:void(0)" (click)="onGotoStep(item.editStepNumber || 1)"
                >Change<span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a
              >
            </dd>
          </div>
        </dl>

        <button *ngIf="pageData.isCreation" type="button" class="nhsuk-button" (click)="onSubmitWizard()">Confirm and add document</button>
        <button *ngIf="pageData.isEdition" type="button" class="nhsuk-button" (click)="onSubmitWizard()">Confirm and update document</button>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
