<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p *ngIf="isArchived && isInnovatorType">You cannot upload documents in this section as your innovation is archived. You can add documents on your innovation record.</p>

    <ng-container *ngIf="!isArchived">
      <p *ngIf="isInnovatorType">
        Everyone who has access to your innovation will be able to view and download your documents. If you want to stop sharing your innovation with an organisation, update your
        <a routerLink="../support">data sharing preferences</a>.
      </p>
      <div *ngIf="isInnovatorType" class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>If you want to upload evidence of impact and benefit, go to <a routerLink="../record/sections/EVIDENCE_OF_EFFECTIVENESS">this section of your innovation record</a>.</p>
      </div>
      <button *ngIf="!isAdmin" class="nhsuk-button nhsuk-u-margin-bottom-9" routerLink="new">Upload a new document</button>
    </ng-container>

    <ng-container *ngIf="hasUploadedDocuments; else noDocsEmptyState">
      <form [formGroup]="form" class="d-flex flex-direction-column">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-padding-0">
          <div *ngIf="uploadedByChips.length > 0">
            <h2 id="filter-show-uploaded-documents-by" class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Show uploaded documents by</h2>
            <theme-chips-filter-component
              [chipsInput]="uploadedByChips"
              [exclusive]="true"
              ariaDescribedBy="filter-show-uploaded-documents-by"
              (chipsChange)="setSelectedUploadedBy($event)"
            ></theme-chips-filter-component>
          </div>
          <div>
            <h2 class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Search by document name</h2>
            <theme-form-input controlName="name" [pageUniqueField]="false" placeholder="Search by document name">
              <ng-container append>
                <button type="button" (click)="onSearchClick()" class="nhsuk-search__submit form-input-appended-button-search" id="search-btn">
                  <theme-svg-icon type="search" />
                  <span class="nhsuk-u-visually-hidden">Search</span>
                </button>
              </ng-container>
            </theme-form-input>
          </div>
        </div>
        <div>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">More search options {{ filterCount > 0 ? "(" + filterCount + ")" : "" }}</span>
            </summary>
            <div class="nhsuk-details__text d-flex flex-direction-column">
              <div *ngIf="locationChipsInput.length > 0">
                <div class="nhsuk-grid-column-full nhsuk-u-padding-0">
                  <h2 id="filter-by-location" class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Filter by location</h2>
                  <theme-chips-filter-component
                    #locationTagsComponent
                    [chipsInput]="locationChipsInput"
                    ariaDescribedBy="filter-by-location"
                    (chipsChange)="setSelectedLocations($event)"
                  ></theme-chips-filter-component>
                </div>
              </div>
              <div *ngIf="uploadedByUnitChips.length > 0">
                <div class="nhsuk-grid-column-full nhsuk-u-padding-0">
                  <h2 id="filter-by-organisation" class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Filter by organisation</h2>
                  <theme-chips-filter-component
                    #uploadedByUnitComponent
                    [chipsInput]="uploadedByUnitChips"
                    ariaDescribedBy="filter-by-organisation"
                    (chipsChange)="setSelectedUploadedByUnits($event)"
                  ></theme-chips-filter-component>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-half nhsuk-u-padding-0">
                <h2 class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Filter by date range</h2>
                <theme-form-input controlName="startDate" label="From" description="For example, 2005 or 21/11/2014" [pageUniqueField]="false"></theme-form-input>
                <theme-form-input controlName="endDate" label="To" description="For example, 2005 or 21/11/2014" [pageUniqueField]="false"></theme-form-input>
              </div>
              <div><button type="button" class="nhsuk-button nhsuk-u-margin-top-3" (click)="onFormChange()">Apply filters</button></div>
              <div><a href="javascript:void(0)" (click)="onClearFilters()">Clear filters</a></div>
            </div>
          </details>
        </div>
      </form>

      <theme-spinner *ngIf="pageStatus() === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

      <ng-container *ngIf="pageStatus() === 'READY'">
        <h2 class="nhsuk-body-s nhsuk-u-margin-bottom-1">
          <span role="alert">
            Showing {{ tableList.getVisibleRowsNumber() }} {{ "dictionary.document" | pluralTranslate: tableList.getVisibleRowsNumber() | translate }} of
            {{ tableList.getTotalRowsNumber() }}
          </span>
        </h2>

        <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" />

        <ng-container *ngIf="tableList.getTotalRowsNumber() === 0">
          <p class="nhsuk-u-padding-top-4 nhsuk-u-font-weight-bold">There are no matching results.</p>
          <p class="nhsuk-u-margin-bottom-2">Improve your search results by:</p>
          <ul>
            <li>removing filters</li>
            <li>double-checking your spelling</li>
            <li>using fewer words</li>
            <li>searching for something less specific</li>
            <li>checking or increasing the date range</li>
          </ul>
        </ng-container>

        <div *ngIf="tableList.getTotalRowsNumber() > 0" class="bg-color-white">
          <table class="nhsuk-table-responsive app-sortable-table app-table-inside-card">
            <caption class="nhsuk-u-visually-hidden">
              Documents list
              <span *ngIf="tableList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
            </caption>
            <thead class="nhsuk-table__head">
              <tr>
                <th *ngFor="let item of tableList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                  <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                  <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                    {{ item.label }}
                    <span aria-hidden="true"></span>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr *ngFor="let item of tableList.getRecords()" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("name") }}</span>
                  <div>
                    <span class="nhsuk-u-font-weight-bold text-word-break">{{ item.name }}</span> ({{ item.file.extension | uppercase
                    }}{{ item.file.size ? ", " + (item.file.size | bytesPrettyPrint) : "" }})
                  </div>
                </td>
                <td class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("createdAt") }}</span>
                  <div class="nhsuk-body-s nhsuk-u-margin-0">{{ item.createdAt | date: ("app.date_formats.medium_date" | translate) }}</div>
                  <div class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">by {{ item.createdBy.description }}</div>
                </td>
                <td class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("contextType") }}</span>
                  <div class="nhsuk-body-s nhsuk-u-margin-0">{{ item.context.label }}</div>
                  <div *ngIf="item.context.description" class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">{{ item.context.description }}</div>
                </td>
                <td class="nhsuk-table__cell nhsuk-body-s text-align-right">
                  <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("actions") }}</span>
                  <div class="nhsuk-u-margin-0"><a href="{{ item.file.url }}" class="nhsuk-u-font-size-14" attr.aria-label="Download {{ item.name }} file">Download</a></div>
                  <div class="nhsuk-u-margin-0"><a routerLink="{{ item.id }}" class="nhsuk-u-font-size-14" attr.aria-label="View {{ item.name }} details">More details</a></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="nhsuk-u-padding-bottom-4">
          <theme-pagination
            [currentPage]="tableList.page"
            [pageSize]="tableList.pageSize"
            [totalRows]="tableList.getTotalRowsNumber()"
            (updatePageEvent)="onPageChange($event)"
          ></theme-pagination>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #noDocsEmptyState>
      <p>No documents were uploaded yet.</p>
    </ng-template>

    <ng-container *ngIf="isAccessorType">
      <theme-custom-notifications-entrypoint-component [links]="customNotificationLinks" />
    </ng-container>
  </div>
</div>
