<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <theme-form-radio-group
          controlName="action"
          [label]="formfieldAction.title"
          [description]="formfieldAction.description"
          [items]="formfieldAction.items"
        ></theme-form-radio-group>
        <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3">Continue</button>

        <div>
          <a [routerLink]="baseUrl">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</theme-content-wrapper>
