<div class="nhsuk-width-container app-width-container">
  <div *ngIf="!wizard.isFirstStep()" class="nhsuk-back-link">
    <a href="javascript:;" class="nhsuk-back-link__link" (click)="onSubmitStep('previous')">
      <theme-svg-icon type="chevron-left" />
      Go back
    </a>
  </div>

  <theme-spinner *ngIf="pageStatus() === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

  <ng-container *ngIf="pageStatus() === 'READY'">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <ng-container *ngIf="wizard.isQuestionStep()">
          <theme-form-engine #stepForm formId="ftsForm" [parameters]="wizard.currentStepParameters()" [values]="wizard.getAnswers()"></theme-form-engine>
          <button type="submit" form="ftsForm" class="nhsuk-button" (click)="onSubmitStep('next')" [disabled]="stepForm.isFormPending()">
            {{ stepForm.isFormPending() ? "Verifying..." : "Continue" }}
          </button>
        </ng-container>

        <ng-container *ngIf="wizard.isSummaryStep()">
          <theme-alert [type]="alert.type" [title]="alert.title" [setFocus]="alert.setFocus">
            <p>{{ alert.message }}</p>
          </theme-alert>

          <h1 class="nhsuk-heading-l">Edit {{ module }} summary</h1>

          <dl class="nhsuk-summary-list">
            <div *ngFor="let item of wizard.getSummary(); let i = index" class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
              <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="javascript:;" (click)="wizard.gotoStep(item.editStepNumber || 1)">
                  Change <span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a
                >
              </dd>
            </div>
          </dl>
          <form [formGroup]="form" (ngSubmit)="onSubmitWizard()">
            <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" [disabled]="submitBtnClicked || form.pending || form.invalid">
              {{ wizard.isSummaryStep() ? "Submit" : "Continue" }}
            </button>
          </form>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
