<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-padding-bottom-5">
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" routerLink="/admin/organisations/new" title="New Organisation">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Create a new organisation</span>
          </a>
        </div>
        <div>
          <ul class="nhsuk-u-margin-left-2">
            <li>You will need a unique organisation name</li>
            <li>You will need a unique organisation acronym</li>
            <li>You will be able to associate any units (if applicable)</li>
          </ul>
        </div>
      </div>

      <div class="nhsuk-u-padding-bottom-5">

        <div class="nhsuk-action-link">
          <h2>All support organisations</h2>
        </div>
        <div class="nhsuk-body-m">
            View or update an organisation's information and its attached units.
        </div>

        <div class="d-flex nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
          <div> Organisation </div>
          <div class="ml-auto nhsuk-u-text-align-right">
            Status
          </div>
        </div>

        <dl class="nhsuk-u-margin-0">
          <ng-container *ngFor="let organisation of organisations">

            <div class="d-flex nhsuk-body-m nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">

              <dt class="nhsuk-u-font-weight-normal width-60">
                <a routerLink="{{organisation.info.id}}" title="View">
                  <span>
                    {{ organisation.info.name }} ({{ organisation.info.acronym }})
                  </span>
                </a>

                <span *ngIf="organisation.info.organisationUnits.length > 1" class="nhsuk-body-s nhsuk-u-margin-0">
                  {{ organisation.unitText }}
                </span>
              </dt>


              <dd class="ml-auto nhsuk-u-text-align-right">
                <theme-tag type="{{ organisation.info.isActive ? 'SUCCESS' : 'NEUTRAL' }}"
                  label="{{ organisation.info.isActive ? 'Active' : 'Inactive' }}"></theme-tag>
              </dd>

            </div>

          </ng-container>
        </dl>

      </div>
      <div class="nhsuk-u-padding-bottom-5">

        <div class="nhsuk-action-link">
          <h2>Other organisations</h2>
        </div>
        <div class="nhsuk-body-m">
            View or update a team's information.
        </div>

        <div class="d-flex nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
          <div> Team </div>
          <div class="ml-auto nhsuk-u-text-align-right">
            Status
          </div>
        </div>
        <dl class="nhsuk-u-margin-0">
          <ng-container *ngFor="let team of teams">

            <div class="d-flex nhsuk-body-m nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">

              <dt class="nhsuk-u-font-weight-normal width-60">
                <a routerLink="{{team.link}}" title="View">
                  <span>
                    {{ team.name }}
                  </span>
                </a>
              </dt>

              <dd class="ml-auto nhsuk-u-text-align-right">
                <theme-tag type="{{ team.isActive ? 'SUCCESS' : 'NEUTRAL' }}"
                  label="{{ team.isActive ? 'Active' : 'Inactive' }}"></theme-tag>
              </dd>

            </div>

          </ng-container>
        </dl>

      </div>

    </div>
  </div>

</theme-content-wrapper>
