<theme-content-wrapper [status]="pageStatus()">  <section>
    <div *ngIf="organisation.hasInactiveUnits" class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
          <div class="nhsuk-heading-m nhsuk-warning-callout__label">
            <span role="text"><span class="nhsuk-u-visually-hidden">Important: </span> Inactive Status </span>
          </div>
          <p>
            You have one or more inactive statuses. To activate an organisation or unit so it's visible to innovators, you must add at least one Qualifying Accessor (QA) user to
            the desired organisation or unit.
          </p>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3 border-bottom-neutral">Organisation</h2>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">
              {{ organisation.name }}
              <span *ngIf="organisation.name && organisation.acronym && !organisation.name.includes(organisation.acronym)" class="nhsuk-hint nhsuk-u-margin-bottom-0">
                {{ organisation.acronym }}
              </span>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a routerLink="edit">
                Change <span class="nhsuk-u-visually-hidden"> {{ organisation.name | lowercase }} information</span></a
              >
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Status</dt>
            <dd class="nhsuk-summary-list__value">
              <theme-tag type="{{ organisation.isActive ? 'SUCCESS' : 'NEUTRAL' }}" label="{{ organisation.isActive ? 'Active' : 'Inactive' }}"></theme-tag>
            </dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
          <!-- <div *ngIf="organisation.isActive" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Inactivate</dt>
            <dd class="nhsuk-summary-list__value">To </dd>
            <dd class="nhsuk-summary-list__actions">
              <button type="button" routerLink="edit" class="nhsuk-button  nhsuk-u-margin-0"> Inactivate </button>
            </dd>
          </div>
          <div *ngIf="!organisation.isActive" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Activate</dt>
            <dd class="nhsuk-summary-list__value">To activate this organisation you need to add at least one qualifying accessor (QA) user to the attached units</dd>
            <dd class="nhsuk-summary-list__actions">
              <button type="button" routerLink="edit" class="nhsuk-button nhsuk-u-margin-0"> Activate </button>
            </dd>
          </div> -->
        </dl>
      </div>
    </div>
  </section>

  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l">Units</h2>

        <div class="nhsuk-action-link nhsuk-u-margin-bottom-4">
          <a class="nhsuk-action-link__link" routerLink="/admin/organisations/{{ organisationId }}/unit/new">
            <theme-svg-icon type="arrow-right-circle" />
            <span class="nhsuk-action-link__text">Create a new unit</span>
          </a>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-5" *ngIf="organisation.organisationUnits.length; else noOrganisationUnitsMessage">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="d-flex nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
          <div>Associated unit</div>
          <div class="ml-auto">
            <div class="nhsuk-u-text-align-right">Status</div>
          </div>
        </div>

        <dl class="nhsuk-u-margin-0 nhsuk-u-font-size-19">
          <ng-container *ngFor="let unit of organisation.organisationUnits">
            <div class="d-flex nhsuk-body-m nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
              <dt class="mr-auto">
                <a routerLink="unit/{{ unit.id }}" title="View">
                  {{ unit.name }}
                  <span class="nhsuk-u-visually-hidden">organisation unit</span>
                </a>
                <div *ngIf="unit.isActive" class="nhsuk-u-margin-bottom-0">{{ unit.userCount }} users</div>
              </dt>
              <dd class="ml-auto">
                <theme-tag type="{{ unit.isActive ? 'SUCCESS' : 'NEUTRAL' }}" label="{{ unit.isActive ? 'Active' : 'Inactive' }}"></theme-tag>
              </dd>
            </div>
          </ng-container>
        </dl>
      </div>
    </div>

    <ng-template #noOrganisationUnitsMessage>
      <div class="nhsuk-grid-column-two-thirds">
        <hr class="nhsuk-section-break nhsuk-section-break--visible" />
        <p class="nhsuk-u-padding-top-4">No units attached.</p>
      </div>
    </ng-template>
  </section>
</theme-content-wrapper>
