<theme-header [showMenuBar]="false"></theme-header>
<theme-header-navigation-bar [leftMenuItems]="navigationMenuBar.leftItems" [rightMenuItems]="navigationMenuBar.rightItems"></theme-header-navigation-bar>

<div class="nhsuk-width-container-fluid app-width-container-fluid overflow-x-hidden">
  <main id="maincontent" role="main" class="nhsuk-main-wrapper app-main-wrapper--no-padding">
    <div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-3">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<theme-footer></theme-footer>
