// Angular Material.
@import "node_modules/@angular/material/prebuilt-themes/indigo-pink";

// GOV.uk Design System (only necessary styles).
@import "node_modules/govuk-frontend/govuk/settings/all";
@import "node_modules/govuk-frontend/govuk/tools/all";
@import "node_modules/govuk-frontend/govuk/helpers/clearfix";
@import "node_modules/govuk-frontend/govuk/helpers/focused";
@import "node_modules/govuk-frontend/govuk/helpers/spacing";

// NHS Design System.
@import "node_modules/nhsuk-frontend/packages/nhsuk";

// Custom styles.
@import "styles/left-menu-layout";
@import "styles/panel";
@import "styles/sortable-table";
@import "styles/step-by-step-nav";
@import "styles/task-list";

// Variables. (https://service-manual.nhs.uk/design-system/styles)
$service-manual-container-size: 1100px; // Container width variable.

:root {
  --primary-color: #{$color_nhsuk-blue};
  --success-color: #{$color_nhsuk-green};
  --warning-color: #{$color_nhsuk-yellow};
  --error-color: #{$nhsuk-error-color};
  --neutral-color: #{$color_nhsuk-blue};

  --nhsuk-text-color: #{$nhsuk-text-color};

  --white: #{$color_nhsuk-white};

  --color_nhsuk-grey-1: #{$color_nhsuk-grey-1};
  --color_nhsuk-grey-3: #{$color_nhsuk-grey-3};
  --color_nhsuk-grey-4: #{$color_nhsuk-grey-4};
  --color_nhsuk-grey-5: #{$color_nhsuk-grey-5};
  --nhsuk-border-color: #{$nhsuk-border-color};
  --nhsuk-button-color: #{$nhsuk-button-color};

  // --spacing-3: 32px;
  // --mobile:  20em; /* 320px */
  // --tablet:  40.0625em; /* 641px */
  // --desktop-breakpoint: 48.0625em; /* 769px */
  // --large-desktop: 61.875em; /* 990px */
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-self-self-end {
  align-self: self-end;
}
.align-self-center {
  align-self: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.flex-direction-column {
  flex-direction: column;
}

.gap-2\/4 {
  gap: 0.5rem;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.font-style-italic {
  font-style: italic;
}

.text-align-left {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: end;
}
.text-align-right-only-desktop {
  @media (min-width: 48.0625em) {
    text-align: end;
  }
}
.text-pre-line {
  white-space: pre-line;
}
.text-pre-wrap {
  white-space: pre-wrap;
}
.text-word-break {
  word-break: break-word;
}
.text-nowrap-only-desktop {
  @media (min-width: 48.0625em) {
    white-space: nowrap;
  }
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-vertical-ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-decoration-none {
  text-decoration: none;
}

.float-l {
  float: left;
}
.float-r {
  float: right;
}

.width-auto {
  width: auto;
}
.width-max-content {
  width: max-content;
}
.width-15 {
  width: 15%;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-45 {
  width: 45%;
}
.width-60 {
  width: 60%;
}
.width-75 {
  width: 75%;
}
.width-85 {
  width: 85%;
}
.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-scroll {
  @media (max-width: 767px) {
    overflow-x: scroll;
  }
}

.bg-color-white {
  background-color: var(--white);
}
.bg-color-grey {
  background-color: var(--color_nhsuk-grey-5);
}
.bg-color-warning {
  background-color: var(--warning-color);
}

.font-color-text {
  color: $nhsuk-text-color;
}
.font-color-secondary {
  color: $nhsuk-secondary-text-color;
}
.font-color-error {
  color: var(--error-color);
}

.border-bottom-0 {
  border-bottom: 0;
}
.border-bottom-neutral {
  border-bottom: 1px solid var(--color_nhsuk-grey-4);
}

.border-color-primary {
  border-color: var(--primary-color);
}
.border-color-success {
  border-color: var(--success-color);
}
.border-color-warning {
  border-color: var(--warning-color);
}
.border-color-error {
  border-color: var(--error-color);
}
.border-color-neutral {
  border-color: var(--neutral-color);
}

.border-left-inset-neutral {
  border-left: 4px solid var(--color_nhsuk-grey-4);
}

.right-border-separator {
  border-right: 2px solid var(--nhsuk-border-color);
}
.top-border-separator {
  border-top: 1px solid var(--nhsuk-border-color);
}
.bottom-border-separator {
  border-bottom: 1px solid var(--nhsuk-border-color);
}

.cursor-pointer {
  cursor: pointer;
}
.min-width-767 {
  min-width: 767px;
}

.textarea-info-section {
  white-space: break-spaces;
  hyphens: auto;
}

// Container and layout classes.
.app-width-container,
.app-breadcrumb .nhsuk-width-container {
  max-width: $service-manual-container-size;

  @media (min-width: 767px) and (max-width: 1164px) {
    margin: 0 nhsuk-spacing(5);
  }
}

.app-width-container-fluid {
  margin: 0;
  max-width: none;
}

.app-main-wrapper--no-padding {
  padding: 0;
}

.app-header__navigation {
  max-width: $service-manual-container-size + nhsuk-spacing(9);
}

.full-width-section {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
}

.informational-section {
  padding-top: 30px;
  border-top: 1px solid var(--nhsuk-border-color);
}

// Content visibility.
@media (max-width: 48.0525em) {
  .app-u-hide-mobile {
    display: none;
  }
}
@media (min-width: 48.0625em) {
  .app-u-hide-desktop {
    display: none;
  }
}
@media print {
  .app-u-hide-print {
    display: none;
  }
  a:after {
    content: none;
  }
  div.page-break {
    break-before: always;
    break-inside: avoid;
  }
}

// Links and buttons.
.button-as-link {
  font-family: "Frutiger W01", Arial, sans-serif;
  border: 0;
  color: $nhsuk-link-color;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $nhsuk-link-color;
    &:hover {
      color: $nhsuk-link-hover-color;
    }
  }
  // &:focus {
  //   &:hover { color: $nhsuk-focus-text-color; }
  // }
}

// button.with-collapsible-icon {

//   position: relative;
//   padding-left: 24px;

//   &:before {
//     bottom: 0;
//     content: "";
//     left: 0;
//     margin: auto;
//     position: absolute;
//     top: 0;
//     display: block;
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-color: transparent;
//     clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
//     border-width: 7px 0 7px 12.124px;
//     border-left-color: inherit;
//   }

//   &[aria-expanded="true"]:before {
//     display: block;
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-color: transparent;
//     clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
//     border-width: 12.124px 7px 0 7px;
//     border-top-color: inherit;
//   }

// }

// Overrides.
// Angular Material.
.mat-mdc-progress-spinner circle,
.mat-mdc-progress-spinner circle {
  stroke: var(--primary-color) !important;
}

.mat-mdc-autocomplete-panel {
  border: 2px solid #0b0c0c;
  border-top: 0;
  padding: 0 !important;

  .mat-mdc-option {
    border-bottom: solid #b1b4b6;
    border-width: 1px 0;
    cursor: pointer;
    display: block;
    position: relative;
    height: unset;
    padding: 0.8rem;
    overflow: visible;
    line-height: initial;
    word-wrap: break-word;
    white-space: pre-wrap;

    .mdc-list-item {
      white-space: normal;
    }

    &:first-of-type {
      border-top-width: 0;
    }
    &:last-of-type {
      border-bottom-width: 0;
    }
    &:nth-child(odd) {
      background-color: var(--color_nhsuk-grey-5);
    }

    &.mat-mdc-option-active,
    &:hover {
      background-color: var(--primary-color) !important;
      border-color: var(--primary-color);
      color: var(--white);
      outline: 0;
    }

    // &.mat-active, &:hover, &.mat-option--no-results {
    //   background-color: var(--white);
    //   color: var(--color_nhsuk-grey-1);
    //   // cursor: not-allowed
    // }
  }
}

// // _header.scss: Header menu button spacing on mobile.
.nhsuk-header__menu-toggle {
  @media (max-width: 40.0525em) {
    right: unset;
  }
}

// // Hotjar button focus.
._hj_feedback_container button:focus {
  box-shadow:
    -5px 0px #212b32,
    -5px 0px #212b32,
    0px 5px #212b32,
    0px -5px #212b32;
  outline: 3px solid #ffeb3b;
}

.nhsuk-tag {
  height: fit-content;
  white-space: nowrap;
}

// // Buttons.
.button-small {
  font-size: 1rem;
  line-height: 16px;
  padding: 10px 12px;
  margin: 0;
  box-shadow: 0 3px 0 #004;
}

// Forms.
.form-input-appended-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  padding: 5px 16px 4px;
  margin: 0;
}

.form-input-appended-button-search {
  background-color: $nhsuk-button-color;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  height: 40px;
  width: 44px;
  padding: 0;

  &:hover {
    background-color: $nhsuk-button-hover-color;
    border: 0;
  }

  .nhsuk-icon__search {
    fill: $color_nhsuk-white;
    height: 27px;
    width: 27px;
  }
}

.form-checkboxes-small {
  &.nhsuk-checkboxes__item {
    min-height: 30px;
    padding: 0 0 0 35px;
  }
  .nhsuk-checkboxes__label {
    padding: 0;
  }
  .nhsuk-checkboxes__hint {
    font-size: 1rem;
    padding: 0;
  }
  .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::before {
    height: 25px;
    width: 25px;
  }
  .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
    width: 15px;
    height: 8px;
    top: 7px;
    left: 5px;
    border-width: 0 0 3px 3px;
  }
}

.nhsuk-checkboxes__input {
  // Undertermined checkboxes.
  + .undertermined-checkbox::after {
    height: unset !important;
    left: 10px !important;
    top: 18px !important;
    width: 22px !important;
    transform: unset !important;
    opacity: 1 !important;
  }
}

.nhsuk-checkboxes__conditional,
.nhsuk-radios__conditional {
  // Conditional inputs labels smaller.
  label.nhsuk-heading-m {
    font-size: 1.1875rem;
    font-weight: normal;
    line-height: 1.47368;
  }
}

.form-radios-small {
  &.nhsuk-radios__item {
    min-height: 30px;
    padding: 0 0 0 35px;
  }
  .nhsuk-radios__label {
    padding: 0;
  }
  .nhsuk-radios__hint {
    font-size: 1.1rem;
    padding: 0;
  }
  .nhsuk-radios__input + .nhsuk-radios__label::before {
    height: 25px;
    width: 25px;
  }
  .nhsuk-radios__input + .nhsuk-radios__label::after {
    background: #000;
    width: 13px;
    height: 13px;
    top: 6px;
    left: 6px;
    border-width: 0;
  }
}

.form-items-group {
  list-style: none;
  width: unset;
  text-align: left;
}

// Components.
.nhsuk-card {
  .nhsuk-card__content {
    &.x-card-bottom-link {
      height: 100%;
      display: flex;
      flex-direction: column;

      a {
        margin-top: auto;
      }
    }
  }

  &.nhsuk-card.app-card--transparent {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  &.x-card-top-border {
    border: unset;
    background: unset;
    border-top: 2px solid var(--primary-color);

    .nhsuk-card__content {
      padding: govuk-spacing(3) 0 0 0;
    }
  }

  &.x-card-border-unset {
    border: unset;
    background: unset;

    .nhsuk-card__content {
      padding: 0;
    }
  }
}

.progressbar {
  display: flex;
  list-style-type: none;
  padding: 0;

  &.progressbar-justified {
    justify-content: flex-start;
  }

  .progressbar-item {
    border: 1px solid var(--color_nhsuk-grey-1);
    background: var(--nhsuk-border-color);
    width: calc(100% / 18);
    height: 8px;
    margin: 2px 2px;
    border-radius: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: var(--nhsuk-button-color);
    }
    &.warning {
      background: var(--warning-color);
    }
  }
}

ul.list-vertical-line {
  position: relative;
  list-style: none;
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 4px;
    height: 100%;
    background: var(--primary-color);
  }

  > li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 15px;
    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 13px;
      height: 4px;
      background: var(--primary-color);
    }
  }
}

.app-table-inside-card {
  padding-left: 24px;
  padding-right: 24px;
}

.app-tabs {
  margin-bottom: 10px;
  border-bottom: solid 1px var(--color_nhsuk-grey-4);

  .app-tabs__list {
    list-style: none;
    margin: 0;
    padding: 0;

    .app-tabs__item {
      @include nhsuk-font(16);
      display: inline-block;
      margin-bottom: 0;
      padding: 12px 15px 10px;

      &.selected {
        border-bottom: solid 3px var(--primary-color);
      }

      a {
        text-decoration: none;

        &:visited {
          color: $nhsuk-link-color;
          &:hover {
            color: $nhsuk-link-hover-color;
          }
        }
        &:focus {
          &:hover {
            color: $nhsuk-focus-text-color;
          }
        }
      }
    }
  }
}

// Tags
.nhsuk-tag--dark-grey {
  background-color: var(--color_nhsuk-grey-1);
}

.bordered-item {
  border: solid 1px;
  border-radius: 5px;
  padding: 1px 8px 3px 6px;

  svg {
    position: relative;
    top: 5px;
  }
}

// Tables
td {
  .nhsuk-tag {
    white-space: pre-line;
  }

  .tag-no-wrap {
    .nhsuk-tag {
      white-space: nowrap;
    }
  }

  &.fixed-width-150,
  &.fixed-width-175,
  &.fixed-width-200,
  &.fixed-width-300 {
    max-width: 100%;
  }

  @media (min-width: 48.0625em) {
    &.fixed-width-150 {
      max-width: 150px;
    }
    &.fixed-width-175 {
      max-width: 175px;
    }
    &.fixed-width-200 {
      max-width: 200px;
    }
    &.fixed-width-300 {
      max-width: 300px;
    }
  }
}

.vertical-align-middle {
  vertical-align: middle;
}

// Tag.
.app-tag {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: inline-block;
  padding: 5px 10px;

  &.app-tag__selected {
    background: var(--primary-color);
    border: none;
    color: var(--white) !important;
  }
}

a.app-tag {
  text-decoration: none;

  &:link,
  &:visited {
    color: var($nhsuk-link-color);
  }

  &:active,
  &:hover {
    color: var(--white);
    background: var(--primary-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px #ffeb3b !important;
  }
}

.search-input-icon {
  padding-left: 36px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 24 24'%3E%3Cpath d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left 3px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-close .icon {
  display: inline;
  .nhsuk-icon__close {
    fill: $color_nhsuk-black;
    height: 20px;
    width: 20px;
  }
}

.go-to-top .icon {
  display: inline;
}

.nhsuk-header__logo .icon {
  display: inline;
}

.recent-innovations-link .icon .nhsuk-icon__chevron-right {
  fill: $color_nhsuk-grey-1;
}

.notification-tag .icon {
  display: inline;
}

.highlight {
  background-color: var(--warning-color);
}
