<div *ngIf="!isFirstStep()" class="nhsuk-back-link">
  <a href="javascript:;" class="nhsuk-back-link__link" (click)="onSubmitStep('previous')">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <ng-container *ngIf="isQuestionStep()">

      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">{{ currentStep.data.label }}</legend>

        <div *ngIf="currentStep.data.description" class="nhsuk-hint" [innerHTML]="currentStep.data.description"></div>

        <ng-container *ngIf="currentStep.data.details">
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">{{ currentStep.data.details.title }}</span>
            </summary>
            <div class="nhsuk-details__text" [innerHTML]="currentStep.data.details.content"></div>
          </details>
        </ng-container>

        <theme-form-engine formId="ftsForm" [parameters]="currentStep.data.parameters" [values]="currentStep.data.defaultData"></theme-form-engine>

        <button type="submit" form="ftsForm" class="nhsuk-button" (click)="onSubmitStep('next')">
          {{ currentStep.number === totalNumberOfSteps ? 'Continue to your account' : 'Continue' }}
        </button>

      </fieldset>

    </ng-container>

    <ng-container *ngIf="isSummaryStep()">

      <h1 class="nhsuk-heading-l">First Time Signin failed</h1>

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title"> An unknown error occured </h2>
        <div class="nhsuk-error-summary__body">
          <p> You may try to go back and try again. </p>
        </div>
      </div>

      <dl class="nhsuk-summary-list">
        <div *ngFor="let item of summaryList.items" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
          <dd class="nhsuk-summary-list__value">{{ item.value }}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a [routerLink]="item.url">Change<span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }}</span></a>
          </dd>
        </div>
      </dl>

    </ng-container>

  </div>
</div>
