<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">User details</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Name</dt>
          <dd class="nhsuk-summary-list__value">{{ user.name }}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Email</dt>
          <dd class="nhsuk-summary-list__value">{{ user.email }}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a routerLink="email">Change email</a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Account status</dt>
          <dd class="nhsuk-summary-list__value">{{ user.isActive ? "Active" : "Inactive" }}</dd>
          <dd class="nhsuk-summary-list__actions">
            <ul class="nhsuk-list">
              <li><a routerLink="manage">Manage account</a></li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <section *ngIf="userHasActiveRoles">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Active roles</h2>
        <div *ngIf="hasActiveAccessorRole">
          <a routerLink="/admin/users/{{ user.id }}/change-role"
            >Change {{ isActiveQualifyingAccessor ? "qualifying accessor" : "accessor" }} {{ "dictionary.role" | pluralTranslate: accessorRolesCount | translate }} to
            {{ isActiveQualifyingAccessor ? "accessor" : "qualifying accessor" }}
          </a>
        </div>
        <table class="nhsuk-table">
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let role of user.roles; let i = index" role="row" class="nhsuk-table__row">
              <ng-container *ngIf="role.isActive">
                <td class="nhsuk-table__cell">{{ user.rolesDescription[i] }}</td>
                <td class="nhsuk-table__cell text-align-right">
                  <a routerLink="role/{{ role.id }}/inactivate">Inactivate</a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section *ngIf="userHasInactiveRoles">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Inactive roles</h2>
        <table class="nhsuk-table">
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let role of user.roles; let i = index" role="row" class="nhsuk-table__row">
              <ng-container *ngIf="!role.isActive">
                <td class="nhsuk-table__cell">{{ user.rolesDescription[i] }}</td>
                <td class="nhsuk-table__cell text-align-right">
                  <a routerLink="role/{{ role.id }}/activate">Activate</a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section *ngIf="user.innovations">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Innovations</h2>
        <table class="nhsuk-table">
          <tbody class="nhsuk-table__body">
            <tr *ngFor="let innovation of user.innovations" role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a routerLink="/admin/innovations/{{ innovation.id }}/overview">{{ innovation.name }} </a>
              </td>
              <td class="nhsuk-table__cell">{{ innovation.isOwner ? "Owner" : "Collaborator" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div *ngIf="this.canAddRole" class="nhsuk-action-link nhsuk-u-margin-bottom-5">
    <a class="nhsuk-action-link__link" routerLink="role/new">
      <theme-svg-icon type="arrow-right-circle" />
      <span class="nhsuk-action-link__text">Add role</span>
    </a>
  </div>

  <section *ngIf="assignedInnovations">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-0 nhsuk-u-padding-bottom-3">Innovations supported by user</h2>

        <div class="d-flex align-items-center justify-content-space-between nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
          <h3 role="alert" class="nhsuk-body-m nhsuk-u-font-weight-bold nhsuk-u-margin-0">Supporting {{ assignedInnovations.getTotalRowsNumber() }} innovations</h3>
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--visible" />

        <ng-container *ngIf="assignedInnovations.getTotalRowsNumber() === 0">
          <p class="nhsuk-u-padding-top-4">There are no matching results.</p>
        </ng-container>

        <ng-container *ngIf="assignedInnovations.getTotalRowsNumber() > 0">
          <table *ngIf="assignedInnovations.getTotalRowsNumber() > 0" class="nhsuk-table-responsive app-sortable-table">
            <caption class="nhsuk-u-visually-hidden">
              Assigned innovations list
              <span *ngIf="assignedInnovations.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
            </caption>
            <thead class="nhsuk-table__head">
              <tr>
                <th *ngFor="let item of assignedInnovations.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
                  <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
                  <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                    {{ item.label }}
                    <span aria-hidden="true"></span>
                  </button>
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr *ngFor="let item of assignedInnovations.getRecords()" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">{{ assignedInnovations.getColumnLabel("innovation") }}</span>
                  <a class="text-word-break" routerLink="/admin/innovations/{{ item.innovation.id }}">{{ item.innovation.name }}</a>
                </td>
                <td class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">{{ assignedInnovations.getColumnLabel("supportedBy") }}</span>

                  <ul class="nhsuk-list">
                    <li *ngFor="let user of item.supportedBy">
                      <span>{{ user.name }}, {{ user.role | serviceRoleTranslate }}</span>
                    </li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">{{ assignedInnovations.getColumnLabel("unit") }}</span>
                  {{ item.unit }}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="nhsuk-u-padding-bottom-4">
            <theme-pagination
              [currentPage]="assignedInnovations.page"
              [pageSize]="assignedInnovations.pageSize"
              [totalRows]="assignedInnovations.getTotalRowsNumber()"
              (updatePageEvent)="onAssignedInnovationsPageChange($event)"
            ></theme-pagination>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</theme-content-wrapper>
