<theme-content-wrapper [status]="pageStatus()">  <div *ngIf="pageStep === 'RULES'" class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <table class="nhsuk-table">
        <caption>
          All conditions must be valid to be able to lock
          {{
            user.name
          }}
        </caption>
        <thead class="nhsuk-table__head nhsuk-u-visually-hidden">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Condition</th>
            <th class="nhsuk-table__header" scope="col">Is valid</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr *ngFor="let item of rulesList" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              {{ "shared.catalog.user." + item.rule + ".label" | translate }}
              <!-- <div *ngIf="!item.valid && translationExists('shared.catalog.user.' + item.rule + '.description')" class="nhsuk-hint nhsuk-u-margin-0">
                {{ (item.data.unit || item.data.organisation) ? ('shared.catalog.user.' + item.rule + '.description' | translate: item?.meta) : 'shared.catalog.user.' + item.key + '.description' | pluralTranslate:
                item.data?.supports?.innovations?.length | translate: item?.meta }}
              </div> -->
            </td>
            <td class="nhsuk-table__cell text-align-right">
              <strong class="nhsuk-tag" [ngClass]="{ 'nhsuk-tag--green': item.valid, 'nhsuk-tag--red': !item.valid }">{{ item.valid ? "Valid" : "Invalid" }}</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="button" (click)="nextStep()" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3">Continue</button>
    </div>
  </div>

  <div *ngIf="pageStep === 'LOCK_USER'" class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-warning-callout nhsuk-u-margin-top-0">
        <div class="nhsuk-heading-m nhsuk-warning-callout__label">
          <span role="text"><span class="nhsuk-u-visually-hidden">Important: </span>Are you sure?</span>
        </div>
        <p>Accounts should only be locked in exceptional circumstances, for example if the user has breached the term of use.</p>
      </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
      <button type="button" (click)="onSubmit()" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3">Lock user</button>
    </div>
  </div>
</theme-content-wrapper>
