<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <ng-container *ngIf="!user && wizard.isQuestionStep()">
        <theme-form-engine formId="newUserForm" [parameters]="wizard.currentStepParameters()" [values]="wizard.getAnswers()"></theme-form-engine>
        <button type="submit" form="newUserForm" class="nhsuk-button" (click)="onSubmitStep('next')">Continue</button>
      </ng-container>

      <ng-container *ngIf="!user && wizard.isSummaryStep()">

        <dl class="nhsuk-summary-list">
          <div *ngFor="let item of wizard.getSummary(); let i = index;" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
            <dd class="nhsuk-summary-list__actions">
              <a *ngIf="item.editStepNumber" href="javascript:;" (click)="onGotoStep(item.editStepNumber)">Change<span class="nhsuk-u-visually-hidden">{{ item.label | lowercase }}</span></a>
            </dd>
          </div>
        </dl>

        <button [disabled]="!submitButton.isActive" class="nhsuk-button" (click)="onSubmitWizard()">{{ submitButton.label }}</button>

        <div>
          <a href="javascript:;" (click)="goBackOrCancel()">Cancel</a>
        </div>

      </ng-container>

      <ng-container *ngIf="user">

        <p>Go to user details if you want to update their information or add their role.</p>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">{{ user.name }}</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Email</dt>
            <dd class="nhsuk-summary-list__value">{{ user.email }}</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">{{ user.roles.length > 1 ? 'Roles' : 'Role' }}</dt>
            <dd class="nhsuk-summary-list__value">
              <ul class="nhsuk-list">
                <ng-container *ngFor="let roleDescrition of user.rolesDescription">
                  <li>{{ roleDescrition }}</li>
               </ng-container>

              </ul>
            </dd>
          </div>
        </dl>

        <button routerLink="/admin/users/{{ user.id }}" class="nhsuk-button">Go to user details</button>

        <div>
          <a href="javascript:;" (click)="goBackOrCancel()">Cancel</a>
        </div>

      </ng-container>

    </div>
  </div>

</theme-content-wrapper>
