<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>An email will be sent to both addresses to notify the user of this change. Their password will remain the same.</p>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Name</dt>
          <dd class="nhsuk-summary-list__value">{{ user.name }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Current email</dt>
          <dd class="nhsuk-summary-list__value">{{ user.email }}</dd>
        </div>
      </dl>

      <form [formGroup]="form">
        <theme-form-input controlName="email" label="New email" [pageUniqueField]="false"></theme-form-input>
        <theme-form-input controlName="emailConfirmation" label="Confirm new email" [pageUniqueField]="false"></theme-form-input>
        <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" [disabled]="!submitButton.isActive" (click)="onSubmit()">Confirm</button>
        <div>
          <a routerLink="/admin/users/{{ user.id }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</theme-content-wrapper>
