<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <ng-container *ngIf="!user && wizard.isQuestionStep()">
        <theme-form-engine formId="newUserForm" [parameters]="wizard.currentStepParameters()" [values]="wizard.getAnswers()"></theme-form-engine>
        <button type="submit" form="newUserForm" class="nhsuk-button" (click)="onSubmitStep('next')">Continue</button>
      </ng-container>

      <ng-container *ngIf="!user && wizard.isSummaryStep()">
        <dl class="nhsuk-summary-list">
          <div *ngFor="let item of wizard.getSummary(); let i = index" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">{{ item.value }}</dd>
            <dd class="nhsuk-summary-list__actions">
              <a *ngIf="item.editStepNumber" href="javascript:;" (click)="onGotoStep(item.editStepNumber)"
                >Change<span class="nhsuk-u-visually-hidden">{{ item.label | lowercase }}</span></a
              >
            </dd>
          </div>
        </dl>

        <button [disabled]="!submitButton.isActive" class="nhsuk-button" (click)="onSubmitWizard()">{{ submitButton.label }}</button>

        <div>
          <a href="javascript:;" (click)="goBackOrCancel()">Cancel</a>
        </div>
      </ng-container>

      <app-admin-pages-user-information
        *ngIf="user"
        [user]="user"
        [parentData]="pageData"
        (componentStateChangeEmit)="handleComponentStateChange($event)"
      ></app-admin-pages-user-information>
    </div>
  </div>
</theme-content-wrapper>
