<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-action-link nhsuk-u-margin-bottom-5">
    <a class="nhsuk-action-link__link" routerLink="/admin/users/new">
      <theme-svg-icon type="arrow-right-circle" />
      <span class="nhsuk-action-link__text">Add new user</span>
    </a>
  </div>

  <p>Find a specific user by providing an email address</p>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <form [formGroup]="form">
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-0">Email</h2>
        <div class="nhsuk-form-group">
          <theme-form-input controlName="email" [pageUniqueField]="false">
            <ng-container append>
              <button (click)="onSearchClick()" class="nhsuk-search__submit form-input-appended-button-search" id="search-btn">
                <theme-svg-icon type="search" />
                <span class="nhsuk-u-visually-hidden">Search</span>
              </button>
            </ng-container>
          </theme-form-input>
        </div>
      </form>
    </div>

    <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
      <theme-spinner *ngIf="pageStatus() === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

      <div *ngIf="pageStatus() === 'READY'" aria-live="polite">
        <ng-container *ngIf="!searchUser">
          <p class="nhsuk-u-padding-top-5">There are no results.</p>
          <p *ngIf="formSubmitted" class="">Please, confirm the provided email.</p>
        </ng-container>

        <ng-container *ngIf="searchUser">
          <div class="d-flex nhsuk-body-s nhsuk-u-margin-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 bottom-border-separator">
            <div class="mr-auto">
              <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">{{ searchUser.rolesDescription.join(", ") }}</p>
              <p class="nhsuk-body-s nhsuk-u-margin-0">{{ searchUser.name }} ({{ searchUser.email }})</p>
            </div>
            <div class="d-flex flex-direction-column text-align-center">
              <strong class="nhsuk-tag nhsuk-u-margin-bottom-2" [ngClass]="{ 'nhsuk-tag--green': searchUser.isActive, 'nhsuk-tag--red': !searchUser.isActive }">{{
                searchUser.isActive ? "Active" : "Locked"
              }}</strong>
              <a routerLink="{{ searchUser.id }}">View</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</theme-content-wrapper>
