<ng-container *ngIf="summaryAlert.type">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-error-summary" [ngClass]="{'border-color-success': summaryAlert.type === 'success', 'border-color-warning': summaryAlert.type === 'warning'}" aria-labelledby="alert-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="alert-summary-title">{{ summaryAlert.title }}</h2>
        <div class="nhsuk-error-summary__body" [innerHTML]="summaryAlert.message"></div>
      </div>
    </div>
  </div>
</ng-container>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-x1 nhsuk-u-margin-bottom-3">New comment</h1>
    <p class="nhsuk-hint">Posting a comment will notify who is currently engaging with your innovation.</p>

    <form [formGroup]="form">
      <theme-form-textarea controlName="comment" description="Enter your description"></theme-form-textarea>
      <button class="nhsuk-button nhsuk-u-margin-top-3 nhsuk-u-margin-right-3" (click)="onSubmit()">Post comment</button>
      <div>
        <a routerLink="/{{ module }}/innovations/{{ innovationId }}/comments" class="nhsuk-back-link__link nhsuk-u-padding-left-0 nhsuk-u-margin-bottom-5"> Cancel </a>
      </div>
    </form>

  </div>
</div>
