<ng-container *ngIf="module === 'accessor'">
  <div class="nhsuk-grid-row nhsuk-u-padding-bottom-3 d-flex align-items-center">
    <div class="nhsuk-grid-column-one-half">
      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ innovation.name }}</h1>
    </div>
    <div *ngIf="innovation.assessment.id" class="nhsuk-grid-column-one-half text-align-right">
      <a routerLink="/{{ module }}/innovations/{{ innovationId }}/assessments/{{ innovation.assessment.id }}">View needs assessment</a>
    </div>
  </div>
  <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-3" />
</ng-container>

<ng-container *ngIf="summaryAlert.type">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-error-summary" [ngClass]="{'border-color-success': summaryAlert.type === 'success', 'border-color-warning': summaryAlert.type === 'warning'}" aria-labelledby="alert-summary-title" role="alert"
        tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="alert-summary-title">{{ summaryAlert.title }}</h2>
        <div class="nhsuk-error-summary__body" [innerHTML]="summaryAlert.message"></div>
      </div>
    </div>
  </div>
</ng-container>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl"> Comments </h1>
    <button class="nhsuk-button" routerLink="/{{ module }}/innovations/{{ innovationId }}/comments/new"> Add new comment </button>

    <div class="d-flex align-items-center justify-content-space-between nhsuk-u-margin-bottom-2">
      <div class="nhsuk-body-s font-color-secondary nhsuk-u-font-weight-bold nhsuk-u-margin-0"> Showing {{ commentsList.length }} results </div>
      <div class="d-flex">
        <a *ngIf="currentCreatedOrder === 'asc'" routerLink="/{{ module }}/innovations/{{ innovationId }}/comments" [queryParams]="{ createdOrder: 'desc' }" class="nhsuk-body-s nhsuk-u-margin-bottom-0 right-border-separator nhsuk-u-padding-right-3">Newest first</a>
        <span *ngIf="currentCreatedOrder === 'desc'" class="nhsuk-body-s nhsuk-u-margin-bottom-0 right-border-separator nhsuk-u-padding-right-3">Newest first</span>
        <a *ngIf="currentCreatedOrder === 'desc'" routerLink="/{{ module }}/innovations/{{ innovationId }}/comments" [queryParams]="{ createdOrder: 'asc' }" class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-padding-left-3">Oldest first</a>
        <span *ngIf="currentCreatedOrder === 'asc'" class="nhsuk-body-s nhsuk-u-margin-bottom-0 nhsuk-u-padding-left-3">Oldest first</span>
      </div>
    </div>
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-3" />

    <form [formGroup]="form">

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li *ngFor="let comment of commentsList" class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-u-padding-3">

            <div class="d-flex justify-content-space-between nhsuk-u-margin-bottom-2">
              <div class="nhsuk-u-margin-bottom-0">
                <div class="side-menu-flex">
                  <div>
                    <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0"> {{ comment.user.name }}{{ comment.user.organisationUnit ? ', ' + comment.user.organisationUnit.name  : '' }} </p>
                    <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0"> {{ getTeamTitle(comment.user.type) }} </p>
                  </div>
                  <div>
                    <notification-tag *ngIf="comment.notifications && comment.notifications.count > 0" type="circle"></notification-tag>
                  </div>
                </div>
              </div>
              <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0">{{ comment.createdAt | date: ('app.date_formats.long_date_time' | translate) }} </p>
            </div>

            <p class="nhsuk-card__description">{{ comment.message }}</p>

            <div *ngFor="let reply of comment.replies" class="bg-color-grey nhsuk-u-margin-left-4 nhsuk-u-margin-bottom-3 nhsuk-u-padding-3">
              <div class="d-flex justify-content-space-between nhsuk-u-margin-bottom-2">
                <div class="side-menu-flex">
                  <div>
                    <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-0"> {{ reply.user.name }}{{ reply.user.organisationUnit ? ', ' + reply.user.organisationUnit.name  : '' }}</p>
                  </div>
                  <div>
                    <notification-tag *ngIf="reply.notifications && reply.notifications.count > 0" type="circle"></notification-tag>
                  </div>
                  <div>
                    <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0">{{ reply.createdAt | date: ('app.date_formats.long_date_time' | translate) }} </p>
                  </div>
                </div>
              </div>
              <p class="nhsuk-card__description">{{ reply.message }}</p>
            </div>

            <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0 nhsuk-u-margin-left-4">Write a reply</p>
            <div class="nhsuk-u-margin-left-4">

              <div class="nhsuk-form-group reply-container" [ngClass]="{'nhsuk-form-group--error': formSubmittedFields[comment.id]}">
                <ng-container *ngIf="formSubmittedFields[comment.id]">
                  <span class="nhsuk-error-message nhsuk-u-font-size-14">
                    <span class="nhsuk-u-visually-hidden">Error:</span> {{ formSubmittedFields[comment.id] | translate }}</span>
                </ng-container>
                <input formControlName="{{ comment.id }}" [name]="comment.id" type="text" class="nhsuk-input" aria-label="Reply to comment input" />
                <button class="nhsuk-button nhsuk-u-font-size-14 nhsuk-u-margin-left-2" (click)="onReply(comment.id)">Reply</button>
              </div>

            </div>

          </div>
        </li>
      </ul>

    </form>

  </div>
</div>
