.reply-container {

  // display: flex;
  flex-wrap: wrap;

  .nhsuk-error-message {
    flex: 0 0 100%;
    margin-bottom: 0;
  }

  input {
    flex: 1;
  }

  textarea {
    height: 150px;
  }

  button {
    margin: 0;
    padding: 5px 16px 4px;
  }

}
