<theme-content-wrapper [status]="pageStatus()">  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Innovation name</dt>
          <dd class="nhsuk-summary-list__value">{{ innovation.name }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Owner</dt>
          <dd class="nhsuk-summary-list__value">{{ innovation.owner?.name }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Description</dt>
          <dd class="nhsuk-summary-list__value">{{ innovationDescription }}</dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <h2>Leave innovation</h2>
      <p class="nhsuk-u-margin-bottom-1">
        If you decide that you do not want to collaborate on this innovation, you have the choice to leave. This will mean you will not be able to access or work on this innovation
        going forward.
      </p>
      <p><a routerLink="leave" class="nhsuk-link nhsuk-link--no-visited-state">Leave innovation</a></p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <h2>Request to transfer ownership</h2>
      <p>
        If you need to make a request to transfer ownership of this innovation, email
        <a href="mailto:nhsinnovationservice@innovation.nhs.uk" class="nhsuk-link nhsuk-link--no-visited-state">nhsinnovationservice&#64;innovation.nhs.uk</a>.
      </p>
      <p>Explain the reason why you need to transfer ownership and who you want to transfer it to. Then we will review your request and get back to you.</p>
    </div>
  </div>
</theme-content-wrapper>
