<div class="nhsuk-back-link">
  <a href="javascript:;" class="nhsuk-back-link__link" (click)="onPreviousStep()">
    <theme-svg-icon type="chevron-left" />
    Go back
  </a>
</div>

<h1 class="nhsuk-heading-l">{{ title }}</h1>

<theme-spinner *ngIf="pageStatus() === 'LOADING'" cssClass="nhsuk-u-margin-9"></theme-spinner>

<div *ngIf="pageStatus() === 'READY'" class="nhsuk-grid-row" aria-live="polite">
  <div class="nhsuk-grid-column-three-quarters">
    <p class="nhsuk-u-margin-0">
      You have user/s attached to <strong>{{ data.organisationUnit.name }}</strong> unit.
    </p>
    <p>These users accounts will be locked if you wish to continue.</p>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <p class="nhsuk-body-s nhsuk-u-margin-bottom-1">Showing {{ tableList.getVisibleRowsNumber() }} users of {{ tableList.getTotalRowsNumber() }}</p>

    <p *ngIf="tableList.getTotalRowsNumber() === 0" class="nhsuk-u-padding-top-4">There are no matching results.</p>

    <div *ngIf="tableList.getTotalRowsNumber() > 0" class="bg-color-white nhsuk-u-padding-3">
      <table class="nhsuk-table-responsive app-sortable-table">
        <caption class="nhsuk-u-visually-hidden">
          Users list
          <span *ngIf="tableList.isSortable()" class="nhsuk-u-visually-hidden">Column headers with buttons are sortable.</span>
        </caption>
        <thead class="nhsuk-table__head">
          <tr>
            <th aria-live="off" *ngFor="let item of tableList.getHeaderColumns(); let i = index" scope="col" [ngClass]="item.align" [attr.aria-sort]="item.orderDir">
              <ng-container *ngIf="!item.orderable">{{ item.label }}</ng-container>
              <button [id]="item.key" *ngIf="item.orderable" type="button" (click)="onTableOrder(item.key)">
                {{ item.label }}
                <span aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr aria-live="off" *ngFor="let item of tableList.getRecords()" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">{{ tableList.getColumnLabel("userAccount") }}</span>
              <div>
                <p class="nhsuk-hint nhsuk-u-font-size-14 nhsuk-u-margin-0">{{ item.roleDescription }}</p>
                <p class="nhsuk-body-s nhsuk-u-margin-0">{{ item.name }} ({{ item.email }})</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <theme-pagination
      [currentPage]="tableList.page"
      [pageSize]="tableList.pageSize"
      [totalRows]="tableList.getTotalRowsNumber()"
      (updatePageEvent)="onPageChange($event)"
    ></theme-pagination>
  </div>

  <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-top-4">
    <form [formGroup]="form" (ngSubmit)="onNextStep()">
      <theme-form-checkbox controlName="agreeUsers" label="I understand that these account's will be locked, if I confirm inactivation" size="small"></theme-form-checkbox>
      <button type="submit" class="nhsuk-button nhsuk-u-margin-top-3">Continue</button>
    </form>
  </div>
</div>
