<div id="context-innovation-outlet" class="nhsuk-u-padding-top-3">
  <div class="d-flex align-items-center justify-content-space-between nhsuk-u-padding-bottom-3">
    <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ innovation().name }}</p>
    <p class="nhsuk-caption-m nhsuk-u-margin-0">{{ innovation().userIsOwner ? "Innovation owner" : "Innovation collaborator" }}</p>
  </div>

  <theme-header-archived-banner />

  <ng-container *ngIf="displayAnnouncements">
    <theme-announcements-card
      *ngFor="let announcement of announcements"
      [announcementCardData]="{ id: announcement.id, title: announcement.title, params: announcement.params, innovations: announcement.innovations }"
      (clearedAnnouncement)="onClearAnnouncement($event)"
    ></theme-announcements-card>
  </ng-container>

  <hr class="nhsuk-section-break nhsuk-section-break--visible" />
</div>
