<h2 *ngIf="showHeading" class="app-side-nav__heading">{{ navHeading }}</h2>

<ng-container *ngIf="!isAllSectionsDetailsPage">
  <ul class="nhsuk-list app-side-nav__list">

    <li *ngFor="let item of sidebarItems" class="app-side-nav__item" [routerLinkActive]="'app-side-nav__item--current'">

      <a class="app-side-nav__link nhsuk-u-padding-right-1" [routerLink]="item.url">{{ item.label }}</a>

      <ul *ngIf="(item.children ?? []).length > 0" class="app-side-nav__list--nested">
        <li *ngFor="let nestedItem of item.children" [routerLinkActive]="'app-side-nav__item--nested-current'" class="app-side-nav__item">
          <a [routerLink]="nestedItem.url" class="app-side-nav__link--nested nhsuk-u-padding-right-1">{{ nestedItem.label }}</a>
        </li>
      </ul>

    </li>

  </ul>
</ng-container>

<ng-container *ngIf="isAllSectionsDetailsPage">

  <ul class="nhsuk-list app-side-nav__list">

    <li *ngFor="let item of sidebarItems" class="app-side-nav__item app-side-nav__item--expanded">

      <a class="app-side-nav__link nhsuk-u-padding-right-1">{{ item.label }}</a>

      <ul *ngIf="(item.children ?? []).length > 0" class="app-side-nav__list--nested">
        <li *ngFor="let nestedItem of item.children" class="app-side-nav__item app-side-nav__list--nested">
          <a href="javascript:void(0)" (click)="onScrollToSection(nestedItem.id!)" class="app-side-nav__link--nested nhsuk-u-padding-right-1">{{ nestedItem.label }}</a>
        </li>
      </ul>

    </li>
    <div *ngIf="backToTopIsVisible" class="backToTop">
      <svg role="presentation" focusable="false" class="back-to-top" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
      <a  href="javascript:void()" (click)="onScrollToTop()" class="nhsuk-u-font-size-14 nhsuk-u-margin-left-2">Back to top</a>
    </div>
  </ul>
</ng-container>