<theme-content-wrapper [status]="pageStatus()">  <div class="d-flex align-items-center justify-content-space-between">
    <h2 class="nhsuk-heading-m">Needs Assessment team</h2>
  </div>

  <ng-container *ngFor="let announcement of announcements">
    <theme-announcements-card
      [announcementCardData]="{ id: announcement.id, title: announcement.title, params: announcement.params, innovations: announcement.innovations }"
      (clearedAnnouncement)="onClearAnnouncement($event)"
    ></theme-announcements-card>
  </ng-container>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <app-statistics-cards [cardsList]="cardsList" [gridClass]="'nhsuk-grid-column-one-half'"></app-statistics-cards>
    </div>

    <div class="nhsuk-grid-column-one-third" *ngIf="latestInnovations.getRecords().length > 0">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">Recent innovations you have worked on</h2>
      <ul class="nhsuk-list">
        <li *ngFor="let item of latestInnovations.getRecords()" class="bottom-border-separator nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-margin-bottom-0">
          <a class="recent-innovations-link" *ngIf="!item.assessment?.id" routerLink="/assessment/innovations/{{ item.id }}" attr.aria-label="View {{ item.name }} innovation">
            <span>{{ item.name }}</span>
            <theme-svg-icon type="chevron-right" />
          </a>
          <a
            class="recent-innovations-link"
            *ngIf="item.assessment?.id"
            routerLink="/assessment/innovations/{{ item.id }}/assessments/{{ item.assessment?.id }}"
            attr.aria-label="View {{ item.name }} innovation assessment details"
          >
            <span>{{ item.name }}</span>

            <theme-svg-icon type="chevron-right" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</theme-content-wrapper>
