<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information: </span>

        <p class="d-flex">
          <ng-container *ngTemplateOutlet="icon; context: { status: section.status.id }"></ng-container>
          <span class="nhsuk-u-margin-right-2"></span>
          <span *ngIf="section.status.id === 'SUBMITTED' && section.date !== ''">Last submitted {{ section.date | date: ('app.date_formats.long_date_time' | translate) }}</span>
          <span *ngIf="section.status.id === 'DRAFT'">This section is in draft. <span *ngIf="['innovator'].includes(module)">Check answers and submit updates.</span></span>
          <span *ngIf="section.status.id === 'NOT_STARTED'">This section has not been started yet.</span>
        </p>
      </div>

      <ng-container *ngIf="!section.isNotStarted">

        <div *ngIf="innovation.status === 'IN_PROGRESS' && section.status.id === 'DRAFT' && ['innovator','accessor'].includes(module)" class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p *ngIf="module === 'innovator'">
            This section is not visible to others because you changed it to the 'in draft' status. You need to 'confirm section answers' for the section to become visible.
          </p>
          <p *ngIf="module === 'accessor'">
            This section is not visible because the innovator has changed it status to "In Draft". If you need to see this section, you can create an action or comment asking them to resubmit.
          </p>
        </div>

        <ng-container *ngIf="summaryList.length > 0">
          <h2 class="nhsuk-heading-m">{{ module === 'innovator' ? 'Your' : 'Submitted' }} answers</h2>
          <dl class="nhsuk-summary-list">

            <ng-container *ngFor="let item of summaryList" class="nhsuk-summary-list__row">
              <ng-container [ngSwitch]="item.type">
                <ng-container *ngSwitchCase="'button'">
                  <div class="width-max-content" *ngIf="module === 'innovator'">
                    <dt class="nhsuk-u-margin-top-5">
                      <a routerLink="edit/{{ item.editStepNumber }}" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-0">{{ item.label }}</a>
                    </dt>
                  </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
                    <dd class="nhsuk-summary-list__value text-pre-wrap">
                      <span *ngIf="item.allowHTML" [innerHTML]="item.value"></span>
                      <span *ngIf="!item.allowHTML">{{ item.value }}</span>
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a *ngIf="module === 'innovator' && item.editStepNumber" routerLink="edit/{{ item.editStepNumber }}"> Change <span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a>
                      <a *ngIf="item.evidenceId" routerLink="evidences/{{ item.evidenceId }}"> View <span class="nhsuk-u-visually-hidden"> evidence detail </span></a>
                    </dd>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </dl>
        </ng-container>

      </ng-container>

      <ng-container *ngIf="module === 'innovator'">
        <button *ngIf="section.isNotStarted" type="button" routerLink="edit" class="nhsuk-button nhsuk-u-margin-right-3"> Start now </button>
        <div>
          <button *ngIf="section.hasEvidences && !section.isNotStarted" routerLink="evidences/new" class="nhsuk-button nhsuk-button--secondary"> Add evidence </button>
        </div>
        <div>
          <button *ngIf="section.showSubmitButton" (click)="onSubmitSection()" class="nhsuk-button nhsuk-u-margin-right-3"> Confirm section answers </button>

          <button *ngIf="section.showSubmitUpdatesButton" routerLink="/innovator/innovations/{{ innovation.id }}/record/sections/{{ section.id }}/confirm-update" class="nhsuk-button nhsuk-u-margin-right-3"> Submit updates </button>
        </div>
      </ng-container>

      <ng-container *ngIf="module === 'accessor' && (innovation.support?.status === 'ENGAGING' || innovation.support?.status === 'FURTHER_INFO_REQUIRED')">
        <button routerLink="/accessor/innovations/{{ innovation.id }}/action-tracker/new" [queryParams]="{ section: section.id }" class="nhsuk-button"> Create action for this section </button>
      </ng-container>

      <ng-container *ngIf="module === 'assessment'" [ngSwitch]="innovation.status">

        <ng-container *ngSwitchCase="'WAITING_NEEDS_ASSESSMENT'">
          <button routerLink="/assessment/innovations/{{ innovation.id }}/assessments/new" class="nhsuk-button"> Start needs assessment </button>
        </ng-container>

        <ng-container *ngSwitchCase="'NEEDS_ASSESSMENT'">
          <button routerLink="/assessment/innovations/{{ innovation.id }}/assessments/{{ innovation.assessment?.id || '' }}/edit" class="nhsuk-button"> Continue needs assessment </button>
        </ng-container>

        <ng-container *ngSwitchCase="'IN_PROGRESS'">
          <button routerLink="/assessment/innovations/{{ innovation.id }}/assessments/{{ innovation.assessment?.id || '' }}" class="nhsuk-button"> View needs assessment </button>
        </ng-container>

      </ng-container>


    </div>
  </div>

  <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
      <li *ngIf="previousSection.show" class="nhsuk-pagination-item--previous">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--prev cursor-pointer" routerLink="../{{ previousSection.id }}">
          <span class="nhsuk-pagination__title">Previous</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">{{previousSection.title}}</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
          </svg>
        </a>
      </li>
      <li *ngIf="nextSection.show" class="nhsuk-pagination-item--next">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--next cursor-pointer" routerLink="../{{ nextSection.id }}">
          <span class="nhsuk-pagination__title">Next</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">{{nextSection.title}}</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</theme-content-wrapper>

<ng-template #icon let-status="status">
  <theme-svg-icon *ngIf="status === 'NOT_STARTED'" type="error"></theme-svg-icon>
  <theme-svg-icon *ngIf="status === 'DRAFT'" type="edit"></theme-svg-icon>
  <theme-svg-icon *ngIf="status === 'SUBMITTED'" type="success"></theme-svg-icon>
</ng-template>