<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-margin-top-0">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p class="nhsuk-u-margin-bottom-4">You must add at least one piece of evidence to complete this section.</p>
      <p>You can leave this page and come back later. Your progress will be saved automatically.</p>
    </div>
    <div class="d-flex align-items-center">
      <a routerLink="new/1" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-4"> Add evidence</a>
      <a [routerLink]="baseUrl">Go back to section</a>
    </div>
  </div>
</theme-content-wrapper>
