<theme-content-wrapper [status]="pageStatus()">
  <div *ngIf="innovation.owner && !innovation.owner?.isActive" class="nhsuk-warning-callout nhsuk-u-margin-top-0">
    <div class="nhsuk-heading-m nhsuk-warning-callout__label">
      <span role="text"><span class="nhsuk-u-visually-hidden">Important: </span>User Locked</span>
    </div>
    <p>Please note that the innovator {{ innovation.owner.name }} is currently locked.</p>
  </div>
  <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">
    <div class="nhsuk-u-margin-top-0" *ngIf="!(ctx.innovation.isArchived() && ctx.user.isAccessorOrAssessment())">
      <span class="nhsuk-u-visually-hidden">Information: </span>

      <ul *ngIf="isInnovationInCreatedStatus" class="progressbar progressbar-justified nhsuk-u-padding-bottom-2">
        <li *ngFor="let item of sections.progressBar" class="progressbar-item" [ngClass]="item.substring(2)"></li>
      </ul>

      <p class="d-flex nhsuk-u-margin-0">
        <ng-container *ngTemplateOutlet="icon; context: { type: 'success' }" />
        {{ sections.submitted }} of {{ sections.progressBar.length }} {{ "dictionary.section" | pluralTranslate: sections.progressBar.length | translate }} completed
      </p>
      <p *ngIf="sections.draft > 0" class="d-flex nhsuk-u-margin-0">
        <ng-container *ngTemplateOutlet="icon; context: { type: 'edit' }" />
        {{ sections.draft }} {{ "dictionary.section" | pluralTranslate: sections.draft | translate }} in draft
      </p>
      <p *ngIf="sections.notStarted > 0" class="d-flex">
        <ng-container *ngTemplateOutlet="icon; context: { type: 'error', color: 'grey' }" />
        {{ sections.notStarted }} {{ "dictionary.section" | pluralTranslate: sections.notStarted | translate }} not started
      </p>
    </div>

    <ng-container *ngFor="let item of ctx.schema.getSectionsList(); let i = index">
      <div class="nhsuk-u-margin-top-7">
        <h3 class="nhsuk-heading-l nhsuk-u-margin-0">{{ i + 1 }}. {{ item.title }}</h3>

        <ng-container *ngFor="let section of item.sections; let j = index; last as lastItem">
          <div [ngClass]="lastItem ? 'nhsuk-u-margin-bottom-8' : 'nhsuk-u-margin-bottom-2'">
            <h3 class="nhsuk-heading-m nhsuk-u-margin-top-7" [id]="section.id">
              <ng-container *ngIf="ctx.innovation.isArchived() && !ctx.user.isInnovator(); else innovationLink">
                {{ i + 1 }}.{{ j + 1 }} {{ section.id | irv3translate: "subsections" }}
              </ng-container>
              <ng-template #innovationLink>
                <a routerLink="{{ baseUrl }}/record/sections/{{ section.id }}/"> {{ i + 1 }}.{{ j + 1 }} {{ section.id | irv3translate: "subsections" }} </a>
              </ng-template>
            </h3>
            <ng-container *ngIf="pageStatus() === 'READY'">
              <ng-container *ngIf="allSectionsData[section.id] as sectionData">
                <div *ngIf="!(ctx.innovation.isArchived() && ctx.user.isAccessorOrAssessment())" class="nhsuk-u-margin-top-0 font-color-secondary">
                  <span class="nhsuk-u-visually-hidden">Information: </span>
                  <p class="d-flex nhsuk-u-margin-0">
                    <ng-container [ngSwitch]="sectionData.sectionInfo.status.id">
                      <ng-container *ngSwitchCase="'NOT_STARTED'">
                        <ng-container *ngTemplateOutlet="icon; context: { type: 'error', color: 'grey' }" />
                        <span class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-4">This section has not been started yet.</span>
                      </ng-container>

                      <ng-container *ngSwitchCase="'DRAFT'">
                        <ng-container *ngTemplateOutlet="icon; context: { type: 'edit' }" />

                        <ng-container *ngIf="ctx.user.isInnovator()">
                          <span *ngIf="innovation.status === 'CREATED'" class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-4">
                            This section is in draft. You need to complete the section before you can submit your record for needs assessment.
                          </span>
                          <span *ngIf="innovation.status !== 'CREATED'" class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-4">
                            This section is in draft. Support organisations will be able to see your last submitted version of this section. Resubmit this section to make your
                            changes visible.
                          </span>
                        </ng-container>

                        <ng-container *ngIf="!ctx.user.isInnovator()">
                          <span class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-4">This section is in draft.</span>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngSwitchCase="'SUBMITTED'">
                        <ng-container *ngIf="sectionData.sectionInfo?.date !== '' && sectionData?.sectionInfo?.submittedBy !== null">
                          <ng-container *ngTemplateOutlet="icon; context: { type: 'success' }" />
                          <span class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-4">
                            This section was last submitted by {{ sectionData.sectionInfo.submittedBy?.name }}
                            <ng-container *ngIf="sectionData.sectionInfo?.submittedBy?.displayTag !== undefined"
                              >({{ sectionData.sectionInfo.submittedBy?.displayTag }})</ng-container
                            >
                            on {{ sectionData.sectionInfo.date | date: ("app.date_formats.long_date" | translate) }}.
                          </span>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </p>
                </div>

                <div *ngIf="ctx.user.isInnovator() && sectionData.sectionInfo!.openTasksCount > 0" class="nhsuk-u-margin-bottom-5">
                  <p>
                    <theme-tag
                      type="{{ 'shared.catalog.innovation.task_status.OPEN.cssColorClass' | translate }}"
                      label="{{ 'shared.catalog.innovation.task_status.OPEN.name' | translate }}"
                    ></theme-tag>
                    This section has {{ sectionData.sectionInfo.openTasksCount }} {{ "dictionary.task" | pluralTranslate: sectionData.sectionInfo.openTasksCount | translate }} to
                    do. <a routerLink="/{{ baseUrl }}/record/sections/{{ sectionData.sectionInfo.id }}/tasks">View tasks.</a>
                  </p>
                </div>

                <shared-innovation-summary [sectionData]="sectionData" />
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container
      *ngIf="
        (innovation.status === 'IN_PROGRESS' && (innovation.support?.status === 'ENGAGING' || innovation.support?.status === 'WAITING') && ctx.user.isAccessorType()) ||
        (['NEEDS_ASSESSMENT', 'IN_PROGRESS'].includes(innovation.status) && ctx.user.isAssessment())
      "
    >
      <button routerLink="/{{ baseUrl }}/tasks/new" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3 nhsuk-u-margin-bottom-2">Assign a task for a section</button>
    </ng-container>

    <theme-custom-notifications-entrypoint-component *ngIf="ctx.user.isAccessorType()" [links]="customNotificationLinks" />

    <div
      *ngIf="ctx.user.isAccessorType() && innovation.status.includes('ASSESSMENT') && ['ENGAGING', 'WAITING'].includes(innovation.support?.status ?? '')"
      class="nhsuk-inset-text nhsuk-u-margin-top-0"
    >
      <span class="nhsuk-u-visually-hidden">Information:</span>
      <p>{{ "features.accessor.cant_do_while_in_assessment" | translate }}</p>
    </div>
  </div>
</theme-content-wrapper>

<ng-template #icon let-type="type" let-color="color">
  <theme-svg-icon [type]="type" [customColor]="color" />
  <span class="nhsuk-u-margin-right-2"></span>
</ng-template>
