<theme-content-wrapper [status]="pageStatus">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>{{ stores.authentication.isInnovatorType() ? 'Submitted' : 'Your' }} answers</h2>

      <dl class="nhsuk-summary-list">
        <div *ngFor="let item of summaryList" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
          <dd class="nhsuk-summary-list__value text-pre-wrap">
            <span *ngIf="item.allowHTML" [innerHTML]="item.value"></span>
            <span *ngIf="!item.allowHTML">{{ item.value }}</span>
          </dd>
          <dd *ngIf="stores.authentication.isInnovatorType()" class="nhsuk-summary-list__actions">
            <a routerLink="edit/{{ item.editStepNumber }}"> Change <span class="nhsuk-u-visually-hidden">{{ item.label | lowercase }}</span></a>
          </dd>
        </div>
      </dl>

      <button *ngIf="stores.authentication.isInnovatorType()" class="nhsuk-button nhsuk-button--secondary" (click)="onDeleteEvidence()">Delete this entry</button>

    </div>
  </div>

</theme-content-wrapper>
