<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <ng-container *ngIf="pageStep === 'INFO' && summaryList && documentsList">
        <h2>{{ ctx.user.isInnovator() ? "Your" : "Submitted" }} answers</h2>
        <dl class="nhsuk-summary-list">
          <div *ngFor="let item of summaryList" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">{{ item.label }}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">
              <span *ngIf="item.allowHTML" [innerHTML]="item.value"></span>
              <span *ngIf="!item.allowHTML">{{ item.value }}</span>
            </dd>
            <dd *ngIf="ctx.user.isInnovator()" class="nhsuk-summary-list__actions">
              <a routerLink="edit/{{ item.editStepNumber }}">
                Change <span class="nhsuk-u-visually-hidden">{{ item.label | lowercase }}</span></a
              >
            </dd>
          </div>
          <ng-container *ngIf="documentsList.length === 0">
            <dt class="nhsuk-summary-list__key">Document</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap"></dd>
            <dd class="nhsuk-summary-list__actions">
              <a routerLink="/{{ baseUrl }}/documents/new" [queryParams]="{ evidenceId: evidenceId }" [attr.aria-label]="'Continue'">Continue</a>
            </dd>
          </ng-container>
          <ng-container *ngIf="documentsList.length > 0">
            <div *ngFor="let document of documentsList; let i = index" class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Document <span *ngIf="documentsList.length > 1">{{ i + 1 }}</span>
              </dt>
              <dd class="nhsuk-summary-list__value text-pre-wrap">
                <a href="{{ document.file.url }}" attr.aria-label="Download {{ document.name }} file"
                  >{{ document.name }} ({{ document.file.extension | uppercase }}{{ document.file.size ? ", " + (document.file.size | bytesPrettyPrint) : "" }})</a
                >
                <p *ngIf="document.description" class="nhsuk-body-s">{{ document.description }}</p>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a routerLink="/{{ baseUrl }}/documents/{{ document.id }}" [queryParams]="{ evidenceId: evidenceId }" attr.aria-label="View {{ document.name }} details"
                  >More details</a
                >
              </dd>
            </div>
          </ng-container>
        </dl>
        <div class="d-flex align-items-center">
          <button *ngIf="ctx.user.isInnovator()" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-5 nhsuk-u-margin-right-5" (click)="gotoDeletePage()">
            Delete evidence
          </button>
          <a routerLink="/{{ sectionUrl }}">Back to section</a>
        </div>
      </ng-container>
      <ng-container *ngIf="pageStep === 'DELETE' && summaryList && documentsList">
        <p>If you delete this evidence, it cannot be recovered.</p>
        <div class="d-flex align-items-center">
          <button type="button" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-5" (click)="onDeleteEvidence()">Delete evidence</button>
          <a class="cursor-pointer" (click)="gotoInfoPage()">Cancel</a>
        </div>
      </ng-container>
    </div>
  </div>
</theme-content-wrapper>
