<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <ng-container *ngIf="sectionInfo.isNotStarted">
      <dl class="nhsuk-summary-list">
        <ng-container *ngFor="let item of allSteps; first as firstItem">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
              <p class="nhsuk-u-margin-0">{{ item.label }}</p>
              <p *ngIf="item.conditional === true" class="nhsuk-u-margin-0 nhsuk-u-font-weight-normal font-color-secondary">(depends on a previous answer)</p>
            </dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap"></dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="javascript:void(0);" routerLink="/{{ baseUrl }}/record/sections/{{ sectionInfo.id }}/edit" *ngIf="ctx.user.isInnovator() && firstItem">
                Start <span class="nhsuk-u-visually-hidden"> section</span></a
              >
            </dd>
          </div>
        </ng-container>
      </dl>
    </ng-container>

    <ng-container *ngIf="!sectionInfo.isNotStarted">
      <ng-container *ngIf="ctx.user.isAccessorOrAssessment() && sectionInfo.status.id === 'DRAFT'">
        <div *ngIf="innovation.status !== 'ARCHIVED'" class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>This is the last submitted version of this section. You cannot see any updates the innovator makes to the section, while it is in draft.</p>
          <p>When they resubmit the section you'll be able to see any changes they have made.</p>
        </div>
      </ng-container>

      <h2 *ngIf="title">{{ title }}</h2>

      <ng-container *ngIf="summaryList.length > 0">
        <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
          <ng-container *ngFor="let item of summaryList; index as i" class="nhsuk-summary-list__row">
            <ng-container [ngSwitch]="item.type">
              <ng-container *ngSwitchCase="'button'">
                <div *ngIf="ctx.user.isInnovator()" class="width-max-content">
                  <dt class="nhsuk-u-margin-top-5">
                    <a routerLink="edit/{{ item.editStepNumber }}" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-0">{{ item.label | irv3translate: "questions" }}</a>
                  </dt>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key nhsuk-u-margin-padding-4 nhsuk-u-padding-bottom-4">{{ item.label | irv3translate: "questions" }}</dt>
                  <dd class="nhsuk-summary-list__value text-pre-wrap">
                    <span *ngIf="item.allowHTML" [innerHTML]="item.value" appHighlight [searchTerm]="search"></span>
                    <span *ngIf="!item.allowHTML" appHighlight [searchTerm]="search">{{ item.value | irv3translate: "items" : item.stepId }}</span>
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a
                      href="javascript:void(0);"
                      routerLink="/{{ baseUrl }}/record/sections/{{ sectionInfo.id }}/edit/{{ item.editStepNumber }}"
                      [queryParams]="!item.value && !item.isNotMandatory ? {} : { isChangeMode: true }"
                      *ngIf="ctx.user.isInnovator() && item.editStepNumber && displayChangeButtonList.includes(i)"
                    >
                      @if (displayChangeButtonList.indexOf(i) !== displayChangeButtonList.length - 1 || item.value) {
                        Change
                      } @else {
                        Continue
                      }
                      <span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span>
                    </a>
                  </dd>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </dl>
      </ng-container>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
        <ng-container *ngIf="!isSectionDetailsPage && documentsList.length > 0">
          <ng-container *ngFor="let document of documentsList; index as i; first as firstItem; last as lastItem">
            <div class="nhsuk-summary-list__row" [ngClass]="{ 'nhsuk-summary-list--no-border': !lastItem }">
              <dt class="nhsuk-summary-list__key nhsuk-u-margin-padding-4">
                <span *ngIf="firstItem">Documents</span>
              </dt>
              <dd class="nhsuk-summary-list__value text-pre-wrap">
                <p>
                  <span>Document {{ i + 1 }}: </span
                  ><a href="{{ document.file.url }}"
                    >{{ document.name }} ({{ document.file.extension | uppercase }}{{ document.file.size ? ", " + (document.file.size | bytesPrettyPrint) : "" }})</a
                  >
                </p>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a routerLink="/{{ baseUrl }}/documents/{{ document.id }}" attr.aria-label="View {{ document.name }} details">More details</a>
              </dd>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!isSectionDetailsPage && evidencesList.length > 0">
          <ng-container *ngFor="let evidence of evidencesList; index as i; first as firstItem; last as lastItem">
            <div class="nhsuk-summary-list__row" [ngClass]="{ 'nhsuk-summary-list--no-border': !lastItem }">
              <dt class="nhsuk-summary-list__key nhsuk-u-margin-padding-4">
                <span *ngIf="firstItem">Evidence</span>
              </dt>
              <dd class="nhsuk-summary-list__value text-pre-wrap">
                <p>
                  <span>Evidence {{ i + 1 }}: </span><span appHighlight [searchTerm]="search">{{ evidence.value }}</span>
                </p>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <p><a href="{{ baseUrl }}/record/sections/{{ sectionInfo.id }}/evidences/{{ evidence.evidenceId }}">More details</a></p>
              </dd>
            </div>
          </ng-container>
        </ng-container>
      </dl>
    </ng-container>
  </div>
</div>
