    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
  
        <ng-container *ngIf="sectionInfo.isNotStarted">
          <dl class="nhsuk-summary-list">
            <ng-container *ngFor="let item of sectionInfo.allStepsList | keyvalue; first as firstItem">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
                  <p class="nhsuk-u-margin-0">{{ item.value.label }}</p>
                  <p *ngIf="item.value.conditional === true" class="nhsuk-u-margin-0 nhsuk-u-font-weight-normal font-color-secondary">(depends on a previous answer)</p>
                </dt>
                <dd class="nhsuk-summary-list__value text-pre-wrap">
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a *ngIf="isInnovatorType && firstItem" routerLink="edit"> Start <span class="nhsuk-u-visually-hidden"> section</span></a>
                </dd>
              </div>
            </ng-container>
          </dl>
        </ng-container>
  
        <ng-container *ngIf="!sectionInfo.isNotStarted">
          
          <div *ngIf="isInnovatorType && sectionInfo.openTasksCount > 0" class="nhsuk-u-margin-bottom-5">
            <p>
              <theme-tag type="{{ 'shared.catalog.innovation.task_status.OPEN.cssColorClass' | translate }}" label="{{ 'shared.catalog.innovation.task_status.OPEN.name' | translate }}"></theme-tag>
              This section has {{ sectionInfo.openTasksCount }} {{ ('dictionary.task' | pluralTranslate: sectionInfo.openTasksCount | translate)  }} to do. <a routerLink="/{{ baseUrl }}/record/sections/{{sectionInfo.id}}/tasks">View tasks.</a>
            </p>
          </div>
  
          <ng-container *ngIf="summaryList.length > 0">
            <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
              <ng-container *ngFor="let item of summaryList" class="nhsuk-summary-list__row">
                <ng-container [ngSwitch]="item.type">
                  <ng-container *ngSwitchCase="'button'">
                    <div *ngIf="isInnovatorType" class="width-max-content">
                      <dt class="nhsuk-u-margin-top-5">
                        <a routerLink="edit/{{ item.editStepNumber }}" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-0">{{ item.label }}</a>
                      </dt>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key nhsuk-u-margin-padding-4 nhsuk-u-padding-bottom-4">{{ item.label }}</dt>
                      <dd class="nhsuk-summary-list__value text-pre-wrap">
                        <span *ngIf="item.allowHTML" [innerHTML]="item.value"></span>
                        <span *ngIf="!item.allowHTML">{{ item.value }}</span>
                      </dd>
                      <dd  class="nhsuk-summary-list__actions">
                        <a *ngIf="isInnovatorType && item.editStepNumber" (click)="onClickChange(item.editStepNumber)" class="nhsuk-back-link__link cursor-pointer"> Change <span class="nhsuk-u-visually-hidden"> {{ item.label | lowercase }} </span></a>
                      </dd>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!isSectionDetailsPage && documentsList.length > 0">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key nhsuk-u-margin-padding-4 nhsuk-u-padding-bottom-4">Documents</dt>
                  <dd class="nhsuk-summary-list__value text-pre-wrap">
                    <ng-container *ngFor="let document of documentsList; index as i">
                     <p><span>Document {{ i +1 }}: </span><a href="{{ document.file.url }}">{{ document.name }} ({{ document.file.extension | uppercase }}{{ document.file.size ? ', ' + (document.file.size | bytesPrettyPrint) : ''}})</a></p>
                    </ng-container>
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                  </dd>
                </div>
              </ng-container>
              
            </dl>
          </ng-container>
  
        </ng-container>
        
      </div>
    </div>