<theme-content-wrapper [status]="pageStatus()">
  <div class="nhsuk-inset-text nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2 nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>You can add multiple documents to provide additional information for this certification.</p>
  </div>
  <ng-container *ngIf="pageStatus() === 'READY'">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <p *ngIf="regulationsDocumentsList.length === 0">There are no documents uploaded for this regulation.</p>

        <dl *ngIf="regulationsDocumentsList.length > 0" class="nhsuk-summary-list nhsuk-u-margin-bottom-6">
          <div *ngFor="let doc of regulationsDocumentsList; index as i" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Document {{i+1}}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">
              <p>
                <a href="{{ doc.file.url }}" attr.aria-label="Download {{ doc.name }} file"
                  >{{ doc.name }} ({{ doc.file.extension | uppercase }}{{ doc.file.size ? ", " + (doc.file.size | bytesPrettyPrint) : "" }})</a
                >
              </p>
              <p *ngIf="doc.description">{{ doc.description }}</p>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a routerLink="{{baseUrl}}/documents/{{doc.id}}" attr.aria-label="View {{ doc.name }} details">More details</a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </ng-container>
  <div class="nhsuk-u-margin-bottom-6">
    <a class="nhsuk-button nhsuk-u-margin-right-4">Add another document</a>
    <a class="nhsuk-button nhsuk-button--secondary">Save and continue</a>
  </div>
</theme-content-wrapper>
