<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <ng-container *ngIf="!(isArchived && (isAccessorType || isAssessmentType))" [ngSwitch]="this.sectionSummaryData.sectionInfo.status.id">
          <p class="d-flex">
            <ng-container *ngSwitchCase="'NOT_STARTED'">
              <theme-svg-icon type="error" customColor="grey"></theme-svg-icon>
              <span class="nhsuk-u-margin-right-2"></span>
              <span>This section has not been started yet.</span>
            </ng-container>

            <ng-container *ngSwitchCase="'DRAFT'">
              <theme-svg-icon type="edit"></theme-svg-icon>
              <span class="nhsuk-u-margin-right-2"></span>

              <ng-container *ngIf="isInnovatorType">
                <ng-container *ngIf="innovation.status !== 'CREATED'">
                  <span>This section is in draft. Any changes you make to this section will not be visible to others until you submit updates.</span>
                </ng-container>
                <ng-container *ngIf="innovation.status === 'CREATED'">
                  <div>
                    <p>This section is in draft. You need to complete the section before you can submit your record for needs assessment.</p>
                    <p class="nhsuk-inset-text nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0 nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
                      If you are unable to answer a question yet, you can still mark the section as complete. This will help us match you with organisations that can support you in
                      these areas.
                    </p>
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="!isInnovatorType">
                <span>This section is in draft.</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'SUBMITTED'">
              <ng-container *ngIf="this.sectionSummaryData.sectionInfo.date !== '' && this.sectionSummaryData.sectionInfo.submittedBy !== null">
                <theme-svg-icon type="success"></theme-svg-icon>
                <span class="nhsuk-u-margin-right-2"></span>
                <span>
                  This section was last submitted by {{ this.sectionSummaryData.sectionInfo.submittedBy.name }} on
                  {{ this.sectionSummaryData.sectionInfo.date | date: ("app.date_formats.long_date" | translate) }}.
                  <span class="d-inline-block" *ngIf="isInnovatorType">You can update this section at any time.</span>
                </span>
              </ng-container>
            </ng-container>
          </p>
        </ng-container>
      </div>

      <div *ngIf="isInnovatorType && this.sectionSummaryData.sectionInfo.openTasksCount > 0" class="nhsuk-u-margin-bottom-5">
        <p>
          <theme-tag
            type="{{ 'shared.catalog.innovation.task_status.OPEN.cssColorClass' | translate }}"
            label="{{ 'shared.catalog.innovation.task_status.OPEN.name' | translate }}"
          ></theme-tag>
          This section has {{ this.sectionSummaryData.sectionInfo.openTasksCount }}
          {{ "dictionary.task" | pluralTranslate: this.sectionSummaryData.sectionInfo.openTasksCount | translate }} to do.
          <a routerLink="/{{ baseUrl }}/record/sections/{{ this.sectionSummaryData.sectionInfo.id }}/tasks">View tasks.</a>
        </p>
      </div>

      <ng-container *ngIf="isInnovatorType && this.sectionSummaryData.sectionInfo.isNotStarted">
        <button type="button" routerLink="edit" class="nhsuk-button nhsuk-u-margin-right-3">Start now</button>
      </ng-container>

      <ng-container *ngIf="pageStatus === 'READY'">
        <shared-innovation-summary [sectionData]="this.sectionSummaryData" title="Questions and answers" />
      </ng-container>

      <ng-container *ngIf="this.sectionSummaryData.sectionInfo.hasEvidences">
        <h2 class="nhsuk-u-margin-top-4">Evidence</h2>
        <button *ngIf="isInnovatorType" routerLink="evidences/new" class="nhsuk-button nhsuk-button--secondary">Add evidence</button>
        <p *ngIf="sectionSummaryData.evidencesList.length === 0">There are no evidences on this section.</p>
        <dl *ngIf="sectionSummaryData.evidencesList.length > 0" class="nhsuk-summary-list">
          <div *ngFor="let item of sectionSummaryData.evidencesList; index as i" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Evidence {{ i + 1 }}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap" appHighlight [searchTerm]="search">{{ item.label }}</dd>
            <dd class="nhsuk-summary-list__actions">
              <a routerLink="evidences/{{ item.evidenceId }}" attr.aria-label="View {{ item.value }} details">More details</a>
            </dd>
          </div>
        </dl>
      </ng-container>

      <ng-container *ngIf="shouldShowDocuments">
        <h2 class="nhsuk-u-margin-top-4">Documents</h2>
        <button
          *ngIf="isInnovatorType"
          routerLink="/{{ baseUrl }}/documents/new"
          [queryParams]="{ sectionId: this.sectionSummaryData.sectionInfo.id }"
          class="nhsuk-button nhsuk-button--secondary"
        >
          Upload a new document
        </button>
        <p *ngIf="sectionSummaryData.documentsList.length === 0">There are no documents uploaded to this section.</p>
        <dl *ngIf="sectionSummaryData.documentsList.length > 0" class="nhsuk-summary-list">
          <div *ngFor="let document of sectionSummaryData.documentsList; let i = index" class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Document {{ i + 1 }}</dt>
            <dd class="nhsuk-summary-list__value text-pre-wrap">
              <a href="{{ document.file.url }}" attr.aria-label="Download {{ document.name }} file"
                >{{ document.name }} ({{ document.file.extension | uppercase }}{{ document.file.size ? ", " + (document.file.size | bytesPrettyPrint) : "" }})</a
              >
              <p *ngIf="document.description" class="nhsuk-body-s">{{ document.description }}</p>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a routerLink="/{{ baseUrl }}/documents/{{ document.id }}" attr.aria-label="View {{ document.name }} details">More details</a>
            </dd>
          </div>
        </dl>
      </ng-container>

      <div *ngIf="isInnovatorType">
        <button *ngIf="this.sectionSummaryData.sectionInfo.submitButton.show" (click)="onSubmitSection()" class="nhsuk-button nhsuk-u-margin-top-5">
          {{ this.sectionSummaryData.sectionInfo.submitButton.label }}
        </button>
      </div>

      <ng-container
        *ngIf="
          (innovation.status==='IN_PROGRESS' && (innovation.support?.status === 'ENGAGING' || innovation.support?.status === 'WAITING') && isAccessorType) ||
          (['NEEDS_ASSESSMENT', 'IN_PROGRESS'].includes(innovation.status) && isAssessmentType)
        "
      >
        <button
          routerLink="/{{ baseUrl }}/tasks/new"
          [queryParams]="{ section: this.sectionSummaryData.sectionInfo.id }"
          class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-3"
        >
          Assign a task for this section
        </button>

      </ng-container>
        
      <div *ngIf="isAccessorType && innovation.status.includes('ASSESSMENT') && ['ENGAGING', 'WAITING'].includes(innovation.support?.status ?? '')" class="nhsuk-inset-text nhsuk-u-margin-top-0">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>{{ "features.accessor.cant_do_while_in_assessment" | translate}}</p>
      </div>

      <ng-container *ngIf="isAssessmentType" [ngSwitch]="innovation.status">
        <button *ngSwitchCase="'WAITING_NEEDS_ASSESSMENT'" routerLink="/assessment/innovations/{{ innovation.id }}/assessments/new" class="nhsuk-button nhsuk-u-margin-top-5">
          Start needs assessment
        </button>
        <button
          *ngSwitchCase="'NEEDS_ASSESSMENT'"
          routerLink="/assessment/innovations/{{ innovation.id }}/assessments/{{ innovation.assessment?.id || '' }}/edit"
          class="nhsuk-button nhsuk-u-margin-top-5"
        >
          Continue needs {{ assessmentType }}
        </button>
        <button
          *ngSwitchCase="'IN_PROGRESS'"
          routerLink="/assessment/innovations/{{ innovation.id }}/assessments/{{ innovation.assessment?.id || '' }}"
          class="nhsuk-button nhsuk-u-margin-top-5"
        >
          View needs assessment
        </button>
      </ng-container>

      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li *ngIf="previousSection" class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev cursor-pointer" routerLink="../{{ previousSection.id }}">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">{{ previousSection.title }}</span>
              <theme-svg-icon type="arrow-left" />
            </a>
          </li>
          <li *ngIf="nextSection" class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next cursor-pointer" routerLink="../{{ nextSection.id }}">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">{{ nextSection.title }}</span>
              <theme-svg-icon type="arrow-right" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</theme-content-wrapper>
