<theme-content-wrapper [status]="pageStatus">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>Use this information to understand whether an innovation is in scope for support from an organisation on the service.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <dl class="nhsuk-summary-list">
        <div *ngFor="let organisation of organisationsInformation" class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            <a [href]="organisation.link" target="_blank" rel="noopener noreferrer" attr.aria-label="{{ organisation.name }} (Opens in a new window)">{{ organisation.name }}</a>
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ng-container *ngFor="let info of organisation.information">
              <ng-container [ngSwitch]="info.type">
                <ng-container *ngSwitchCase="'BULLET_LIST'">
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <ng-container *ngFor="let value of info.values">
                      <li>
                        <span>{{ value.description }} </span
                        ><span *ngIf="value.link"
                          ><a [href]="value.link.url" target="_blank" rel="noopener noreferrer" attr.aria-label="{{ value.link.label }}">{{ value.link.label }}</a>
                        </span>
                      </li>
                      <ul *ngIf="value.subBullets" class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-0">
                        <li *ngFor="let subBullet of value.subBullets" class="nhsuk-u-margin-0">{{ subBullet }}</li>
                      </ul>
                    </ng-container>
                  </ul>
                </ng-container>

                <ng-container *ngSwitchCase="'PARAGRAPH'">
                  <p *ngFor="let value of info.values">{{ value.description }}</p>
                </ng-container>
              </ng-container>
            </ng-container>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</theme-content-wrapper>
